<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재검사조회</title>
</head>
<body>
<script type="text/javascript" th:src="@{/js/modal/rsc/findResource.js}"></script>
<script type="text/javascript" th:src="@{/js/rsc/inspList.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/pagination.js}"></script>
<link th:href="@{/css/pagination.css}" rel="stylesheet" />
<link th:href="@{/css/rsc/List.css}" rel="stylesheet" />
	<div class="pcoded-main-container">
		<h1>자재 검사 조회</h1>
		<hr>
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<form>
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="rscInspCode" th:text="검사코드"></label>
								<input type="text" id="rscInspCode" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword}">
							</div>
							<div class="form-group mt-3">
								<label for="rsccode" th:text="자재코드"></label> 
								<input type="text" id="rsccode" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword2}">
							</div>
							<div class="form-group mt-3">
								<label for="rscname" th:text="자재명"></label> 
								<input type="text" id="rscname" class="form-control mx-sm-3" readonly>
							</div>
						</div>
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="rscInspDate" th:text="검사일자"></label> 
								<input type="date" id="rscInspSDate" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword3}">~
								<input type="date" id="rscInspEDate" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword4}">
							</div>
							<button type="button" class="btn  btn-primary" id="search">조회</button>
						</div>
					</form>
					<form name="searchForm" id="searchForm">
						<input type='hidden' id ='type' name="type" th:value="${pageMaker.cri.type}">
						<input type='hidden' name='keyword' th:value='${pageMaker.cri.keyword}' />
						<input type='hidden' name='keyword2' th:value='${pageMaker.cri.keyword2}' />
						<input type='hidden' name='keyword3' th:value='${pageMaker.cri.keyword3}' />
						<input type='hidden' name='keyword4' th:value='${pageMaker.cri.keyword4}' />
						<input type='hidden' name='pageNum' value='1'>
						<input type='hidden' name='amount' value='${pageMaker.cri.amount}'>
					</form>
				</div>
				<div class="card-body table-border-style">
					<div class="table-responsive" th:replace="/rsc/table/inspListTable.html :: insplisttable" id="insplisttable">

					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- 자재조회 Modal -->
    <th:block th:replace="~{/fragments/modal/findresource :: findresource}"></th:block>
</body>
</html>