<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재출고조회</title>
</head>
<body>
	<script type="text/javascript"
		th:src="@{/js/modal/rsc/findResource.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsc/outList.js}"></script>
	<script type="text/javascript" th:src="@{/js/pages/pagination.js}"></script>
	<link th:href="@{/css/pagination2.css}" rel="stylesheet" />
	<link th:href="@{/css/rsc/List.css}" rel="stylesheet" />
	<div class="pcoded-main-container">
		<h1>자재 출고 조회</h1>
		<hr>
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<form>
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="rscOutCode" th:text="출고코드"></label> <input
									type="text" id="rscOutCode" class="form-control mx-sm-3">
							</div>
							<div class="form-group mt-3">
								<label for="rsccode" th:text="자재코드"></label> <input type="text"
									id="rsccode" class="form-control mx-sm-3">
							</div>
							<div class="form-group mt-3">
								<label for="rscname" th:text="자재명"></label> <input type="text"
									id="rscname" class="form-control mx-sm-3" readonly>
							</div>
						</div>
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="rscOutDate" th:text="출고일자"></label> <input
									type="date" id="rscOutSDate" class="form-control mx-sm-3">~
								<input type="date" id="rscOutEDate" class="form-control mx-sm-3">
							</div>
							<button type="button" class="btn  btn-primary" id="search">조회</button>
						</div>
					</form>
					<form name="searchForm" id="searchForm">
						<input type='hidden' id ='type' name="type" th:value="${pageNMaker.cri.type}">
						<input type='hidden' name='keyword' th:value='${pageNMaker.cri.keyword}' />
						<input type='hidden' name='keyword2' th:value='${pageNMaker.cri.keyword2}' />
						<input type='hidden' name='keyword3' th:value='${pageNMaker.cri.keyword3}' />
						<input type='hidden' name='keyword4' th:value='${pageNMaker.cri.keyword4}' />
						<input type='hidden' name='pageNum' value='1'>
						<input type='hidden' name='amount' value='${pageNMaker.cri.amount}'>
					</form>
				</div>
				<div class="card-body body-size-mod">
						<div th:replace="/rsc/table/outListTable.html :: outlisttable"
							id="outlisttable"></div>
					
				</div>
			</div>
		</div>
		<!-- 자재조회 Modal -->
		<th:block
			th:replace="~{/fragments/modal/findresource :: findresource}"></th:block>
</body>
</html>