<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재반품조회</title>
</head>
<body>
<link th:href="@{/css/rsc/List.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/modal/prod/findvendor.js}"></script>
    <script type="text/javascript" th:src="@{/js/rsc/returnList.js}"></script>
	<div class="pcoded-main-container">
		<h1>자재 반품 조회</h1>
		<hr>
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<form>
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="rscReturnCode" th:text="반품코드"></label>
								<input type="text" id="rscReturnCode" class="form-control mx-sm-3">
							</div>
							<div class="form-group mt-3">
								<label for="vendor" th:text="거래처코드"></label> 
								<input type="text" id="vendor" class="form-control mx-sm-3"
										data-toggle="modal" data-target=".bd-example-modal-lg">
							</div>
							<div class="form-group mt-3">
								<label for="vendorName" th:text="거래처"></label> 
								<input type="text" id="vendorName" class="form-control mx-sm-3" readonly>
							</div>
						</div>
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="rscInDate" th:text="반품일자"></label> 
								<input type="date" id="rscReturnSDate" class="form-control mx-sm-3">~
								<input type="date" id="rscReturnEDate" class="form-control mx-sm-3">
							</div>
							<button type="button" class="btn  btn-primary" id="search">조회</button>
						</div>
					</form>
				</div>
				<div class="card-body table-border-style">
					<div class="table-responsive" th:replace="/rsc/table/returnListTable.html :: returnlisttable" id="returnlisttable">
						
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- 거래처조회 Modal -->
    <th:block th:replace="~{/fragments/modal/findvendor :: findvendor}"></th:block>
    
</body>
</html>