.btn {
	margin-top: 1rem;
}
h1 {
    padding-top : 2%;
    padding-left : 2%;
    padding-bottom : 1.5%;
}
h3 {
    padding-top : 1%;
    padding-left : 2%;
    padding-bottom : 1%;
}
.rightBtn {
    float : right;
    width : 30%;
    text-align : right;
}
.form-inline {
    width : 100%;
    margin : auto;
}
.swal2-container {
  z-index: 20000 !important;
}

.nullTd {
	border : 1px solid red;
}

.canModifyTd {
	background: rgba(241, 196, 15, 0.1);
}
