.btn {
	margin-top: 1rem;
}
h1 {
    padding-top : 2%;
    padding-left : 2%;
    padding-bottom : 1.5%;
}
h3 {
    padding-top : 1%;
    padding-left : 2%;
    padding-bottom : 1%;
}
.rightBtn {
    float : right;
    width : 40%;
    text-align : right;
}
.form-inline {
    width : 100%;
    margin : auto;
}
.swal2-container {
  z-index: 20000 !important;
}

.nullTd {
	border : 2px solid red !important;
}

.sameTd {
	border : 2px solid blue !important;
}

.canModifyTd {
	background: rgba(241, 196, 15, 0.1);
}

.canModifyTbody > tr > td:not(.cantModifyTd){
	background: rgba(241, 196, 15, 0.1);
}

select {
	width : 100%;
	border : none;
	border-radius : 0;
	background-color: rgba( 255, 255, 255, 0 );
	-webkit-appearance : none;
	-moz-appearance : none;
	appearance :none;
	text-align-last: center;
	text-align: center;
	box-shadow : none;
}

.modal table tbody tr {
	cursor:pointer;
}

.curPo {
	cursor:pointer;
}

#empid, #deptName, #vendor {
	cursor : pointer;
}

#planManageTable input[type="date"] {
  height: 100%;
  text-align: center;
  border: 0;
  width: 100%;
  background: rgba(241, 196, 15, 0);
}

.modal .table-responsive{
	height: 43vh;
	overflow : auto;
}


#empTable tbody td,
#planManageTable tbody td,
#deptTable tbody td,
#vendorTable tbody td,
#finProdTable tbody td,
#bomTable tbody td,
#procTable tbody td,
#bomRscTable tbody td,
#lineTable tbody td,
#lineProcTable tbody td,
#faultyTable tbody td,
#nonOpTable tbody td,
#rscTable tbody td
{
	height: 2.5rem;
  	text-align: center;
	padding : 0px;
	vertical-align :middle;
}


#empTable thead th:first-child,
#planManageTable thead th:first-child,
#deptTable thead th:first-child,
#vendorTable thead th:first-child,
#finProdTable thead th:first-child,
#bomTable thead th:first-child,
#procTable thead th:first-child,
#bomRscTable thead th:first-child,
#lineTable thead th:first-child,
#lineProcTable thead th:first-child,
#faultyTable thead th:first-child,
#nonOpTable thead th:first-child,
#rscTable thead th:first-child
{
	width : 5%;
}

<!--Chart-->
.parentsCard {
  width: 100%;
  margin : auto;
}
.firstCard {
  float : left;
  width: 28%;
  box-sizing : border-box;
  margin-left : 4%;
}
.secondCard {
  float : left;
  width: 28%;
  box-sizing : border-box;
  margin : 0 4%;
}
.thirdCard {
  float : right;
  width: 28%;
  box-sizing : border-box;
  margin-right : 4%;
}


table tbody td < input[type="checkbox"],
table tbody td < select {
	line-height: 100%;
	vertical-align : middle;
}



.twoTableBtn h1 {
	width : 60%;
	float : left;
	height : 40%;
}
.twoTableBtn div {
	height : 40%;
}
.twoTableBtn div button {
	float : right;
	margin : 4% 1% 1% 0 !important;
	height : 60%;
}