<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<th:block th:fragment="findRscOut">


		<div class="modal fade" id="findRscOutModal" tabindex="-1"
			role="dialog" aria-labelledby="findRscOutModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="findRscOutModalLabel">최근 출고 내역 조회</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-inline modal-search-fm">
							<div class="form-group mt-3">
								<label for="rscOutCd" th:text="출고코드"></label> 
								<input type="text" id="rscOutCd" name="rscOutCd"
									class="form-control mx-sm-3">
							</div>
							<div class="form-group mt-3">
								<label for="rscOutDt" th:text="출고일자"></label> 
								<input type="date" id="rscOutDt" name="rscOutDt"
									class="form-control mx-sm-3">
							</div>
							<button type="button" class="btn  btn-primary" id="searchOut">조회</button>
						</div>
						<div class="card-body table-border-style">
							<div class="table-responsive overflow">
								<table class="table table-hover" id="findRscOutTable">
									<thead>
										<tr>
											<th><input type="checkbox" id="modalAllCheck"></th>
											<th th:text="출고코드"></th>
											<th th:text="출고일자"></th>
											<th th:text="거래처"></th>
											<th th:text="자재명"></th>
											<th th:text="출고수량"></th>
										</tr>
									</thead>
									<tbody id="findRscOuttbody">
									
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
							<button type="button" class="btn  btn-primary" id="addBtn">선택 추가</button>
					</div>
				</div>
			</div>
		</div>



	</th:block>
</body>
</html>