.clickable {
  cursor: pointer;
}

.hover {
  text-decoration: underline;
}

.pagingactive {
  padding: 5px 10px 5px 10px;
  background: #1abc9c;
  color: white;
  border-radius: 100%;
}

.page-number {
  padding: 5px 10px 5px 10px;
}

.page-number:hover {
  padding: 5px 10px 5px 10px;
  background: #e9e9e9;
  border-radius: 100%;
}