<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.common.mapper.CommonMapper">
	<!-- 검색조건 SQL -->
	<sql id="criteria">
		<if test="type != null and type != ''">
			<choose>
				<when test="type == 'a'.toString()">
					and mchn_code = #{keyword}
				</when>
				<when test="type == 'b'.toString()">
					and mchn_name LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</if> <!-- keyword가 여러개일 경우 Criteria에서 keyword2....사용 -->
	</sql>
	<!--테이블의 행 총 갯수 구하기 + 검색 후의 총 행의 갯수도 구하기 -->
	<select id="getMchnTotalCount" resultType="int">
		SELECT COUNT(*) FROM BF_EQP_MCHN
		<where>
			<include refid="criteria"></include>
		</where>
	</select>

	
	<select id="findMchn" resultType="com.mes.bf.eqp.vo.MchnVO">
	  <![CDATA[
			SELECT
		    x.*
		FROM ( 
		        SELECT 
		            rownum AS rnum, a.* 
		        FROM (
		                SELECT * 
		                FROM BF_EQP_MCHN
		                order by 1
		             ) a
		
		        WHERE 
		]]>
		 <![CDATA[
		            rownum <=  #{pageNum}*#{amount}
			]]>     
			<include refid="criteria"></include>        
		            ) x
		         
					
		WHERE 
		    x.rnum >  (#{pageNum}-1)*#{amount}
		 
	</select>
	<!--  ex_ 한페이지에 표시될 행의 갯수 amount = 10 일경우
		현재 페이지가 1 일 때 -> 1*10 = 10, 1-1 * 10 = 0
		즉, 0~10까지 출력됨
	 -->
	

</mapper>