<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.common.mapper.CommonMapper">
	<!-- 검색조건 SQL -->
	<sql id="criteria">
		<if test="type != null and type != ''">
			<choose>
				<when test="type == 'a'.toString()">
					and mchn_code = #{keyword}
				</when>
				<when test="type == 'b'.toString()">
					and mchn_name LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</if> <!-- keyword가 여러개일 경우 Criteria에서 keyword2....사용 -->
	</sql>
	<!--테이블의 행 총 갯수 구하기 + 검색 후의 총 행의 갯수도 구하기 -->
	<select id="getMchnTotalCount" resultType="int">
		SELECT COUNT(*) FROM BF_EQP_MCHN
		<where>
			<include refid="criteria"></include>
		</where>
	</select>

	
	<select id="findMchn" resultType="com.mes.bf.eqp.vo.MchnVO">
	  <![CDATA[
			SELECT
		    x.*
		FROM ( 
		        SELECT 
		            rownum AS rnum, a.* 
		        FROM (
		                SELECT * 
		                FROM BF_EQP_MCHN
		                order by 1
		             ) a
		
		        WHERE 
		]]>
		 <![CDATA[
		            rownum <=  #{pageNum}*#{amount}
			]]>     
			<include refid="criteria"></include>        
		            ) x
		         
					
		WHERE 
		    x.rnum >  (#{pageNum}-1)*#{amount}
		 
	</select>
	<!--  ex_ 한페이지에 표시될 행의 갯수 amount = 10 일경우
		현재 페이지가 1 일 때 -> 1*10 = 10, 1-1 * 10 = 0
		즉, 0~10까지 출력됨
	 -->
	<select id="findOutFinForMain" resultType="com.mes.bf.sales.vo.SlsOutDtlForMainVO">
		SELECT OH.SLS_OUT_HD_DATE AS SLS_OUT_HD_DATE, SUM(OD.SLS_OUT_DTL_VOL) AS SLS_OUT_DTL_VOL
	            FROM BF_SALES_OUT_HD OH
	            	JOIN BF_SALES_OUT_DTL OD
	            	  ON OH.SLS_OUT_HD_NO = OD.SLS_OUT_HD_NO
	            LEFT OUTER JOIN BF_CMN_FINISH_PRODUCT_CODE F
	            	  ON F.FIN_PRD_CD_CODE = OD.FIN_PRD_CD_CODE
	            WHERE OH.SLS_OUT_HD_DATE BETWEEN SYSDATE-13 AND SYSDATE
	            	GROUP BY OH.SLS_OUT_HD_DATE
	            ORDER BY SLS_OUT_HD_DATE
        <!-- <![CDATA[ WHERE ROWNUM <=4 ]]> -->
		
	</select>
	
	<select id="findInstOrd" resultType="int">
		SELECT COUNT(*)
		FROM BF_PROD_INSTRUCTION I
		JOIN BF_PROD_INST_DETAIL ID
		ON I.INST_NO = ID.INST_NO
		WHERE TO_CHAR(I.INST_DATE,'YY/MM/DD') = TO_CHAR(CURRENT_TIMESTAMP,'YY/MM/DD')
	</select>
	<select id="findProcPerf" resultType="int">
		SELECT COUNT(*)
		FROM BF_PROD_PROCESS_PERFORMANCE P
		JOIN BF_PROD_PROCESS PP
		ON P.PROCESS_NO = PP.PROCESS_NO
		WHERE PP.PROC_CD_NAME = '포장'
		AND TO_CHAR(CURRENT_TIMESTAMP,'YYYY-MM-DD') = SUBSTR(WORK_END_TIME,0,10)
	</select>
	<select id="findFinOut" resultType="int">
		SELECT COUNT(*)
        FROM BF_SALES_OUT_HD OH
            JOIN BF_SALES_OUT_DTL OD
              ON OH.SLS_OUT_HD_NO = OD.SLS_OUT_HD_NO
		WHERE TO_CHAR(OH.SLS_OUT_HD_DATE,'YY/MM/DD') = TO_CHAR(CURRENT_TIMESTAMP,'YY/MM/DD')
	</select>
</mapper>