<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:fragment="inlisttable" id="inlisttable">
	<table class="table table-striped">
		<thead>
			<tr>
				<th th:text="입고코드"></th>
				<th th:text="입고일자"></th>
				<th th:text="검사일자"></th>
				<th th:text="자재코드"></th>
				<th th:text="자재명"></th>
				<th th:text="입고수량"></th>
				<th th:text="자재LOT번호"></th>
				<th th:text="상태"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="inList : ${inList}">
				<td th:text="${inList.rscInCode}"></td>
				<td th:text="${inList.rscInDate}"></td>
				<td th:text="${inList.rscInspDate}"></td>
				<td th:text="${inList.rscCdCode}"></td>
				<td th:text="${inList.rscCdName}"></td>
				<td th:text="${inList.rscInVol}"></td>
				<td th:text="${inList.rscLotNo}"></td>
				<td><span th:if="${inList.rscInspSt == 0}">입고대기</span> <span
					th:if="${inList.rscInspSt == 1}">입고완료</span></td>
			</tr>
		</tbody>
	</table>
</div>
</head>

</html>