<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:fragment="insplisttable" id="insplisttable">
	<table class="table table-striped">
		<thead>
			<tr>
				<th th:text="검사코드"></th>
				<th th:text="검사일자"></th>
				<th th:text="자재코드"></th>
				<th th:text="자재명"></th>
				<th th:text="검사수량"></th>
				<th th:text="불량수량"></th>
				<th th:text="통과수량"></th>
				<th th:text="단위"></th>
				<th th:text="상태"></th>
				<th th:text="검사자"></th>
				<th th:text="비고"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="insp : ${inspList}">
				<td th:text="${insp.rscInspCode}"></td>
				<td th:text="${insp.rscInspDate}"></td>
				<td th:text="${insp.rscCdCode}"></td>
				<td th:text="${insp.rscCdName}"></td>
				<td>
					<span th:if="${insp.rscInspVol > 99 }" th:text="${#numbers.formatInteger(insp.rscInspVol, 3, 'COMMA')}"></span>
					<span th:if="${insp.rscInspVol < 100 }" th:text="${insp.rscInspVol}"></span>
				</td>
				<td>
					<span th:if="${insp.rscInferVol > 99 }" th:text="${#numbers.formatInteger(insp.rscInferVol, 3, 'COMMA')}"></span>
					<span th:if="${insp.rscInferVol < 100 }" th:text="${insp.rscInferVol}"></span>
				</td>
				<td>
					<span th:if="${insp.rscPassVol > 99 }" th:text="${#numbers.formatInteger(insp.rscPassVol, 3, 'COMMA')}"></span>
					<span th:if="${insp.rscPassVol < 100 }" th:text="${insp.rscPassVol}"></span>
				</td>
				<td th:text="${insp.rscCdUnit}"></td>
				<td><span th:if="${insp.rscInspSt == 0}" class="badge badge-light-primary">입고대기</span> <span
					th:if="${insp.rscInspSt == 1}" class="badge badge-light-secondary">입고완료</span></td>
				<td th:text="${insp.empName}"></td>
				<td th:text="${insp.rscInspRemk}"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:replace="~{fragments/pagination :: pagination-nav}"></th:block>
</div>
</head>
</html>