<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:fragment="orderlisttable" id="ordtable">
	<table class="table table-striped">
		<thead>
			<tr>
				<th th:text="발주코드"></th>
				<th th:text="발주일자"></th>
				<th th:text="발주명"></th>
				<th th:text="발주품목"></th>
				<th th:text="거래처"></th>
				<th th:text="발주수량"></th>
				<th th:text="도착수량"></th>
				<th th:text="단위"></th>
				<th th:text="금액"></th>
				<th th:text="상태"></th>
				<th th:text="비고"></th>
				<th th:text="담당자"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="olist : ${olist}">
				<td th:text="${olist.rscOrderCode}"></td>
				<td th:text="${olist.rscOrderDate}"></td>
				<td th:text="${olist.rscOrderTitle}"></td>
				<td th:text="${olist.rscCdName}"></td>
				<td th:text="${olist.vendCdNm}"></td>
				<td th:text="${olist.rscOrderVol}"></td>
				<td th:text="${olist.rscOrderArv}"></td>
				<td th:text="${olist.rscCdUnit}"></td>
				<td th:text="${olist.rscOrderPrc}"></td>
				<td><span th:if="${olist.rscOrderSt == 0}" th:text="발주완료"  class="badge badge-light-primary"/>
					<span th:if="${olist.rscOrderSt == 1}" th:text="부분입고완료"  class="badge badge-light-primary"/>
					<span th:if="${olist.rscOrderSt == 2}" th:text="입고완료"  class="badge badge-light-secondary"/></td>
				<td th:text="${olist.rscOrderDtlRemk}"></td>
				<td th:text="${olist.empId}"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:replace="~{fragments/pagination :: pagination-nav}"></th:block>
	</div>
</head>
</html>