<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:fragment="orderlisttable" id="ordtable">
	<table class="table table-striped">
		<thead>
			<tr>
				<th th:text="발주코드"></th>
				<th th:text="발주일자"></th>
				<th colspan="7" th:text="발주명"></th>
				<th th:text="담당자"></th>
				
			</tr>
			<tr>
				<th></th>
				<th></th>
				<th th:text="발주품목"></th>
				<th th:text="거래처"></th>
				<th th:text="발주수량"></th>
				<th th:text="도착수량"></th>
				<th th:text="단위"></th>
				<th th:text="금액"></th>
				<th th:text="상태"></th>
				<th th:text="비고"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="olist : ${olist}">
				<td th:text="${stock.rscCdCode}"></td>
				<td th:text="${stock.rscCdName}"></td>
				<td th:text="${stock.rscCdClfy}"></td>
				<td th:text="${stock.rscLotNo}"></td>
				<td th:text="${stock.rscInVol}"></td>
				<td th:text="${stock.rscOutVol}"></td>
				<td th:text="${stock.rscStock}"></td>
				<td th:text="${stock.rscCdUnit}"></td>
				<td><input type="checkbox"
					th:checked="#{stock.rscStockUse eq '1'}" checked
					onClick="return false;"></td>
			</tr>
		</tbody>
	</table>
</head>
</html>