<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:fragment="outlisttable" id="outlisttable">
	<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
		<li class="nav-item"><a class="nav-link text-uppercase" th:classappend="${pageNMaker.cri.type} eq 'E' ? '' : 'active'"
			tid = "home-tab"
			data-toggle="tab" href="#home" role="tab"
			aria-controls="home" th:attr="aria-selected = (${pageNMaker.cri.type} != 'E')">정상출고</a></li>

		<li class="nav-item"><a class="nav-link text-uppercase" th:classappend="${pageNMaker.cri.type} eq 'E' ? 'active' : ''"
			tid = "profile-tab"
			data-toggle="tab" href="#profile" role="tab"
			aria-controls="profile" th:attr="aria-selected = (${pageNMaker.cri.type} eq 'E')">정상외출고</a></li>
		<!-- default는 N이 되도록-->
		
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade" th:classappend = "${pageNMaker.cri.type} eq 'E' ? '': 'show active'" id="home" role="tabpanel"
			aria-labelledby="home-tab">
			<p class="mb-0">
			<div class="card-body table-border-style table-size-mod">
				<div class="table-responsive">
					<table class="table table-striped" id="nListTable">
						<thead>
							<tr>
								<th th:text="출고코드"></th>
								<th th:text="출고일자"></th>
								<th th:text="출고공정"></th>
								<th th:text="자재코드"></th>
								<th th:text="자재명"></th>
								<th th:text="자재LOT번호"></th>
								<th th:text="출고수량"></th>
								<th th:text="분류"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="nList : ${nList}">
								<td th:text="${nList.rscOutCode}"></td>
								<td th:text="${nList.rscOutDate}"></td>
								<td th:text="${nList.processPerfomNo}"></td>
								<td th:text="${nList.rscCdCode}"></td>
								<td th:text="${nList.rscCdName}"></td>
								<td th:text="${nList.rscLotNo}"></td>
								<td th:text="${nList.rscOutVol}"></td>
								<td><span th:if="${nList.rscOutCls == 1}" th:text="정상출고"  class="badge badge-light-primary"/>
								</td>
							</tr>
						</tbody>
					</table>
					<th:block th:with="pageMaker = ${pageNMaker}, pageNum = ${pageMaker.cri.nPageNum}">
						<th:block th:replace="~{fragments/paginationForRscOut :: paginationForRscOut-nav}"></th:block>
						<form id="pageForm">
							<input type='hidden' name="type" th:value="${pageMaker.cri.type}">
							<input type='hidden' name='keyword' th:value='${pageMaker.cri.keyword}' />
							<input type='hidden' name='keyword2' th:value='${pageMaker.cri.keyword2}' />
							<input type='hidden' name='keyword3' th:value='${pageMaker.cri.keyword3}' />
							<input type='hidden' name='keyword4' th:value='${pageMaker.cri.keyword4}' />
							<input type='hidden' name='pageNum' th:value='${pageMaker.cri.pageNum}'>
							<input type='hidden' name='nPageNum' th:value='${pageMaker.cri.nPageNum}'>
							<input type='hidden' name='ePageNum' th:value='${pageMaker.cri.ePageNum}'>
							<input type='hidden' name='amount' th:value='${pageMaker.cri.amount}'>
						</form>
					</th:block>
				</div>
			</div>
			</p>
		</div>
		<div class="tab-pane fade" th:classappend = "${pageNMaker.cri.type} eq 'E' ? 'show active': ''" id="profile" role="tabpanel"
			aria-labelledby="profile-tab">
			<p class="mb-0">
			<div class="card-body table-border-style table-size-mod">
				<div class="table-responsive">
					<table class="table table-striped" id="eListTable">
						<thead>
							<tr>
								<th th:text="출고코드"></th>
								<th th:text="출고일자"></th>
								<th th:text="거래처"></th>
								<th th:text="자재코드"></th>
								<th th:text="자재명"></th>
								<th th:text="출고수량"></th>
								<th th:text="담당자"></th>
								<th th:text="분류"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="eList : ${eList}">
								<td th:text="${eList.rscOutCode}"></td>
								<td th:text="${eList.rscOutDate}"></td>
								<td th:text="${eList.vendCdNm}"></td>
								<td th:text="${eList.rscCdCode}"></td>
								<td th:text="${eList.rscCdName}"></td>
								<td th:text="${eList.rscOutVol}"></td>
								<td th:text="${eList.empName}"></td>
								<td><span th:if="${eList.rscOutCls == 2}" th:text="정상외출고"  class="badge badge-light-primary"/>
								</td>
							</tr>
						</tbody>
					</table>
					<th:block th:with="pageMaker = ${pageEMaker}, pageNum = ${pageMaker.cri.ePageNum}">
						<th:block th:replace="~{fragments/paginationForRscOut :: paginationForRscOut-nav}"></th:block>
					</th:block>
				</div>
			</div>
			</p>
		</div>
	</div>
</div>
</head>
</html>