<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:fragment="stocktable" id="sttable">
	<table class="table table-striped">
		<thead>
			<tr>
				<th th:text="자재코드"></th>
				<th th:text="자재명"></th>
				<th th:text="자재구분"></th>
				<th th:text="자재LOT번호"></th>
				<th th:text="입고수량"></th>
				<th th:text="출고수량"></th>
				<th th:text="반품수량"></th>
				<th th:text="재고수량"></th>
				<th th:text="단위"></th>
				<th th:text="가용여부"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="stock : ${stock}">
				<td th:text="${stock.rscCdCode}"></td>
				<td th:text="${stock.rscCdName}"></td>
				<td th:text="${stock.rscCdClfy}"></td>
				<td th:text="${stock.rscLotNo}"></td>
				<td>
					<span th:if="${stock.rscInVol > 99 }" th:text="${#numbers.formatInteger(stock.rscInVol, 3, 'COMMA')}"></span>
					<span th:if="${stock.rscInVol < 100 }" th:text="${stock.rscInVol}"></span>
				</td>
				<td>
					<span th:if="${stock.rscOutVol > 99 }" th:text="${#numbers.formatInteger(stock.rscOutVol, 3, 'COMMA')}"></span>
					<span th:if="${stock.rscOutVol < 100 }" th:text="${stock.rscOutVol}"></span>
				</td>
				<td>
					<span th:if="${stock.rscReturnVol > 99 }" th:text="${#numbers.formatInteger(stock.rscReturnVol, 3, 'COMMA')}"></span>
					<span th:if="${stock.rscReturnVol < 100 }" th:text="${stock.rscReturnVol}"></span>
				</td>
				<td>
					<span th:if="${stock.rscStock > 99 }" th:text="${#numbers.formatInteger(stock.rscStock, 3, 'COMMA')}"></span>
					<span th:if="${stock.rscStock < 100 }" th:text="${stock.rscStock}"></span>
				</td>
				<td th:text="${stock.rscCdUnit}"></td>
				<td><input type="checkbox"
					th:checked="#{stock.rscStockUse eq '1'}" checked
					onClick="return false;"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:replace="~{fragments/pagination :: pagination-nav}"></th:block>
	
</head>
</html>