@charset "UTF-8";


h1 {
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
}


.row {

	margin-left: 0;
	margin-right: 0;
}

label {
	width: 70px;
}

button {
	margin: 0px !important;
}

tfoot {
	border-bottom: 1px solid #e3eaef;
}

.listTitle {
	line-height: 43px;
	float: left;
}

.buttonSet {
	float: right;
	margin: 0px !important;
}

.buttonSet-top {
	margin-top : 0;
}

#resetBtn {
	margin-top : 1rem !important;	
}

#search {
	margin-top : 1rem !important;
}


#in-table {
	padding-top : 10px;
}


#findempbtn,
#findPlanbtn {
	margin-top: 0;
}

#InsertTable input[type=text]:disabled {
	height: 2.5rem;
	background: #f6f6f6 !important;
	width: 100% !important
}

#InsertTable input[type=date]:disabled {
	height: 2.5rem;
	background: #f6f6f6 !important;
	width: 100% !important
}

#InsertTable input[type=text] {
	height: 2.5rem;
	text-align: center;
	border: 0;
	width: 100%;
	background: rgba(241, 196, 15, 0.1)
}

#InsertTable input[type=date] {
	height: 2.5rem;
	text-align: center;
	border: 0;
	width: 100%;
	background: rgba(241, 196, 15, 0.1)
}

#chk-css{
	line-height : 32px;
}

#InsertTable .unit {
	height: 2.5rem;
	text-align: center;
	background: #f6f6f6 !important;
	vertical-align: middle;
}

#InsertTable td {
	padding: 0;

}

#searchOut {
	margin-top:1rem !important;
}

.flex-end {
	justify-content: end;

}

.swal2-container {
	z-index: 20000 !important;
}

.warn {
	background-color: rgba(231, 76, 60, 0.5);
}


.nullpoint {
	border : 2px solid red !important;
}