<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common BOMCode</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
    <link th:href="@{/css/cmn/dbUpdate.css}" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cmn/bomCode.js}"></script>
    <script type="text/javascript" th:src="@{/js/cmn/bomUpdateDB.js}"></script>
    <!--modal js-->
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdResource.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdproccdname.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdproduct.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdLine.js}"></script>
    <div class="pcoded-main-container">
        <div class="twoTableBtn">
            <h1>BOM 관리</h1>
            <div>
                <button type="button" class="btn  btn-primary mt-0 mb-1 mr-3" id="saveBtn">저장</button>
            </div>
        </div>
        
        <div class="col-xl-12" style="clear:both;">
            <div class="card">
                <div class="card-header pb-2">
                    <h3 class="p-0">BOM 코드 목록</h3>
                    <form class="form-inline">
                         <div class="form-group mt-3">
                            <label for="finName" th:text="완제품명"></label>
                            <input type="text" id="finName" class="form-control mx-sm-3">
                        </div>
                        
                        <button type="button" class="btn  btn-primary" id="bomSelectBtn">조회</button>
                    </form>
                </div>
                <div class="card-body table-border-style pt-1">
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary m-0 mb-1" id="bomAddBtn">BOM 추가</button>
                        <button type="button" class="btn btn-primary m-0 mb-1" id="bomDeleteBtn">BOM 선택삭제</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="bomTable">
                            <thead>
                                <tr>
                                    <!-- 한 행을 클릭할 때마다 셀렉트?-->
                                    <th><input type="checkbox" id="bomAllCheck"></th>
                                    <th th:text="'BOM 코드'"></th>
                                    <th th:text="BOM명" name="bom_cd_name"></th>
                                    <th th:text="'완제품 코드'" name="fin_prd_cd_code"></th>
                                    <th th:text="완제품명"></th>
                                    <th th:text="라인코드" name="line_cd_hd_code"></th>
                                    <th th:text="라인명"></th>
                                    <th th:text="생산량" name="bom_cd_prod_vol"></th>
                                    <th th:text="단위" name="bom_cd_unit"></th>
                                    <th th:text="사용여부" name="bom_cd_use"></th>
                                    <th th:text="비고" name="bom_cd_remk"></th>
                                </tr>
                            </thead>
                            <tbody class="canModifyTbody">
                                <tr th:each="bom : ${boms}">
                                    <td th:class="cantModifyTd"><input type="checkbox" name="bomCb" class="cantModifyTd"></td>
                                    <td th:text="${bom.bomCdCode}" th:class="cantModifyTd">BOM001</td>
                                    <td th:text="${bom.bomCdName}">BOM 이름</td>
                                    <td th:text="${bom.finPrdCdCode}" class="finPrdCdCode curPo">FIN001</td>
                                    <td th:text="${bom.finPrdCdName}" th:class="cantModifyTd">신라면</td>
                                    <td th:text="${bom.lineCdHdCode}" class="lineCdHdCode curPo">LINE001</td>
                                    <td th:text="${bom.lineCdHdName}" th:class="cantModifyTd">LINE001</td>
                                    <td th:text="${bom.bomCdProdVol}">120</td>
                                    <td th:text="${bom.bomCdUnit}">개</td>
                                    <td><input type="checkbox" th:checked="${bom.bomCdUse eq '1'}" class='bomCdUse'></td>
                                    <td th:text="${bom.bomCdRemk}"></td>
                                    <input type="hidden" th:class="dataLineCdHdCode" th:value="${bom.lineCdHdCode}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-2">
                    <h3 class="p-0">필요 자재 목록</h3>
                    <form class="form-inline">
                        <input type="hidden" id="bomCode" readonly>
                         <div class="form-group mt-3">
                            <label for="bomCdName" th:text="BOM명"></label>
                            <input type="text" id="bomCdName" class="form-control mx-sm-3" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="lineCode" th:text="라인코드"></label>
                            <input type="text" id="lineCode" class="form-control mx-sm-3" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="prodVol" th:text="'기준 생산량'"></label>
                            <input type="text" id="prodVol" class="form-control mx-sm-3" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="prodUnit" th:text="'제품 단위'"></label>
                            <input type="text" id="prodUnit" class="form-control mx-sm-3" readonly>
                        </div>
                    </form>
                    
        
                </div>
                <div class="card-body table-border-style pt-1">
                    <div class="rightBtn">
                        <button type="button" class="btn  btn-primary m-0 mb-1" id="rscAddBtn">자재 추가</button>
                        <button type="button" class="btn  btn-primary m-0 mb-1" id="rscDeleteBtn">자재 선택삭제</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="bomRscTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="rscAllCheck"></th>
                                    <th th:text="'사용공정코드'" name="line_cd_code"></th>
                                    <th th:text="'사용공정명'"></th>
                                    <th th:text="'설비코드'"></th>
                                    <th th:text="'설비명'"></th>
                                    <th th:text="'자재 코드'" name="rsc_cd_code"></th>
                                    <th th:text="자재명"></th>
                                    <th th:text="사용량" name="bom_rsc_use_vol"></th>
                                    <th th:text="단위" name="bom_rsc_unit"></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/modal/findresource :: findresource}"></th:block>
    <th:block th:replace="~{fragments/modal/cmn/findProcForLine :: findProcForLine}"></th:block>
    <th:block th:replace="~{fragments/modal/findproduct :: findproduct}"></th:block>
    <th:block th:replace="~{fragments/modal/cmn/findLineCode :: findLineCode}"></th:block>
</body>
</html>