<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Emp</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
    <link th:href="@{/css/cmn/dbUpdate.css}" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cmn/emp.js}"></script>
    <script type="text/javascript" th:src="@{/js/cmn/empUpdateDB.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findDept.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdDept.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/settingPw.js}"></script>
    <div class="pcoded-main-container">
        <h1>직원 관리</h1>
        <hr>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    
                    <form class="form-inline">
                        <input type="hidden" id="deptNo">
                        <div class="form-group mt-3">
                            <label for="deptName" th:text="부서명"></label>
                            <input type="text" id="deptName" class="form-control mx-sm-3">
                        </div>
                        <div class="form-group mt-3">
                            <label for="empId" th:text="ID"></label>
                            <input type="text" id="empId" class="form-control mx-sm-3">
                        </div>
                        <div class="form-group mt-3">
                            <label for="empName" th:text="직원명"></label>
                            <input type="text" id="empName" class="form-control mx-sm-3">
                        </div>
                        
                        <button type="button" class="btn  btn-primary" id="selectBtn">조회</button>
                    </form>
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary" id="addBtn">추가</button>
                        <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
                        <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
                    </div>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-striped" id="empTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="allCheck"></th>
                                    <th th:text="아이디" name="emp_id"></th>
                                    <th th:text="비밀번호" name="emp_pw"></th>
                                    <th th:text="부서명" name="dept_name"></th>
                                    <th th:text="직책" name="emp_pos"></th>
                                    <th th:text="직원명" name="emp_name"></th>
                                    <th th:text="이메일" name="emp_email"></th>
                                    <th th:text="연락처" name="emp_phone"></th>
                                    <th th:text="계정상태" name="emp_auth"></th>
                                    <th th:text="비고" name="emp_remk"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="emp : ${emps}">
                                    <td><input type="checkbox" name="cb"></td>
                                    <td th:text="${emp.empVO.empId}">mia</td>
                                    <td th:text="'********'" th:class="password"></td>
                                    <td th:text="${emp.deptVO.deptName}" th:class="deptName">연구개발</td>
                                    <td>
                                        <select>
                                            <option value="" th:selected="${emp.empVO.empPos eq ''}"></option>
                                            <option th:value="관리자" th:selected="${emp.empVO.empPos eq '관리자'}" th:text="관리자"></option>
                                            <option th:value="직원" th:selected="${emp.empVO.empPos eq '직원'}" th:text="직원"></option>
                                        </select>
                                    </td>
                                    <td th:text="${emp.empVO.empName}">김민서</td>
                                    <td th:text="${emp.empVO.empEmail}">mia@yedam.co.kr</td>
                                    <td th:text="${emp.empVO.empPhone}">011-1111-2222</td>
                                    <td><input type="checkbox" th:checked="${emp.empVO.empAuth eq '1'}"></td>
                                    <td th:text="${emp.empVO.empRemk}">011-1111-2222</td>
                                    <input type="hidden" class="modPw">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary">초기화</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/fragments/modal/findDept :: findDept}"></th:block>
    <th:block th:replace="~{/fragments/modal/cmn/settingPw :: settingPw}"></th:block>

</body>
</html>