<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공정불량 코드</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
  </head>
  <body>
    <script type="text/javascript" th:src="@{/js/cmn/faultyCode.js}"></script>

    <div class="pcoded-main-container">
      <h1>불량 코드 관리</h1>
      <hr />
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <form class="form-inline">
              <div class="form-group mt-3">
                <label for="faultyName" th:text="불량명"></label>
                <input type="text" id="faultyName" class="form-control mx-sm-3" />
              </div>
              <button type="button" class="btn btn-primary" id="selectBtn">조회</button>
            </form>

            <div class="rightBtn">
              <button type="button" class="btn btn-primary" id="addBtn">추가</button>
              <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
              <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
            </div>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped" id="faultyTable">
                <thead>
                  <tr>
                    <th><input type="checkbox" id="allCheck" /></th>
                    <th th:text="불량코드" name="faulty_cd_code"></th>
                    <th th:text="불량명" name="faulty_name"></th>
                    <th th:text="비고" name="faulty_remk"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="flty : ${fltys}">
                    <td><input type="checkbox" name="chk" /></td>
                    <td th:text="${flty.faultyCdCode}"></td>
                    <td th:text="${flty.faultyName}"></td>
                    <td th:text="${flty.faultyRemk}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="rightBtn">
              <button type="button" class="btn btn-primary">초기화</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
