<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common ProcCode</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cmn/finProdCode.js}"></script>
    <div class="pcoded-main-container">
        <h1>완제품 코드 관리</h1>
        <hr>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    
                    <form class="form-inline">
                         <div class="form-group mt-3">
                            <label for="finName" th:text="완제품명"></label>
                            <input type="text" id="finName" class="form-control mx-sm-3">
                        </div>
                        <button type="button" class="btn  btn-primary" id="selectBtn">조회</button>
                    </form>
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary" id="addBtn">추가</button>
                        <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
                        <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
                    </div>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-striped" id="finProdTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="allCheck"></th>
                                    <th th:text="완제품코드"></th>
                                    <th th:text="완제품명"></th>
                                    <th th:text="표시기준량"></th>
                                    <th th:text="단위"></th>
                                    <th th:text="단가"></th>
                                    <th th:text="사용여부"></th>
                                    <th th:text="비고"></th>
                                    <th th:text="'담당자 아이디'"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="prod : ${prods}">
                                    <td><input type="checkbox" name="cb"></td>
                                    <td th:text="${prod.finPrdCdCode}">완제품코드</td>
                                    <td th:text="${prod.finPrdCdName}">완제품명</td>
                                    <td th:text="${prod.finPrdCdVol}">수량</td>
                                    <td th:text="${prod.finPrdCdUnit}">단위</td>
                                    <td th:text="${prod.finPrdCdPrice}">단가</td>
                                    <td><input type="checkbox" th:checked="${prod.finPrdCdUse eq'1'}"></td>
                                    <td th:text="${prod.finPrdCdRemk}">비고</td>
                                    <td th:text="${prod.empId}">담당자아이디</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="rightBtn">
                        <button type="button" class="btn  btn-primary">초기화</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>