<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common LineCode</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cmn/lineCode.js}"></script>
    <div class="pcoded-main-container">
        
        <div class="rightBtn">
            <button type="button" class="btn  btn-primary">저장</button>
        </div>
        <h1>라인 및 공정 관리</h1>
        <hr>
        <h3>라인 관리</h3>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    
                    <form class="form-inline">
                         <div class="form-group mt-3">
                            <label for="lineName" th:text="라인명"></label>
                            <input type="text" id="lineName" class="form-control mx-sm-3">
                        </div>
                        <button type="button" class="btn btn-primary" id="lineSelectBtn">조회</button>
                    </form>
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary" id="lineAddBtn">라인 추가</button>
                        <button type="button" class="btn btn-primary" id="lineDeleteBtn">라인 선택삭제</button>
                    </div>
        
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-striped" id="lineTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="lineAllCheck"></th>
                                    <th th:text="'라인 코드'"></th>
                                    <th th:text="라인명"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="line : ${lines}">
                                    <td><input type="checkbox" name="lineCb"></td>
                                    <td th:text="${line.lineCdHdCode}">LINE001</td>
                                    <td th:text="${line.lineCdHdName}">1라인</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="rightBtn">
                        <button type="button" class="btn  btn-primary">라인 초기화</button>
                    </div>
                </div>
            </div>
        </div>

        <h3>공정 관리</h3>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    
                    <form class="form-inline">
                        <div class="form-group mt-3">
                            <input type="hidden" id="procLineCode">
                           <label for="procLineName" th:text="라인명"></label>
                           <input type="text" id="procLineName" class="form-control mx-sm-3" readonly>
                       </div>
                   </form>
                   <div class="rightBtn">
                        <button type="button" class="btn  btn-primary" id="procAddBtn">추가</button>
                        <button type="button" class="btn  btn-primary" id="procDeleteBtn">선택 삭제</button>
                   </div>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-striped" id="lineProcTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="procAllCheck"></th>
                                    <th th:text="공정코드"></th>
                                    <th th:text="공정명"></th>
                                    <th th:text="공정순서"></th>
                                    <th th:text="설비코드"></th>
                                    <th th:text="설비명"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary" id="procResetBtn">공정 초기화</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>