<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common LineCode</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
    <link th:href="@{/css/cmn/dbUpdate.css}" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cmn/lineCode.js}"></script>
    <script type="text/javascript" th:src="@{/js/cmn/lineUpdateDB.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdproccdname.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdmchnname.js}"></script>
    <div class="pcoded-main-container">
        
        <h1>라인 및 공정 관리</h1>
        <hr>
        <div class="rightBtn">
            <button type="button" class="btn  btn-primary mt-0 mb-1 mr-3" id="saveBtn">저장</button>
        </div>
        <div class="col-xl-12" style="clear:both;">
            <div class="card">
                <div class="card-header pb-2">
                    <h3 class="p-0">라인 관리</h3>
                    <form class="form-inline">
                         <div class="form-group mt-3">
                            <label for="lineName" th:text="라인명"></label>
                            <input type="text" id="lineName" class="form-control mx-sm-3">
                        </div>
                        <button type="button" class="btn btn-primary" id="lineSelectBtn">조회</button>
                    </form>
        
                </div>
                <div class="card-body table-border-style pt-1">
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary m-0 mb-1" id="lineAddBtn">라인 추가</button>
                        <button type="button" class="btn btn-primary m-0 mb-1" id="lineDeleteBtn">라인 선택삭제</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="lineTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="lineAllCheck"></th>
                                    <th th:text="'라인 코드'"></th>
                                    <th th:text="라인명" th:name="line_cd_hd_name"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="line : ${lines}">
                                    <td><input type="checkbox" name="lineCb"></td>
                                    <td th:text="${line.lineCdHdCode}">LINE001</td>
                                    <td th:text="${line.lineCdHdName}" th:class="canModifyTd">1라인</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-2">
                    <h3 class="p-0">라인별 공정 관리</h3>
                    <form class="form-inline">
                        <div class="form-group mt-3">
                            <input type="hidden" id="procLineCode">
                           <label for="procLineName" th:text="라인명"></label>
                           <input type="text" id="procLineName" class="form-control mx-sm-3" readonly>
                       </div>
                   </form>
                </div>
                <div class="card-body table-border-style pt-1">
                    <div class="rightBtn">
                        <button type="button" class="btn  btn-primary m-0 mb-1" id="procAddBtn">공정 추가</button>
                        <button type="button" class="btn  btn-primary m-0 mb-1" id="procDeleteBtn">공정 선택삭제</button>
                   </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="lineProcTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="procAllCheck"></th>
                                    <th th:text="공정순서" th:name="line_cd_ord"></th>
                                    <th th:text="공정코드" th:name="proc_cd_code"></th>
                                    <th th:text="공정명"></th>
                                    <th th:text="설비코드" th:name="mchn_code"></th>
                                    <th th:text="설비명"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 공정 검색 Modal -->
    <th:block th:replace="~{fragments/modal/cmn/findProcTdCdName :: findProcTdCdName}"></th:block>

    <!--  설비검색 Modal -->
    <th:block th:replace="~{fragments/modal/cmn/findMchnInLine :: findMchnInLine}"></th:block>

</body>
</html>