<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LoginPage</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@10}"></script>
</head>
<body>
<script type="text/javascript" th:src="@{/js/cmn/login.js}"></script>
<div class="auth-wrapper">
		<div class="auth-content text-center">
			<img src="/images/BF-Logo.png" alt="" class="img-fluid  mb-4">
			<div class="card borderless">
				<div class="row align-items-center ">
					<div class="col-md-12">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">로그인</h4>
							<hr>
							<div class="form-group mb-3">
								<input type="text" class="form-control" id="empId" placeholder="아이디" required>
							</div>
							<div class="form-group mb-4">
								<input type="password" class="form-control" id="empPw" placeholder="비밀번호" required>
							</div>
							<!-- <div class="custom-control custom-checkbox text-left mb-4 mt-2">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1">Save credentials.</label>
							</div> -->
							<button class="btn btn-block btn-primary mb-4" id="signInBtn">로그인</button>
							<hr>
							<p class="mb-2 text-muted">비밀번호를 잊으셨나요?&nbsp;<a th:href="@{/cmn/login/reset}" class="f-w-400">재설정</a></p>
							<!-- <p class="mb-2 text-muted"><a th:href="@{/common/main}" class="f-w-400">비회원 로그인</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>