<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common ProcCode</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
    <style>
        .tdBorder {
            border : 1px solid #444444;
        }
        td {
            margin : 0px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cmn/procCode.js}"></script>
    <script type="text/javascript" th:src="@{/js/cmn/modifyDb.js}"></script>
    <div class="pcoded-main-container">
        <h1>공정 코드 관리</h1>
        <hr>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    
                    <form class="form-inline">
                         <div class="form-group mt-3">
                            <label for="procName" th:text="공정명"></label>
                            <input type="text" id="procName" class="form-control mx-sm-3">
                        </div>
                        
                        <button type="button" class="btn  btn-primary" id="selectBtn">조회</button>
                    </form>
                    <div class="rightBtn">
                        <button type="button" class="btn btn-primary" id="addBtn">추가</button>
                        <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
                        <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
                    </div>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-striped" id="procTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="allCheck"></th>
                                    <th th:text="공정코드" th:name="proc_cd_code"></th>
                                    <th th:text="공정명" th:name="proc_cd_name"></th>
                                    <th th:text="비고" th:name="PROC_CD_REMK"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="proc : ${procs}">
                                    <td><input type="checkbox" name="cb"></td>
                                    <td th:text="${proc.procCdCode}">PROC001</td>
                                    <td th:text="${proc.procCdName}">반죽</td>
                                    <td th:text="${proc.procCdRemk}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="rightBtn">
                        <button type="button" class="btn  btn-primary">초기화</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>