<!DOCTYPE html>
<html lang="en">

<head>
	<title>Reset Password</title>
	<!-- Apex Chart -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<script type="text/javascript" th:src="@{/js/cmn/resetPw.js}"></script>
<!-- <script type="text/javascript" th:src="@{/js/cmn/login.js}"></script> -->
<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content text-center">
			<img src="/images/logo.png" alt="" class="img-fluid mb-4">
			<div class="card borderless">
				<div class="row align-items-center ">
					<div class="col-md-12">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">비밀번호 재설정</h4>
							<h6 class="mb-3 f-w-400">확인 버튼을 누르면 해당 이메일로 <br>비밀번호 재설정 링크가 전송됩니다.</h6>
							<hr>
							<div class="form-group mb-4">
								<input type="text" class="form-control" id="empId" placeholder="아이디" required>
							</div>
							<div class="form-group mb-4">
								<input type="text" class="form-control" id="empName" placeholder="이름" required>
							</div>
							<div class="form-group mb-4">
								<input type="email" class="form-control" id="empEmail" placeholder="확인 이메일" required>
							</div>

							<button class="btn btn-block btn-primary mb-4" id="okBtn">확인</button>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->


</body>

</html>
