<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자재 코드</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
  </head>
  <body>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/cmn/rscCode.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/rsc/findResource.js}"></script>

    <div class="pcoded-main-container">
      <h1>자재 코드 관리</h1>
      <hr />
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <form class="form-inline">
              <div class="form-group mt-3">
                <label for="rscCdName" th:text="자재명"></label>
                <input type="text" id="rscCdName" class="form-control mx-sm-3" />
              </div>
              <button type="button" class="btn btn-primary" id="selectBtn">조회</button>
            </form>
            <div class="rightBtn">
              <button type="button" class="btn btn-primary" id="addBtn">추가</button>
              <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
              <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
            </div>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped" id="rscTable">
                <thead>
                  <tr>
                    <th><input type="checkbox" id="allCheck" /></th>
                    <th th:text="자재코드" name="rsc_cd_code"></th>
                    <th th:text="자재명" name="rsc_cd_name"></th>
                    <th th:text="단위" name="rsc_cd_unit"></th>
                    <th th:text="자재구분" name="rsc_cd_clfy"></th>
                    <th th:text="사용여부" name="rsc_cd_use"></th>
                    <th th:text="비고" name="rsc_cd_remk"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="rsc : ${rscs}">
                    <td><input type="checkbox" name="chk" /></td>
                    <td th:text="${rsc.rscCdCode}"></td>
                    <td th:text="${rsc.rscCdName}"></td>
                    <td th:text="${rsc.rscCdUnit}"></td>
                    <td>
                      <select th:value="${rsc.rscCdClfy}">
                        <option value="" th:selected="${rsc.rscCdClfy} == ''"></option>
                        <option value="원자재" th:selected="${rsc.rscCdClfy} == '원자재'" th:text="원자재"></option>
                        <option value="부자재" th:selected="${rsc.rscCdClfy} == '부자재'" th:text="부자재"></option>
                      </select>
                    </td>
                    <td><input type="checkbox" th:checked="${rsc.rscCdUse =='1'}" /></td>
                    <td th:text="${rsc.rscCdRemk}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="rightBtn">
              <button type="button" class="btn btn-primary">초기화</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- 자재조회 Modal -->
    <th:block th:replace="~{/fragments/modal/findresource :: findresource}"></th:block>
  </body>
</html>
