<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>점검 내역 조회(모달창)</title>
</head>
<body>
  <th:block th:fragment="findInspcList">
		<div class="modal fade" id="findInspcListModal" tabindex="-1" role="dialog"
			aria-labelledby="findInspcListModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="findInspcListModalLabel">점검 내역</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-inline">
							<div class="form-group mt-3">
								<label for="inspcDate" th:text="설비점검일"></label>
                <input type="date" id="inspcSdate" class="form-control mx-sm-3" /> ~
                <input type="date" id="inspcEdate" class="form-control mx-sm-3" />
								<button type="button" class="btn  btn-primary" id="selectBtn" th:text="조회"></button>
							</div>
						</div>
						<hr>
						<div class="card-body table-border-style">
							<div class="table-responsive">
								<table class="table table-hover" id="findInspcListTable">
									<thead>
										<tr>
											<th>점검번호</th>
											<th th:text="설비코드"></th>
											<th th:text="설비명"></th>
                      <th th:text="점검시작일"></th>
                      <th th:text="점검종료일"></th>
                      <th th:text="조치사항"></th>
                      <th th:text="조치사유"></th>
                      <th th:text="담당자"></th>
                      <th th:text="비고"></th>
										</tr>
									</thead>
									<tbody id="findInspcListTbody" class="curPo">

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- <div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="취소"></button>
						<button type="button" class="btn btn-primary" th:text="선택"
							id="selectbtn"></button>
					</div> -->
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>