<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.sales.mapper.SlsOrdMapper">
	
	<resultMap type="slsOrdHdVO" id="ordHdMap">
		<id property="slsOrdHdNo" column="sls_ord_hd_no"/>
		<result property="slsOrdHdDate" column="sls_ord_hd_date"/>
		<result property="vendCdCode" column="vend_cd_code"/>
		<result property="vendCdNm" column="vend_cd_nm"/>
		<result property="empId" column="emp_id"/>
		<result property="empName" column="emp_name"/>
		<result property="slsOrdHdRemk" column="sls_ord_hd_remk"/>
	</resultMap>
	
	<resultMap type="slsOrdDtlVO" id="ordDtlMap">
		<id property="slsOrdDtlNo" column="sls_ord_dtl_no"/>
		<result property="slsOrdHdNo" column="sls_ord_hd_no"/>
		<result property="finPrdCdCode" column="fin_prd_cd_code"/>
		<result property="finPrdCdName" column="fin_prd_cd_name"/>
		<result property="slsOrdDtlDlvDate" column="sls_ord_dtl_dlv_date"/>
		<result property="slsOrdDtlVol" column="sls_ord_dtl_vol"/>
		<result property="slsOrdDtlOutVol" column="sls_ord_dtl_out_vol"/>
		<result property="slsOrdDtlNotOutVol" column="sls_ord_dtl_not_out_vol"/>
		<result property="slsOrdDtlPrgCls" column="sls_ord_dtl_prg_cls"/>
	</resultMap>
	
	<resultMap type="planVO" id="planMap">
		<result property="planProdVol" column="plan_prod_vol"/>
	</resultMap>
	
	<resultMap type="ordHdDtl" id="ordHdDtlMap">
		<collection property="slsOrdHdVO" resultMap="ordHdMap"/>
		<collection property="slsOrdDtlVO" resultMap="ordDtlMap"/>
	</resultMap>
	
	<resultMap type="slsOrdPlanVO" id="ordPlanMap">
		<collection property="slsOrdHdVO" resultMap="ordHdMap"/>
		<collection property="slsOrdDtlVO" resultMap="ordDtlMap"/>
		<collection property="planVO" resultMap="planMap"/>
	</resultMap>
	
	<select id="findAllOrder" resultMap="ordHdDtlMap">
		SELECT ORDHD.SLS_ORD_HD_DATE,
			   ORDHD.SLS_ORD_HD_NO,
			   VEND.VEND_CD_NM, 
               FNSPRD.FIN_PRD_CD_CODE,
               FNSPRD.FIN_PRD_CD_NAME, 
               ORDDTL.SLS_ORD_DTL_DLV_DATE,
               ORDDTL.SLS_ORD_DTL_VOL,
               ORDDTL.SLS_ORD_DTL_OUT_VOL,
               ORDDTL.SLS_ORD_DTL_NOT_OUT_VOL,
               EMP.EMP_NAME,
               NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
		FROM BF_SALES_ORD_HD ORDHD
		JOIN BF_SALES_ORD_DTL ORDDTL
		  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
        JOIN BF_CMN_EMP EMP
          ON EMP.EMP_ID = ORDHD.EMP_ID
		JOIN BF_CMN_VENDOR_CODE VEND
		  ON VEND.VEND_CD_CODE = ORDHD.VEND_CD_CODE
        JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
          ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
        ORDER BY SLS_ORD_HD_DATE DESC
	</select>
	
	<select id="findOrder" resultMap="ordHdDtlMap">
   		SELECT ORDHD.SLS_ORD_HD_DATE,
   			   ORDHD.SLS_ORD_HD_NO,
   			   VEND.VEND_CD_NM, 
               FNSPRD.FIN_PRD_CD_CODE,
               FNSPRD.FIN_PRD_CD_NAME, 
               ORDDTL.SLS_ORD_DTL_DLV_DATE,
               ORDDTL.SLS_ORD_DTL_VOL,
               ORDDTL.SLS_ORD_DTL_OUT_VOL,
               ORDDTL.SLS_ORD_DTL_NOT_OUT_VOL,
               EMP.EMP_NAME,
               NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
		FROM BF_SALES_ORD_HD ORDHD
		JOIN BF_SALES_ORD_DTL ORDDTL
		  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
        JOIN BF_CMN_EMP EMP
          ON EMP.EMP_ID = ORDHD.EMP_ID
		JOIN BF_CMN_VENDOR_CODE VEND
		  ON VEND.VEND_CD_CODE = ORDHD.VEND_CD_CODE
        JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
          ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
            
        WHERE
        	<if test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
        		ORDHD.SLS_ORD_HD_DATE BETWEEN  TO_DATE(#{ordSdate}, 'YY/MM/DD') AND TO_DATE(#{ordEdate}, 'YY/MM/DD') + 0.9999
        	</if>
        	<if test="vendorName != null and vendorName != ''">
        		AND VEND.VEND_CD_NM = #{vendorName}
        	</if>
        
   	</select>
   	
   	<!-- 주문관리에서 주문내역 조회 모달 -->
   	<select id="findOrderModal" resultType="slsOrdHdVO">
   		SELECT DISTINCT ORDHD.SLS_ORD_HD_NO,
   			   ORDHD.SLS_ORD_HD_DATE,
   			   VEND.VEND_CD_CODE,
   			   VEND.VEND_CD_NM,
   			   EMP.EMP_NAME,
   			   NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
   		FROM BF_SALES_ORD_HD ORDHD
   		JOIN BF_CMN_VENDOR_CODE VEND
   		  ON ORDHD.VEND_CD_CODE = VEND.VEND_CD_CODE
   		JOIN BF_CMN_EMP EMP
   		  ON ORDHD.EMP_ID = EMP.EMP_ID
   		<if test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
   			WHERE ORDHD.SLS_ORD_HD_DATE BETWEEN  TO_DATE(#{ordSdate}, 'YY/MM/DD') AND TO_DATE(#{ordEdate}, 'YY/MM/DD') + 0.9999
        </if>
        ORDER BY SLS_ORD_HD_DATE DESC
   	</select>
   	
   	<!-- 주문관리에서 주문내역 상세 조회 -->
   	<select id="findDtlOrder" resultType="slsOrdDtlVO">
   		SELECT FNSPRD.FIN_PRD_CD_CODE,
   			   FNSPRD.FIN_PRD_CD_NAME,
   			   ORDDTL.SLS_ORD_DTL_DLV_DATE,
   			   ORDDTL.SLS_ORD_DTL_VOL,
   			   ORDDTL.SLS_ORD_DTL_NOT_OUT_VOL
   		FROM BF_SALES_ORD_HD ORDHD 
   		JOIN BF_SALES_ORD_DTL ORDDTL
   		  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
   		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
   		  ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
   		WHERE ORDDTL.SLS_ORD_HD_NO = #{slsOrdHdNo}
   	</select>
   	
   	<!-- 생산계획에 존재하지 않거나 생산계획에 존재하는데 주문량에 못 미치는 주문내역 조회 -->
   	<select id="findOrderForPlan" resultType="slsOrdHdVO">
   		SELECT DISTINCT OH.SLS_ORD_HD_NO, OH.SLS_ORD_HD_DATE, OH.VEND_CD_CODE,
   				V.VEND_CD_NM, OH.EMP_ID, NVL(OH.SLS_ORD_HD_REMK,' ') AS SLS_ORD_HD_REMK
		   FROM BF_SALES_ORD_HD OH
		        JOIN BF_SALES_ORD_DTL O
				   ON OH.SLS_ORD_HD_NO = O.SLS_ORD_HD_NO
        	    JOIN BF_CMN_VENDOR_CODE V
        		   ON V.VEND_CD_CODE = OH.VEND_CD_CODE
		WHERE (OH.SLS_ORD_HD_NO NOT IN (SELECT DISTINCT SLS_ORD_HD_NO
		                                FROM BF_PROD_PLAN_HD
		                                WHERE SLS_ORD_HD_NO IS NOT NULL)
		OR O.SLS_ORD_DTL_VOL > (SELECT SUM(P.PLAN_PROD_VOL)
		                        FROM BF_PROD_PLAN P
		                        JOIN BF_PROD_PLAN_HD PH
		                        ON PH.PLAN_HD_CODE = P.PLAN_HD_CODE
		                        WHERE PH.SLS_ORD_HD_NO IS NOT NULL
		                        AND P.FIN_PRD_CD_CODE = O.FIN_PRD_CD_CODE
		                        GROUP BY PH.SLS_ORD_HD_NO, P.FIN_PRD_CD_CODE))
		<choose>
			<when
				test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
				AND O.sls_ord_dtl_dlv_date BETWEEN #{ordSdate} AND #{ordEdate}
			</when>
			<when test="ordSdate != null and ordSdate != ''">
				AND O.sls_ord_dtl_dlv_date = #{ordSdate}
			</when>
			<when test="ordEdate != null and ordEdate != ''">
				AND O.sls_ord_dtl_dlv_date = #{ordEdate}
			</when>
		</choose>
		ORDER BY SLS_ORD_HD_DATE DESC
   	</select>
   	
   	<select id="findOrderForPlanDtl" resultType="slsOrdDtlVO">
   		SELECT OH.SLS_ORD_HD_NO, O.FIN_PRD_CD_CODE, F.FIN_PRD_CD_NAME, O.SLS_ORD_DTL_DLV_DATE, O.SLS_ORD_DTL_VOL, P.PLAN_PRE_VOL
		FROM BF_SALES_ORD_HD OH
		JOIN BF_SALES_ORD_DTL O
		ON OH.SLS_ORD_HD_NO = O.SLS_ORD_HD_NO
		JOIN BF_CMN_FINISH_PRODUCT_CODE F
		ON F.FIN_PRD_CD_CODE = O.FIN_PRD_CD_CODE
		JOIN (SELECT PH.SLS_ORD_HD_NO, P.FIN_PRD_CD_CODE, SUM(P.PLAN_PROD_VOL) AS PLAN_PRE_VOL
		        FROM BF_PROD_PLAN P
		        JOIN BF_PROD_PLAN_HD PH
		        ON PH.PLAN_HD_CODE = P.PLAN_HD_CODE
		        WHERE PH.SLS_ORD_HD_NO IS NOT NULL
		        GROUP BY PH.SLS_ORD_HD_NO, P.FIN_PRD_CD_CODE) P
		ON P.SLS_ORD_HD_NO = OH.SLS_ORD_HD_NO
		   AND P.FIN_PRD_CD_CODE = O.FIN_PRD_CD_CODE
		WHERE O.SLS_ORD_DTL_VOL > P.PLAN_PRE_VOL
		<if test="slsOrdHdNo != null and slsOrdHdNo != ''">
		AND O.SLS_ORD_HD_NO = #{slsOrdHdNo}
		</if>
   	</select>
</mapper>