<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.sales.mapper.SlsOrdMapper">
	
	<resultMap type="slsOrdHdVO" id="ordHdMap">
		<id property="slsOrdHdNo" column="sls_ord_hd_no"/>
		<result property="slsOrdHdDate" column="sls_ord_hd_date"/>
		<result property="vendCdCode" column="vend_cd_code"/>
		<result property="vendCdNm" column="vend_cd_nm"/>
		<result property="empId" column="emp_id"/>
		<result property="empName" column="emp_name"/>
		<result property="slsOrdHdRemk" column="sls_ord_hd_remk"/>
	</resultMap>
	
	<resultMap type="slsOrdDtlVO" id="ordDtlMap">
		<id property="slsOrdDtlNo" column="sls_ord_dtl_no"/>
		<result property="slsOrdHdNo" column="sls_ord_hd_no"/>
		<result property="finPrdCdCode" column="fin_prd_cd_code"/>
		<result property="finPrdCdName" column="fin_prd_cd_name"/>
		<result property="slsOrdDtlDlvDate" column="sls_ord_dtl_dlv_date"/>
		<result property="slsOrdDtlVol" column="sls_ord_dtl_vol"/>
		<result property="slsOrdDtlOutVol" column="sls_ord_dtl_out_vol"/>
		<result property="slsOrdDtlNotOutVol" column="sls_ord_dtl_not_out_vol"/>
		<result property="slsOrdDtlPrgCls" column="sls_ord_dtl_prg_cls"/>
	</resultMap>
	
	<resultMap type="planVO" id="planMap">
		<result property="planProdVol" column="plan_prod_vol"/>
	</resultMap>
	
	<resultMap type="ordHdDtl" id="ordHdDtlMap">
		<collection property="slsOrdHdVO" resultMap="ordHdMap"/>
		<collection property="slsOrdDtlVO" resultMap="ordDtlMap"/>
	</resultMap>
	
	<resultMap type="slsOrdPlanVO" id="ordPlanMap">
		<collection property="slsOrdHdVO" resultMap="ordHdMap"/>
		<collection property="slsOrdDtlVO" resultMap="ordDtlMap"/>
		<collection property="planVO" resultMap="planMap"/>
	</resultMap>
	
	<select id="findAllOrder" resultMap="ordHdDtlMap">
		SELECT ORDHD.SLS_ORD_HD_DATE,
			   ORDHD.SLS_ORD_HD_NO,
			   VEND.VEND_CD_NM, 
               FNSPRD.FIN_PRD_CD_CODE,
               FNSPRD.FIN_PRD_CD_NAME, 
               ORDDTL.SLS_ORD_DTL_DLV_DATE,
               ORDDTL.SLS_ORD_DTL_VOL,
               ORDDTL.SLS_ORD_DTL_OUT_VOL,
               ORDDTL.SLS_ORD_DTL_NOT_OUT_VOL,
               EMP.EMP_NAME,
               NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
		FROM BF_SALES_ORD_HD ORDHD
		JOIN BF_SALES_ORD_DTL ORDDTL
		  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
        JOIN BF_CMN_EMP EMP
          ON EMP.EMP_ID = ORDHD.EMP_ID
		JOIN BF_CMN_VENDOR_CODE VEND
		  ON VEND.VEND_CD_CODE = ORDHD.VEND_CD_CODE
        JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
          ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
	</select>
	
	<select id="findOrder" resultMap="ordHdDtlMap">
   		SELECT ORDHD.SLS_ORD_HD_DATE,
   			   ORDHD.SLS_ORD_HD_NO,
   			   VEND.VEND_CD_NM, 
               FNSPRD.FIN_PRD_CD_CODE,
               FNSPRD.FIN_PRD_CD_NAME, 
               ORDDTL.SLS_ORD_DTL_DLV_DATE,
               ORDDTL.SLS_ORD_DTL_VOL,
               ORDDTL.SLS_ORD_DTL_OUT_VOL,
               ORDDTL.SLS_ORD_DTL_NOT_OUT_VOL,
               EMP.EMP_NAME,
               NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
		FROM BF_SALES_ORD_HD ORDHD
		JOIN BF_SALES_ORD_DTL ORDDTL
		  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
        JOIN BF_CMN_EMP EMP
          ON EMP.EMP_ID = ORDHD.EMP_ID
		JOIN BF_CMN_VENDOR_CODE VEND
		  ON VEND.VEND_CD_CODE = ORDHD.VEND_CD_CODE
        JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
          ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
            
        WHERE
        	<if test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
        		ORDHD.SLS_ORD_HD_DATE BETWEEN  TO_DATE(#{ordSdate}, 'YY/MM/DD') AND TO_DATE(#{ordEdate}, 'YY/MM/DD') + 0.9999
        	</if>
        	<if test="vendorName != null and vendorName != ''">
        		AND VEND.VEND_CD_NM = #{vendorName}
        	</if>
        
   	</select>
   	
   	<!-- 주문관리에서 주문내역 조회 모달 -->
   	<select id="findOrderModal" resultType="slsOrdHdVO">
   		SELECT DISTINCT ORDHD.SLS_ORD_HD_NO,
   			   ORDHD.SLS_ORD_HD_DATE,
   			   VEND.VEND_CD_CODE,
   			   VEND.VEND_CD_NM,
   			   EMP.EMP_NAME,
   			   NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
   		FROM BF_SALES_ORD_HD ORDHD
   		JOIN BF_CMN_VENDOR_CODE VEND
   		  ON ORDHD.VEND_CD_CODE = VEND.VEND_CD_CODE
   		JOIN BF_CMN_EMP EMP
   		  ON ORDHD.EMP_ID = EMP.EMP_ID
   		<if test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
   			WHERE ORDHD.SLS_ORD_HD_DATE BETWEEN  TO_DATE(#{ordSdate}, 'YY/MM/DD') AND TO_DATE(#{ordEdate}, 'YY/MM/DD') + 0.9999
        </if>
   	</select>
   	
   	<!-- 주문관리에서 주문내역 상세 조회 -->
   	<select id="findDtlOrder" resultType="slsOrdDtlVO">
   		SELECT FNSPRD.FIN_PRD_CD_CODE,
   			   FNSPRD.FIN_PRD_CD_NAME,
   			   ORDDTL.SLS_ORD_DTL_DLV_DATE,
   			   ORDDTL.SLS_ORD_DTL_VOL,
   			   ORDDTL.SLS_ORD_DTL_NOT_OUT_VOL
   		FROM BF_SALES_ORD_HD ORDHD 
   		JOIN BF_SALES_ORD_DTL ORDDTL
   		  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
   		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
   		  ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
   		WHERE ORDDTL.SLS_ORD_HD_NO = #{slsOrdHdNo}
   	</select>
   	
   	<!-- 생산계획에 존재하지 않거나 생산계획에 존재하는데 주문량에 못 미치는 주문내역 조회 -->
   	<select id="findOrderForPlan" resultMap="ordPlanMap">
   		SELECT <if test="ordType == 'head'"> DISTINCT </if> H.SLS_ORD_HD_NO, H.SLS_ORD_HD_DATE,
   			   H.VEND_CD_CODE, V.VEND_CD_NM,
   		       H.EMP_ID, NVL(H.SLS_ORD_HD_REMK,' ') AS SLS_ORD_HD_REMK
   		       <if test="ordType != 'head'">
   		       ,D.SLS_ORD_DTL_NO, D.FIN_PRD_CD_CODE, F.FIN_PRD_CD_NAME,
   		       D.SLS_ORD_DTL_DLV_DATE, D.SLS_ORD_DTL_VOL, D.SLS_ORD_DTL_PRG_CLS, D.SLS_ORD_DTL_NO,
               NVL(P.PLAN_PROD_VOL,0) AS PLAN_PROD_VOL
               </if>
		       FROM BF_SALES_ORD_HD H
		JOIN BF_SALES_ORD_DTL D
		  ON H.SLS_ORD_HD_NO = D.SLS_ORD_HD_NO
		JOIN BF_CMN_VENDOR_CODE V
		  ON V.VEND_CD_CODE = H.VEND_CD_CODE
		JOIN BF_CMN_FINISH_PRODUCT_CODE F
		  ON F.FIN_PRD_CD_CODE = D.FIN_PRD_CD_CODE
		LEFT OUTER JOIN
		  (SELECT H.PLAN_HD_CODE, P.FIN_PRD_CD_CODE, SUM(P.PLAN_PROD_VOL) AS PLAN_PROD_VOL, H.SLS_ORD_HD_NO
		          FROM BF_PROD_PLAN P
		   JOIN BF_PROD_PLAN_HD H
		    ON P.PLAN_HD_CODE = H.PLAN_HD_CODE
		   GROUP BY H.PLAN_HD_CODE, H.SLS_ORD_HD_NO, P.FIN_PRD_CD_CODE
		    HAVING H.SLS_ORD_HD_NO IS NOT NULL) P
		ON (H.SLS_ORD_HD_NO = P.SLS_ORD_HD_NO
		   AND D.FIN_PRD_CD_CODE = P.FIN_PRD_CD_CODE)
		WHERE ((D.SLS_ORD_dTL_PRG_CLS = 1
               AND D.SLS_ORD_DTL_VOL > P.PLAN_PROD_VOL)
               OR D.SLS_ORD_DTL_PRG_CLS = 0)
               <if test="ordType != 'head'">
               	AND H.SLS_ORD_HD_NO = #{ordType}
               </if>
        <if test="ordType == 'head'">
			<choose>
				<when
					test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
					AND D.sls_ord_dtl_dlv_date BETWEEN #{ordSdate} AND #{ordEdate}
				</when>
				<when test="ordSdate != null and ordSdate != ''">
					AND D.sls_ord_dtl_dlv_date = #{ordSdate}
				</when>
				<when test="ordEdate != null and ordEdate != ''">
					AND D.sls_ord_dtl_dlv_date = #{ordEdate}
				</when>
				<otherwise>
					AND D.sls_ord_dtl_dlv_date > (sysdate - 10)
				</otherwise>
			</choose>
		</if>
		ORDER BY SLS_ORD_HD_DATE DESC
   	</select>
   	
</mapper>