<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.sales.mapper.SlsOutMapper">
	
	<resultMap type="slsOutHdVO" id="outHdMap">
		<id property="slsOutHdNo" column="sls_out_hd_no"/>
		<result property="slsOrdHdNo" column="sls_ord_hd_no"/>
		<result property="slsOutHdDate" column="sls_out_hd_date"/>
		<result property="vendCdCode" column="vend_cd_code"/>
		<result property="vendCdNm" column="vend_cd_nm"/>
		<result property="empId" column="emp_id"/>
		<result property="empName" column="emp_name"/>
		<result property="slsOutHdRemk" column="sls_out_hd_remk"/>
	</resultMap>
	
	<resultMap type="slsOutDtlVO" id="outDtlMap">
		<id property="slsOutDtlNo" column="sls_out_dtl_no"/>
		<result property="slsOrdHdNo" column="sls_ord_hd_no" />
		<result property="slsOutHdNo" column="sls_out_hd_no"/>
		<result property="finPrdCdCode" column="fin_prd_cd_code"/>
		<result property="finPrdCdName" column="fin_prd_cd_name"/>
		<result property="fnsPrdStkLotNo" column="fns_prd_stk_lot_no"/>
		<result property="slsOrdDtlVol" column="sls_ord_dtl_vol"/>
		<result property="slsOutDtlPrvsVol" column="sls_out_dtl_prvs_vol"/>
		<result property="slsOutDtlVol" column="sls_out_dtl_vol"/>
		<result property="finPrdCdPrice" column="fin_prd_cd_price"/>
		<result property="slsOutDtlPrice" column="sls_out_dtl_price"/>
		<result property="slsRtnDtlVol" column="sls_rtn_dtl_vol" />
	</resultMap>
	
	<resultMap type="slsOrdDtlVO" id="ordDtlMap">
		<result property="slsOrdDtlVol" column="sls_ord_dtl_vol" />
		<result property="slsOrdDtlOutVol" column="sls_ord_dtl_out_vol" />
	</resultMap>
	
	<resultMap type="outHdDtl" id="outHdDtlMap">
		<collection property="slsOutHdVO" resultMap="outHdMap"/>
		<collection property="slsOutDtlVO" resultMap="outDtlMap"/>
		<collection property="slsOrdDtlVO" resultMap="ordDtlMap"/>
	</resultMap>
	
	<select id="findAllOut" resultMap="outHdDtlMap">
	SELECT OUTHD.SLS_OUT_HD_DATE,
		   OUTHD.SLS_OUT_HD_NO,
           VEND.VEND_CD_NM,
           FNSPRD.FIN_PRD_CD_CODE,
		   FNSPRD.FIN_PRD_CD_NAME,
           OUTHD.SLS_ORD_HD_NO,
           ORDDTL.SLS_ORD_DTL_VOL,
		   OUTDTL.SLS_OUT_DTL_PRVS_VOL,
		   OUTDTL.SLS_OUT_DTL_VOL,
		   OUTDTL.FNS_PRD_STK_LOT_NO,
           FNSPRD.FIN_PRD_CD_PRICE,
		   OUTDTL.SLS_OUT_DTL_PRICE,
		   EMP.EMP_NAME,
		   NVL(OUTHD.SLS_OUT_HD_REMK, ' ') AS SLS_OUT_HD_REMK
		FROM BF_SALES_OUT_HD OUTHD
		JOIN BF_SALES_OUT_DTL OUTDTL
    	  ON OUTHD.SLS_OUT_HD_NO = OUTDTL.SLS_OUT_HD_NO
  		JOIN BF_SALES_ORD_HD ORDHD
    	  ON ORDHD.SLS_ORD_HD_NO = OUTHD.SLS_ORD_HD_NO
 		JOIN BF_SALES_ORD_DTL ORDDTL
    	  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
 		JOIN BF_CMN_EMP EMP
   		  ON EMP.EMP_ID = OUTHD.EMP_ID
 		JOIN BF_CMN_VENDOR_CODE VEND
    	  ON VEND.VEND_CD_CODE = OUTHD.VEND_CD_CODE
 		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
    	  ON FNSPRD.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
 		JOIN BF_SALES_FINISH_PRODUCT_STOK FNSPRDSK
    	  ON FNSPRDSK.FNS_PRD_STK_LOT_NO = OUTDTL.FNS_PRD_STK_LOT_NO
 		WHERE ORDDTL.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
 		ORDER BY SLS_OUT_HD_DATE DESC, SLS_OUT_HD_NO DESC
	</select>
	
	<select id="findOut" resultMap="outHdDtlMap">
	SELECT OUTHD.SLS_OUT_HD_DATE,
		   OUTHD.SLS_OUT_HD_NO,
           VEND.VEND_CD_NM,
           FNSPRD.FIN_PRD_CD_CODE,
		   FNSPRD.FIN_PRD_CD_NAME,
           OUTHD.SLS_ORD_HD_NO,
           ORDDTL.SLS_ORD_DTL_VOL,
		   OUTDTL.SLS_OUT_DTL_PRVS_VOL,
		   OUTDTL.SLS_OUT_DTL_VOL,
		   OUTDTL.FNS_PRD_STK_LOT_NO,
           FNSPRD.FIN_PRD_CD_PRICE,
		   OUTDTL.SLS_OUT_DTL_PRICE,
		   EMP.EMP_NAME,
		   NVL(OUTHD.SLS_OUT_HD_REMK, ' ') AS SLS_OUT_HD_REMK
	FROM BF_SALES_OUT_HD OUTHD
	JOIN BF_SALES_OUT_DTL OUTDTL
   	  ON OUTHD.SLS_OUT_HD_NO = OUTDTL.SLS_OUT_HD_NO
 	JOIN BF_SALES_ORD_HD ORDHD
   	  ON ORDHD.SLS_ORD_HD_NO = OUTHD.SLS_ORD_HD_NO
	JOIN BF_SALES_ORD_DTL ORDDTL
   	  ON ORDHD.SLS_ORD_HD_NO = ORDDTL.SLS_ORD_HD_NO
	JOIN BF_CMN_EMP EMP
  	  ON EMP.EMP_ID = OUTHD.EMP_ID
	JOIN BF_CMN_VENDOR_CODE VEND
   	  ON VEND.VEND_CD_CODE = OUTHD.VEND_CD_CODE
	JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
   	  ON FNSPRD.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
	JOIN BF_SALES_FINISH_PRODUCT_STOK FNSPRDSK
   	  ON FNSPRDSK.FNS_PRD_STK_LOT_NO = OUTDTL.FNS_PRD_STK_LOT_NO
   	  
	WHERE ORDDTL.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
	
		<if test="(outSdate != null and outSdate != '') and (outEdate != null and outEdate != '')">
			AND TRUNC(OUTHD.SLS_OUT_HD_DATE) BETWEEN  #{outSdate} AND #{outEdate}
		</if>
		<if test="vendorName != null and vendorName != ''">
			AND VEND.VEND_CD_NM = #{vendorName}
		</if>
	ORDER BY SLS_OUT_HD_DATE DESC, SLS_OUT_HD_NO DESC
	</select>
	
	
	<!-- 출고관리에서 미출고 주문 조회 모달-->
   	<select id="findNotOut" resultType="slsOrdHdVO">
   		SELECT DISTINCT ORDHD.SLS_ORD_HD_NO,
   			   ORDHD.SLS_ORD_HD_DATE,
   			   VEND.VEND_CD_CODE,
   			   VEND.VEND_CD_NM,
   			   EMP.EMP_ID,
   			   EMP.EMP_NAME,
   			   NVL(ORDHD.SLS_ORD_HD_REMK, ' ') AS SLS_ORD_HD_REMK
   		FROM BF_SALES_ORD_HD ORDHD
   		JOIN BF_SALES_ORD_DTL ORDDTL
   		  ON ORDDTL.SLS_ORD_HD_NO = ORDHD.SLS_ORD_HD_NO
   		JOIN BF_CMN_VENDOR_CODE VEND
   		  ON ORDHD.VEND_CD_CODE = VEND.VEND_CD_CODE
   		JOIN BF_CMN_EMP EMP
   		  ON ORDHD.EMP_ID = EMP.EMP_ID
   		  
		WHERE ORDDTL.SLS_ORD_DTL_VOL > ORDDTL.SLS_ORD_DTL_OUT_VOL
   		<if test="(ordSdate != null and ordSdate != '') and (ordEdate != null and ordEdate != '')">
   			AND TRUNC(ORDHD.SLS_ORD_HD_DATE) BETWEEN  #{ordSdate} AND #{ordEdate}
        </if>
        ORDER BY SLS_ORD_HD_DATE DESC, SLS_ORD_HD_NO DESC
   	</select>
   	
   	<!-- 출고관리에서 미출고 주문 상세조회 모달-->
   	<select id="findNotOutDtl" resultMap="outHdDtlMap">
   		SELECT FNSPRD.FIN_PRD_CD_CODE,
   			   FNSPRD.FIN_PRD_CD_NAME,
   			   FNSPRD.FIN_PRD_CD_PRICE,
   			   ORDDTL.SLS_ORD_DTL_VOL,
   			   NVL(ORDDTL.SLS_ORD_DTL_OUT_VOL, 0) AS SLS_ORD_DTL_OUT_VOL
		FROM BF_SALES_ORD_DTL ORDDTL
		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
		  ON FNSPRD.FIN_PRD_CD_CODE = ORDDTL.FIN_PRD_CD_CODE
		WHERE SLS_ORD_HD_NO = #{slsOrdHdNo}
		AND ORDDTL.SLS_ORD_DTL_VOL > ORDDTL.SLS_ORD_DTL_OUT_VOL
   	</select>
   	
   	<!-- 출고관리에서 출고내역 조회 모달-->
   	<select id="outView" resultType="slsOutHdVO">
   		SELECT DISTINCT OUTHD.SLS_OUT_HD_NO,
   			   OUTHD.SLS_OUT_HD_DATE,
   			   OUTHD.SLS_ORD_HD_NO,
   			   VEND.VEND_CD_CODE,
   			   VEND.VEND_CD_NM,
   			   EMP.EMP_ID,
   			   EMP.EMP_NAME,
   			   NVL(OUTHD.SLS_OUT_HD_REMK, ' ') AS SLS_OUT_HD_REMK
   		FROM BF_SALES_OUT_HD OUTHD
   		JOIN BF_CMN_VENDOR_CODE VEND
   		  ON VEND.VEND_CD_CODE = OUTHD.VEND_CD_CODE
   		JOIN BF_CMN_EMP EMP
   		  ON OUTHD.EMP_ID = EMP.EMP_ID
   		  
   		<if test="(outSdate != null and outSdate != '') and (outEdate != null and outEdate != '')">
   			WHERE TRUNC(SLS_OUT_HD_DATE) BETWEEN  #{outSdate} AND #{outEdate}
        </if>
		ORDER BY SLS_OUT_HD_DATE DESC, SLS_OUT_HD_NO DESC
   	</select>
   	
   	<!-- 출고관리에서 출고내역 상세조회 -->
   	<select id="outDtlView" resultType="slsOutDtlVO">
		SELECT OUTDTL.SLS_OUT_HD_NO,
   			   FNSPRD.FIN_PRD_CD_CODE,
   			   FNSPRD.FIN_PRD_CD_NAME,
   			   ORDDTL.SLS_ORD_DTL_VOL,
               MIN(FNSPRDSK.FNS_PRD_STK_LOT_NO) AS FNS_PRD_STK_LOT_NO,
   			   MIN(OUTDTL.SLS_OUT_DTL_PRVS_VOL) AS SLS_OUT_DTL_PRVS_VOL,
   			   SUM(OUTDTL.SLS_OUT_DTL_VOL) AS SLS_OUT_DTL_VOL,
   			   FNSPRD.FIN_PRD_CD_PRICE,
               COUNT(*) AS SLS_OUT_COUNT
   		FROM BF_SALES_OUT_DTL OUTDTL
   		JOIN BF_SALES_OUT_HD OUTHD
   		  ON OUTHD.SLS_OUT_HD_NO = OUTDTL.SLS_OUT_HD_NO
   		JOIN BF_SALES_ORD_HD ORDHD
   		  ON ORDHD.SLS_ORD_HD_NO = OUTHD.SLS_ORD_HD_NO
   		JOIN BF_SALES_ORD_DTL ORDDTL
   		  ON ORDDTL.SLS_ORD_HD_NO = ORDHD.SLS_ORD_HD_NO
   		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
   		  ON FNSPRD.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
   		JOIN BF_SALES_FINISH_PRODUCT_STOK FNSPRDSK
   		  ON FNSPRDSK.FNS_PRD_STK_LOT_NO = OUTDTL.FNS_PRD_STK_LOT_NO
   		WHERE OUTDTL.SLS_OUT_HD_NO = #{slsOutHdNo} AND ORDDTL.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
        GROUP BY OUTDTL.SLS_OUT_HD_NO,
                 FNSPRD.FIN_PRD_CD_CODE,
                 FNSPRD.FIN_PRD_CD_NAME,
                 ORDDTL.SLS_ORD_DTL_VOL,
                 FNSPRD.FIN_PRD_CD_PRICE
   	</select>
   	
   	<!-- 완제품 출고관리에서 헤더 등록 -->
   	<insert id="outInsertHd" parameterType="slsOutHdVO">
   		INSERT INTO BF_SALES_OUT_HD
   		VALUES('SLS_OUT' || LPAD(BF_SALES_OUT_HD_SEQ.nextval, 3, 0),
   				#{slsOrdHdNo},
   				#{slsOutHdDate},
   				#{vendCdCode},
   				#{empId},
   				#{slsOutHdRemk})
   	</insert>
   	
   	<!-- 바디등록 -->
	<insert id="outInsertDtl" parameterType="slsOutDtlVO">
   		<!-- 주문번호에 해당하는 제품 출고량 가져오기 (기출고량 입력하기 위한) -->
   		<selectKey keyProperty="slsOutDtlPrvsVol" order="BEFORE" resultType="Integer">
   		   	SELECT SLS_ORD_DTL_OUT_VOL
			FROM BF_SALES_ORD_DTL
			WHERE FIN_PRD_CD_CODE = #{finPrdCdCode} 
			  AND SLS_ORD_HD_NO = #{slsOrdHdNo}
   		</selectKey>
   		
   		INSERT INTO BF_SALES_OUT_DTL 
   		VALUES
   			('SLS_OUTD' || LPAD(BF_SALES_OUT_DTL_SEQ.nextval, 3, 0),
   			 (SELECT SLS_OUT_HD_NO
				FROM (SELECT SLS_OUT_HD_NO FROM BF_SALES_OUT_HD ORDER BY SLS_OUT_HD_NO DESC)
				WHERE ROWNUM=1),
   			  #{finPrdCdCode},
   			  #{fnsPrdStkLotNo},
   			  #{slsOutDtlPrvsVol},
   			  #{slsOutDtlVol},
   			  (SELECT FIN_PRD_CD_PRICE * #{slsOutDtlVol}
			  FROM BF_CMN_FINISH_PRODUCT_CODE
			  WHERE FIN_PRD_CD_CODE = #{finPrdCdCode})
   			  )
   	</insert>
   	
   	<!-- 완제품 출고 수정 -->
   	<update id="outUpdate">
   		UPDATE BF_SALES_OUT_DTL
   		SET SLS_OUT_DTL_VOL = #{slsOutDtlVol}
   		WHERE SLS_OUT_DTL_NO = #{slsOutDtlNo}
   	</update>
   	
   	
   	<!-- 완제품 출고 헤더 삭제 -->
	<delete id="rtnHdDelete">
		DELETE FROM BF_SALES_OUT_HD
		WHERE SLS_OUT_HD_NO = #{priKey}
	</delete>
	
   	<!-- 완제품 출고 디테일 삭제 -->
   	<delete id="outDelete">
   		DELETE FROM BF_SALES_OUT_DTL
   		WHERE SLS_OUT_DTL_NO IN
   		<foreach item="priKey" collection="list" open="(" separator="," close=")">
   			#{priKey}
   		</foreach>
   	</delete>
   	
   	<!-- 반품관리에서 출고조회 모달 -->
   	<select id="outDtlViewToReturn" resultType="slsOutDtlVO">
   		SELECT FNSPRD.FIN_PRD_CD_CODE, 
               FNSPRD.FIN_PRD_CD_NAME,
               OUTDTL.SLS_OUT_HD_NO,
               OUTDTL.FNS_PRD_STK_LOT_NO, 
               OUTDTL.SLS_OUT_DTL_VOL,
               SUM(RTNDTL.SLS_RTN_DTL_VOL) AS SLS_RTN_DTL_VOL,
               FNSPRD.FIN_PRD_CD_PRICE
               
   		FROM BF_SALES_OUT_DTL OUTDTL
   		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
   		  ON FNSPRD.FIN_PRD_CD_CODE = OUTDTL.FIN_PRD_CD_CODE
   		JOIN BF_SALES_FINISH_PRODUCT_STOK FNSPRDSK
   		  ON FNSPRDSK.FNS_PRD_STK_LOT_NO = OUTDTL.FNS_PRD_STK_LOT_NO
        JOIN BF_SALES_RTN_DTL RTNDTL
          ON RTNDTL.FNS_PRD_STK_LOT_NO = OUTDTL.FNS_PRD_STK_LOT_NO
          
   		WHERE OUTDTL.SLS_OUT_HD_NO = #{slsOutHdNo}
   		
        GROUP BY FNSPRD.FIN_PRD_CD_CODE,
                         FNSPRD.FIN_PRD_CD_NAME,
                         OUTDTL.SLS_OUT_HD_NO,
                         OUTDTL.FNS_PRD_STK_LOT_NO,
                         OUTDTL.SLS_OUT_DTL_VOL,
                         FNSPRD.FIN_PRD_CD_PRICE
   	</select>
   	<!-- 반품관리에서  -->
   	<select id="checkOrder" resultType="Integer">
   		SELECT COUNT(SLS_ORD_HD_NO) AS CHECK_ORD_COUNT
   		FROM BF_SALES_OUT_HD
   		WHERE SLS_ORD_HD_NO = #{slsOrdHdNo}
   	</select>
   	
</mapper>