<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.sales.mapper.SlsRtnMapper">
	
	<resultMap type="slsRtnHdVO" id="rtnHdMap">
		<id property="slsRtnHdNo" column="sls_rtn_hd_no" />
		<result property="slsRtnHdDate" column="sls_rtn_hd_date"/>
		<result property="vendCdCode" column="vend_cd_code"/>
		<result property="vendCdNm" column="vend_cd_nm"/>
		<result property="slsOutHdNo" column="sls_out_hd_no"/>
		<result property="empId" column="emp_id"/>
		<result property="empName" column="emp_name"/>
		<result property="slsRtnHdRemk" column="sls_rtn_hd_remk"/>
	</resultMap>
	
	<resultMap type="slsRtnDtlVO" id="rtnDtlMap">
		<id property="slsRtnDtlNo" column="sls_rtn_dtl_no" />
		<result property="slsRtnHdNo" column="sls_rtn_hd_no"/>
		<result property="finPrdCdCode" column="fin_prd_cd_code"/>
		<result property="finPrdCdName" column="fin_prd_cd_name"/>
		<result property="fnsPrdStkLotNo" column="fns_prd_stk_lot_no"/>
		<result property="slsRtnDtlVol" column="sls_rtn_dtl_vol"/>
		<result property="finPrdCdPrice" column="fin_prd_cd_price"/>
		<result property="slsRtnDtlPrice" column="sls_rtn_dtl_price"/>
		<result property="slsRtnDtlBaseVol" column="sls_rtn_dtl_base_vol" />
		<result property="slsRtnDtlPrcCls" column="sls_rtn_dtl_prc_cls"/>
		<result property="slsRtnDtlResn" column="sls_rtn_resn"/>
		<result property="slsOutDtlVol" column="sls_out_dtl_vol"/>
	</resultMap>
	
	<resultMap type="slsRtnHdDtlVO" id="rtnHdDtlMap">
		<collection property="slsRtnHdVO" resultMap="rtnHdMap"/>
		<collection property="slsRtnDtlVO" resultMap="rtnDtlMap"/>
	</resultMap>
	
	<select id="findAllReturn" resultMap="rtnHdDtlMap">
	SELECT RTNHD.SLS_RTN_HD_DATE,
		   RTNHD.SLS_RTN_HD_NO,
           VEND.VEND_CD_NM,
           FNSPRD.FIN_PRD_CD_CODE,
           FNSPRD.FIN_PRD_CD_NAME,
           OUTHD.SLS_OUT_HD_NO,
           RTNDTL.SLS_RTN_DTL_VOL,
           FNSPRD.FIN_PRD_CD_PRICE,
           RTNDTL.SLS_RTN_DTL_PRICE,
           RTNDTL.SLS_RTN_DTL_PRC_CLS,
           RTNDTL.SLS_RTN_RESN,
           EMP.EMP_NAME,
           NVL(RTNHD.SLS_RTN_HD_REMK, ' ') AS SLS_RTN_HD_REMK
	FROM BF_SALES_RTN_HD RTNHD JOIN BF_SALES_RTN_DTL RTNDTL
	  ON RTNHD.SLS_RTN_HD_NO = RTNDTL.SLS_RTN_HD_NO
	JOIN BF_CMN_VENDOR_CODE VEND
	  ON RTNHD.VEND_CD_CODE = VEND.VEND_CD_CODE
    JOIN BF_SALES_OUT_HD OUTHD
      ON RTNHD.SLS_OUT_HD_NO = OUTHD.SLS_OUT_HD_NO
	JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
	  ON RTNDTL.FIN_PRD_CD_CODE = FNSPRD.FIN_PRD_CD_CODE
    JOIN BF_CMN_EMP EMP
      ON OUTHD.EMP_ID = EMP.EMP_ID
	</select>
	
	<select id="findReturn" resultMap="rtnHdDtlMap">
	SELECT RTNHD.SLS_RTN_HD_DATE,
		   RTNHD.SLS_RTN_HD_NO,
           VEND.VEND_CD_NM,
           FNSPRD.FIN_PRD_CD_CODE,
           FNSPRD.FIN_PRD_CD_NAME,
           OUTHD.SLS_OUT_HD_NO,
           RTNDTL.SLS_RTN_DTL_VOL,
           FNSPRD.FIN_PRD_CD_PRICE,
           RTNDTL.SLS_RTN_DTL_PRICE,
           RTNDTL.SLS_RTN_DTL_PRC_CLS,
           RTNDTL.SLS_RTN_RESN,
           EMP.EMP_NAME,
           NVL(RTNHD.SLS_RTN_HD_REMK, ' ') AS SLS_RTN_HD_REMK
	FROM BF_SALES_RTN_HD RTNHD 
	JOIN BF_SALES_RTN_DTL RTNDTL
	  ON RTNHD.SLS_RTN_HD_NO = RTNDTL.SLS_RTN_HD_NO
	JOIN BF_CMN_VENDOR_CODE VEND
	  ON RTNHD.VEND_CD_CODE = VEND.VEND_CD_CODE
    JOIN BF_SALES_OUT_HD OUTHD
      ON RTNHD.SLS_OUT_HD_NO = OUTHD.SLS_OUT_HD_NO
	JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
	  ON RTNDTL.FIN_PRD_CD_CODE = FNSPRD.FIN_PRD_CD_CODE
    JOIN BF_CMN_EMP EMP
      ON OUTHD.EMP_ID = EMP.EMP_ID
      
     WHERE TRUNC(OUTHD.SLS_OUT_HD_DATE) BETWEEN  #{rtnSdate} AND #{rtnEdate}
    	<if test="vendorName != null and vendorName != ''">
    		AND VEND.VEND_CD_NM = #{vendorName}
    	</if>
    	<if test="prcCls != null and prcCls != ''">
    		AND RTNDTL.SLS_RTN_DTL_PRC_CLS = #{prcCls}
    	</if>
	</select>
	
	<!-- 완제품 반품 관리에서 반품내역 조회 모달 -->
	<select id="returnView" resultType="slsRtnHdVO">
		SELECT DISTINCT RTNHD.SLS_RTN_HD_NO,
			   RTNHD.SLS_RTN_HD_DATE,
			   VEND.VEND_CD_CODE,
			   VEND.VEND_CD_NM,
			   EMP.EMP_ID,
			   EMP.EMP_NAME,
			   NVL(RTNHD.SLS_RTN_HD_REMK, ' ') AS SLS_RTN_HD_REMK
		FROM BF_SALES_RTN_HD RTNHD
		JOIN BF_CMN_VENDOR_CODE VEND
		  ON VEND.VEND_CD_CODE = RTNHD.VEND_CD_CODE
		JOIN BF_CMN_EMP EMP
		  ON EMP.EMP_ID = RTNHD.EMP_ID
		
		<if test="(rtnSdate != null and rtnSdate != '') and (rtnEdate != null and rtnEdate !='')">
			WHERE SLS_RTN_HD_DATE BETWEEN  TO_DATE(#{rtnSdate}, 'YY/MM/DD') AND TO_DATE(#{rtnEdate}, 'YY/MM/DD') + 0.9999
		</if>
		
		ORDER BY SLS_RTN_HD_NO DESC
	</select>
	
	<!-- 완제품 반품 관리에서 반품내역 상세조회 -->
	<select id="returnDtlView" resultMap="rtnHdDtlMap">
		SELECT RTNDTL.SLS_RTN_DTL_NO,
			   FNSPRD.FIN_PRD_CD_CODE,
			   FNSPRD.FIN_PRD_CD_NAME,
			   RTNHD.SLS_OUT_HD_NO,
               OUTDTL.FNS_PRD_STK_LOT_NO,
               OUTDTL.SLS_OUT_DTL_VOL,
			   RTNDTL.SLS_RTN_DTL_BASE_VOL,
			   RTNDTL.SLS_RTN_DTL_VOL,
			   FNSPRD.FIN_PRD_CD_PRICE,
			   RTNDTL.SLS_RTN_DTL_PRICE,
			   RTNDTL.SLS_RTN_DTL_PRC_CLS,
			   RTNDTL.SLS_RTN_RESN
		FROM BF_SALES_RTN_HD RTNHD
		JOIN BF_SALES_RTN_DTL RTNDTL
		  ON RTNDTL.SLS_RTN_HD_NO = RTNHD.SLS_RTN_HD_NO
		JOIN BF_CMN_FINISH_PRODUCT_CODE FNSPRD
		  ON FNSPRD.FIN_PRD_CD_CODE = RTNDTL.FIN_PRD_CD_CODE
        JOIN BF_SALES_OUT_DTL OUTDTL
          ON OUTDTL.SLS_OUT_HD_NO = RTNHD.SLS_OUT_HD_NO
	    JOIN BF_CMN_EMP EMP
	      ON RTNHD.EMP_ID = EMP.EMP_ID
          
		WHERE RTNHD.SLS_RTN_HD_NO = #{slsRtnHdNo}
        AND OUTDTL.FNS_PRD_STK_LOT_NO = RTNDTL.FNS_PRD_STK_LOT_NO
	</select>
	
	<!-- 완제품 반품관리에서 헤더 등록 -->
	<insert id="rtnInsertHd" parameterType="SlsRtnHdVO">
		INSERT INTO BF_SALES_RTN_HD
		VALUES('SLS_RTN' || LPAD(BF_SALES_RTN_HD_SEQ.nextval, 3, 0),
				#{slsOutHdNo},
				#{slsRtnHdDate},
				#{vendCdCode},
				#{empId},
				#{slsRtnHdRemk})
	</insert>
	
	<!-- 완제품 반품관리에서 바디등록 -->
	<insert id="rtnInsertDtl" parameterType="SlsRtnDtlVO">
		<selectKey keyProperty="slsRtnHdNo" order="BEFORE" resultType="String">
                SELECT SLS_RTN_HD_NO
				FROM (SELECT SLS_RTN_HD_NO FROM BF_SALES_RTN_HD ORDER BY SLS_RTN_HD_NO DESC)
				WHERE ROWNUM=1
   		</selectKey>
   		
   		INSERT INTO BF_SALES_RTN_DTL
   		VALUES ('SLS_RTND'|| LPAD(BF_SALES_OUT_DTL_SEQ.nextval, 3, 0),
   				#{slsRtnHdNo},
   				#{finPrdCdCode},
   				#{fnsPrdStkLotNo},
   				#{slsRtnDtlBaseVol},
   				#{slsRtnDtlVol},
   				#{slsRtnDtlPrice},
   				#{slsRtnDtlPrcCls},
   				#{slsRtnDtlResn})
	</insert>
	
	<!-- 완제품 반품관리 디테일 기본 수정 -->
   	<update id="rtnUpdate">
		UPDATE BF_SALES_RTN_DTL
		SET ${updCol} = #{updCont}
		WHERE SLS_RTN_DTL_NO = #{priKey}
   	</update>
   	
   	<!-- 처리구분을 수정하는 경우 프로시저 실행 -->
	<select id="callProcOutDtlDel" statementType="CALLABLE">
		{
			CALL UPDATE_SALES_RTN_PROCEDURE(#{priKey}, #{updCont})
		}
	</select>
   	
	<!-- 완제품 반품관리 헤더 삭제 -->
	<delete id="rtnHdDelete">
		DELETE FROM BF_SALES_RTN_HD
		WHERE SLS_RTN_HD_NO = #{priKey}
	</delete>
	
	<!-- 완제품 반품관리 디테일 삭제 -->
	<delete id="rtnDelete">
		DELETE FROM BF_SALES_RTN_DTL
		WHERE SLS_RTN_DTL_NO = #{slsRtnDtlNo}
	</delete>
	
	<select id="rtnDtlNoSelect" parameterType="slsRtnDtlVO" resultType="slsRtnDtlVO">
		SELECT SLS_RTN_DTL_NO
		FROM BF_SALES_RTN_DTL
		WHERE SLS_RTN_HD_NO = #{slsRtnHdNo}
	</select>
</mapper>