<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.sales.mapper.SlsStockMapper">

	<select id="findAllStock" resultType="slsStockVO">
		SELECT INDTL.SLS_IN_DTL_DATE, 
               INDTL.SLS_IN_DTL_REMK,
               
               PRDCD.FIN_PRD_CD_NAME,
                
		       STOCK.FIN_PRD_CD_CODE,
               STOCK.FNS_PRD_STK_VOL,
               STOCK.FNS_PRD_STK_LOT_NO
                
		 FROM BF_SALES_FINISH_PRODUCT_STOK STOCK
		 JOIN BF_CMN_FINISH_PRODUCT_CODE PRDCD
		   ON STOCK.FIN_PRD_CD_CODE = PRDCD.FIN_PRD_CD_CODE
		 JOIN BF_SALES_IN_DTL INDTL
		   ON STOCK.SLS_IN_DTL_NO = INDTL.SLS_IN_DTL_NO
		   
        WHERE FNS_PRD_STK_VOL > 0
	</select>
	
	<select id="findStock" resultType="slsStockVO">
		SELECT INDTL.SLS_IN_DTL_DATE,
               INDTL.SLS_IN_DTL_REMK,
               
               PRDCD.FIN_PRD_CD_NAME,
               
			   STOCK.FIN_PRD_CD_CODE,
               STOCK.FNS_PRD_STK_VOL,
               STOCK.FNS_PRD_STK_LOT_NO
               
		FROM BF_SALES_FINISH_PRODUCT_STOK STOCK
		JOIN BF_CMN_FINISH_PRODUCT_CODE PRDCD
		  ON STOCK.FIN_PRD_CD_CODE = PRDCD.FIN_PRD_CD_CODE
		JOIN BF_SALES_IN_DTL INDTL
		  ON STOCK.SLS_IN_DTL_NO = INDTL.SLS_IN_DTL_NO
		  
        WHERE FNS_PRD_STK_VOL > 0
        
        <if test="prdName != null and prdName != ''">
        	<![CDATA[ AND FIN_PRD_CD_NAME = #{prdName} ]]>
        </if>
        
        <if test="lotNo != null and lotNo != ''">
        	<![CDATA[ AND FNS_PRD_STK_LOT_NO = #{lotNo} ]]>
        </if>
        
        <if test="lotNo != null and lotNo != '' and prdName != null and prdName != ''">
        	<![CDATA[ AND FIN_PRD_CD_NAME = #{prdName} AND FNS_PRD_STK_LOT_NO = #{lotNo} ]]>
        </if>
	</select>
</mapper>