<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<th:block th:fragment="findProcForLine">

		<div class="modal fade" id="findProcForLineModal" tabindex="-1"
			role="dialog" aria-labelledby="findProcForLineModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="findProcForLineModalLabel">라인별 공정 검색</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="card-body table-border-style">
							<div class="table-responsive">
								<table class="table table-hover" id="findProcForLineTable">
									<thead>
										<tr>
											<th></th>
											<th th:text="공정코드"></th>
											<th th:text="공정명"></th>
											<th th:text="설비코드"></th>
											<th th:text="설비명"></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>