<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	
	<th:block th:fragment="settingPw">
		<div class="modal fade" id="settingPwModal" tabindex="-1"
			role="dialog" aria-labelledby="settingPwModalLabel"
			aria-hidden="true">
			
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="settingPwModalLabel">비밀번호 설정</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="col-md-12">
							<form>
								<div class="form-group row">
									<label for="staticId" class="col-sm-3 col-form-label">ID</label>
									<div class="col-sm-6">
										<input type="text" class="form-control-plaintext" th:id="staticId" disabled>
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword" class="col-sm-3 col-form-label">비밀번호</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="inputPassword" placeholder="영문, 숫자, 특수문자를 최소 한가지를 포함하는 8 ~ 16자의 비밀번호">
									</div>
								</div>
								<div class="form-group row">
									<label for="confirmPassword" class="col-sm-3 col-form-label">비밀번호 확인</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="confirmPassword" placeholder="비밀번호 확인">
									</div>
								</div>
							</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary mt-0" th:text="확인" th:id="okBtn"></button>
					</div>
				</div>
			</div>
		</div>
	</div>



	</th:block>
</body>
</html>