@charset "UTF-8";

h1 {
	margin-top : 2%;
	margin-left : 2%;
	margin-bottom : 2%;
}

.btn {
	margin-top: 1rem;
}

#findOutBtn, #NotOutBtn {
	margin-bottom: 1rem;
}

#findVendorBtn {
	margin-top: 0;
}

.input-group.mb-3 {
	margin-bottom: 0 !important;
}

.rightBtn {
    float : right;
    margin-bottom : 0.3%;
}

.required{
	border-color: #e743c3;
}

.inputRequired {
	border: 1px solid #e74c3c;
}

.canModifyTd {
	background: rgba(241, 196, 15, 0.1);
}

#outMngTable tbody td
{
	height: 2.5rem;
  	text-align: center;
	padding : 0px;
	vertical-align :middle;
}

#outMngTable input[type="date"] {
  height: 100%;
  text-align: center;
  border: 0;
  width: 100%;
  background: rgba(241, 196, 15, 0);
}

.toast {
	z-index: 30000 !important;
}


.swal2-container {
  z-index: 20000 !important;
}

#outTotalPrice {
	text-align: right;
}

.nullVol {
	border : 2px solid red !important;
}

.modal table tbody tr:not(.lotModalTr) {
	cursor:pointer;
}

.lotNo {
	cursor:pointer;
}

#vendor{
	width:153px;
	margin-left:20px;
}