@charset "UTF-8";

h1 {
	margin-top : 2%;
	margin-left : 2%;
	margin-bottom : 2%;
}

.btn {
	margin-top: 1rem;
}

#findRtnBtn, #findOutBtn {
	margin-bottom: 1rem;
}

#findVendorBtn {
	margin-top: 0;
}

.input-group.mb-3 {
	margin-bottom: 0 !important;
}

.rightBtn {
    float : right;
    margin-bottom : 0.3%;
}

.required{
	border-color: #e743c3;
}

.inputRequired {
	border: 1px solid #e74c3c;
}

.canModifyTd {
	background: rgba(241, 196, 15, 0.1);
}

#rtnMngTable tbody td
{
	height: 2.5rem;
  	text-align: center;
	padding : 0px;
	vertical-align :middle;
}

select {
	width : 100%;
	height : 100%;
	border : none;
	border-radius : 0;
	background-color: rgba( 255, 255, 255, 0 );
	-webkit-appearance : none;
	-moz-appearance : none;
	appearance :none;
	text-align-last: center;
	text-align: center;
	box-shadow : none;
}

.nullVol {
	border : 2px solid red !important;
}

.modal table tbody tr {
	cursor:pointer;
}