<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <title>Main</title>
  </head>
  <body>
    <style>
      .parentsCard {
        width: 80%;
        margin : auto;
      }
      .firstCard {
        float : left;
        width: 100%;
        box-sizing : border-box;
      }
      .secondCard {
        float : left;
        width: 100%;
        box-sizing : border-box;
        margin-left : 10%;
      }
    </style>
    <!-- <script type="text/javascript" th:src="@{/js/pages/chart-apex.js}"></script> -->
    <script type="text/javascript" th:src="@{/js/common/mainPage.js}"></script>
    <div class="pcoded-main-container">
      <h1>Main</h1>
      <hr>
      <div class="parentsCard">
        <div class="card firstCard">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-sm-4">
                      <i class="icon feather icon-share-2 text-c-blue mb-1 d-block"></i>
                    </div>
                    <div class="col-6">
                        <h3>작업지시</h3>
                        <h6 class="text-muted m-b-0">이동하기<i class="fa fa-caret-left text-c-red m-l-10"></i></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card secondCard">
          <div class="card-body">
              <div class="row align-items-center">
                  <div class="col-sm-4">
                    <i class="icon feather icon-share-2 text-c-blue mb-1 d-block"></i>
                  </div>
                  <div class="col-6">
                      <h3>작업지시</h3>
                      <h6 class="text-muted m-b-0">이동하기<i class="fa fa-caret-left text-c-red m-l-10"></i></h6>
                  </div>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="row align-items-center">
                  <div class="col-sm-4">
                    <i class="icon feather icon-share-2 text-c-blue mb-1 d-block"></i>
                  </div>
                  <div class="col-6">
                      <h3>작업지시</h3>
                      <h6 class="text-muted m-b-0">이동하기<i class="fa fa-caret-left text-c-red m-l-10"></i></h6>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <!-- 차트 -->
      <div class="col-xl-12" style="clear:both;">
        <div class="card">
            <div class="card-header">
              <input type="hidden" th:value="${finList}">
            </div>
            <div class="card-body table-border-style">
              <div id="chart"></div>
            </div>
        </div>
      </div>
      
    </div>
  </body>
  

</html>
