<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <title>설비 조회</title>
    <style>
 

    	
    </style>
    
  </head>
  
  <body>
    <link th:href="@{/css/pagination2.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/eqp/mchn.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/prod/findmchnname.js}"></script>
	
    <div class="pcoded-main-container">
      <h1>설비 조회</h1>
      <hr />
		<h1 th:text="${cri}"></h1>
		<!-- <h1 th:text="${pageMaker.cri.pageNum}"></h1>
    <h1 th:text="${cri.pageNum}"></h1> -->
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <div class="form-inline">
              <div class="form-group mt-3">
                <label for="mchnname" th:text="설비명"></label>
                <input type="text" id="mchnname" class="form-control mx-sm-3" data-toggle="modal" data-target=".bd-example-modal-lg" />
                <label for="mchnCode" th:text="설비코드"></label>
                <input type="text" id="mchnCode" class="form-control mx-sm-3" readonly />
                <label for="mchnname2" th:text="설비명2"></label>
                <!-- th:value 안에 키워드값 넣어줘야 검색 후 페이지 이동해도 값이 그대로 유지됌-->
                <input type="text" id="mchnname2" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword}">
              </div>
              <form name="searchForm">
                <input type='hidden' id ='type' name="type" th:value="${pageMaker.cri.type}">
              	<input type='hidden' name='keyword' th:value='${pageMaker.cri.keyword}' />
                <input type='hidden' name='keyword2' th:value='${pageMaker.cri.keyword2}' />
				        <input type='hidden' name='pageNum' value='1'>
				        <input type='hidden' name='amount' value='${pageMaker.cri.amount}'>
              <button class="btn btn-primary" id="mchnListBtn">조회</button>
            </form>
            </div>
          </div>

          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped" id="mchnTable">
                <thead>
                  <tr>
                    <th th:text="설비코드"></th>
                    <th th:text="설비명"></th>
                    <th th:text="모델명"></th>
                    <th th:text="제작업체"></th>
                    <th th:text="제작일자"></th>
                    <th th:text="점검주기"></th>
                    <th th:text="최근점검일"></th>
                    <th th:text="설비상태"></th>
                    <th th:text="비고"></th>
                  </tr>
                </thead>
                <tbody>
                <tr th:each="mchn : ${mchnList}">
                <td th:text="${mchn.mchnCode}"></td>
                <td th:text="${mchn.mchnName}"></td>
                </tr>
                  <!-- <tr th:each="mchn : ${mchns}">
                    <td th:text="${mchn.mchnCode}"></td>
                    <td th:text="${mchn.mchnName}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnModel, '')}"></td>
                    <td th:text="${mchn.vendCdNm}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnMnfctDate, '')}"></td>
                    <td th:text="${mchn.mchnInspcCycle}"></td>
                    <td th:text="${mchn.inspcEdate}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnStts, '')}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnRemk, '')}"></td>
                  </tr> -->
                </tbody>
              </table>
              <!-- 페이징 네브 -->
              <th:block th:replace="~{/fragments/pagination :: pagination-nav}"></th:block>     
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 설비코드 Modal -->
    <th:block th:replace="~{/fragments/modal/findMchnName :: findMchnName}"></th:block>

  <script th:inline="javascript">

   $("#mchnListBtn").click(function(e) {
    e.preventDefault();
    //if문 조건 걸어서 검색타입에 따라 키워드 분류 후 서브밋
    if($("#mchnCode").val() != '' && $("#mchnname2").val() == '') {
      let type = $("input:hidden[name=type]").val('a');
      let keyword = $("input:hidden[name=keyword]").val($("#mchnCode").val());
      let keyword2 = $("input:hidden[name=keyword2]").val($("#mchnname2").val());
      let amount = $("input:hidden[name=amount]").val(10);

      searchForm.submit();
    } else if($("#mchnname2").val() != '' && $("#mchnCode").val() == '') {
      let type = $("input:hidden[name=type]").val('b');
      let keyword = $("input:hidden[name=keyword]").val($("#mchnname2").val());
      let amount = $("input:hidden[name=amount]").val(10);
      
      searchForm.submit();
    }
   });

   //페이지 번호 클릭시 현재 검색하고있는 타입,키워드를 같이 보내줌
   $(".pagination").on("click", 'a', function() {
    let pageNum = $(this).text();
    $("input:hidden[name=type]").val($("#type").val());
    $("input:hidden[name=pageNum]").val(pageNum);
    let amount = $("input:hidden[name=amount]").val(10);
    pageForm.submit();
   });
 
 </script>
  </body>

</html>
