<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.FaultyCodeMapper">

	<select id="listFltyCode" resultType="fltyCode">
		SELECT * FROM BF_CMN_FAULTY_CODE ORDER BY FAULTY_CD_CODE
		
	</select>

</mapper>