<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.FinProdMapper">
	
	<select id="listFinProd" resultType="prodCode">
		SELECT FIN_PRD_CD_CODE, FIN_PRD_CD_NAME, FIN_PRD_CD_VOL,
			   FIN_PRD_CD_UNIT, FIN_PRD_CD_UNIT, FIN_PRD_CD_USE,
			   FIN_PRD_CD_PRICE, NVL(FIN_PRD_CD_REMK,' ') AS FIN_PRD_CD_REMK, EMP_ID
		FROM BF_CMN_FINISH_PRODUCT_CODE
		<if test="finName != null and finName != ''">
        WHERE FIN_PRD_CD_NAME LIKE '%'||#{finName}||'%'
		</if>
		ORDER BY FIN_PRD_CD_CODE
	</select>
	
	<delete id="finProdDelete">
		DELETE BF_CMN_FINISH_PRODUCT_CODE
		WHERE FIN_PRD_CD_CODE IN
		<foreach item="priKey" index="idx" collection="list" open="(" separator="," close=")">
		#{priKey}
		</foreach>
	</delete>
	
	<update id="finProdUpdate">
		UPDATE BF_CMN_FINISH_PRODUCT_CODE
		SET ${updCol} = #{updCont}
		WHERE FIN_PRD_CD_CODE = #{priKey}
	</update>
	
	<insert id="finProdInsert" parameterType="prodCode">
		INSERT INTO BF_CMN_FINISH_PRODUCT_CODE
		VALUES('FIN'||LPAD(BF_FIN_PRD_CD_SEQ.NEXTVAL,3,'0'),#{finPrdCdName}
				,#{finPrdCdVol},#{finPrdCdUnit},#{finPrdCdUse}
				,#{finPrdCdPrice},#{finPrdCdRemk},#{empId})
	</insert>
</mapper>