<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.LineMapper">
	
	<select id="listLineCodeHd" resultType="lineCodeHd">
		SELECT LH.LINE_CD_HD_CODE, LH.LINE_CD_HD_NAME
		  FROM BF_CMN_LINE_CODE_HD LH
		<if test="lineName != null and lineName != ''">
        WHERE LH.LINE_CD_HD_NAME LIKE '%'||#{lineName}||'%'
		</if>
		ORDER BY LH.LINE_CD_HD_CODE
	</select>
	
	<select id="listLineCode" resultType="lineCodeVO">
		SELECT L.LINE_CD_ORD, L.LINE_CD_CODE, L.LINE_CD_HD_CODE,
			   L.PROC_CD_CODE, P.PROC_CD_NAME, L.MCHN_CODE, M.MCHN_NAME
			   FROM BF_CMN_LINE_CODE L
			   JOIN BF_CMN_PROC_CODE P
		         ON P.PROC_CD_CODE = L.PROC_CD_CODE
		       JOIN BF_EQP_MCHN M
		         ON M.MCHN_CODE = L.MCHN_CODE
		<if test="lineCode != null and lineCode != ''">
		WHERE L.LINE_CD_HD_CODE = #{lineCode}
		</if>
		ORDER BY L.LINE_CD_CODE
	</select>
	
	<!-- line header insert, update, delete -->
	<insert id="lineCodeHdInsert">
		INSERT INTO BF_CMN_LINE_CODE_HD
		VALUES('LINE'||LPAD(BF_CMN_LINE_CODE_HD_SEQ.NEXTVAL,3,'0'),#{lineName})
	</insert>
	
	<update id="lineCodeHdUpdate">
		UPDATE BF_CMN_LINE_CODE_HD
		SET ${updCol} = #{updCont}
		WHERE LINE_CD_HD_CODE = #{priKey}
	</update>
	
	<delete id="lineCodeHdDelete">
		DELETE BF_CMN_LINE_CODE_HD
		WHERE LINE_CD_HD_CODE = #{priKey}
	</delete>
	
	<!-- line insert, delete, update -->
	<insert id="lineCodeInsert" parameterType ="lineCodeVO">
		INSERT INTO BF_CMN_LINE_CODE
		VALUES('LINEDT'||LPAD(BF_CMN_LINE_CODE_SEQ.NEXTVAL,3,'0'),#{lineCdHdCode},#{procCdCode},#{mchnCode},#{lineCdOrd}})
	</insert>
	
	<update id="lineCodeUpdate">
		UPDATE BF_CMN_LINE_CODE
		SET ${updCol} = #{updCont}
		WHERE LINE_CD_CODE = #{priKey}
	</update>
	
	<delete id="lineCodeDelete">
		DELETE BF_CMN_LINE_CODE
		WHERE LINE_CD_CODE = #{priKey}
	</delete>
	
</mapper>