<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.NonOpMapper">

	<select id="listNonOp" resultType="nonOp">
		SELECT * FROM BF_CMN_NON_OP ORDER BY NON_OP_CODE
	</select>

</mapper>