<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.ProcCodeMapper">
	
	<select id="listProcCode" resultType="procCode">
		SELECT PROC_CD_CODE, PROC_CD_NAME, NVL(PROC_CD_REMK,' ') AS PROC_CD_REMK
		FROM BF_CMN_PROC_CODE
		<if test="procName != null and procName != ''">
			WHERE PROC_CD_NAME LIKE '%'||#{procName}||'%'
		</if>
		ORDER BY PROC_CD_CODE
	</select>
	
	<update id="procCodeUpdate" parameterType = "String">
		UPDATE BF_CMN_PROC_CODE
		SET ${updCol} = #{updCont}
		WHERE PROC_CD_CODE = #{priKey}
	</update>
	
	<insert id="procCodeInsert" parameterType = "String">
		INSERT INTO BF_CMN_PROC_CODE
		VALUES('PROC'||LPAD(BF_CMN_PROC_CODE_SEQ.NEXTVAL,3,'0'),#{procName},#{procRemk})
	</insert>
	
	<delete id="procCodeDelete" parameterType = "String">
		DELETE BF_CMN_PROC_CODE
		WHERE PROC_CD_CODE = #{priKey}
	</delete>
	
</mapper>