<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.RscCodeMapper">

	<select id="listRsc" resultType="RscCode">
		SELECT * FROM BF_CMN_RSC_CODE ORDER BY RSC_CD_CODE
	</select>

</mapper>