<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.cmn.mapper.RscCodeMapper">

	<select id="listRsc" resultType="RscCode">
		SELECT RSC_CD_CODE,
				RSC_CD_NAME,
				RSC_CD_UNIT,
				RSC_CD_CLFY,
				RSC_CD_USE,
				NVL(RSC_CD_REMK, ' ') AS RSC_CD_REMK
		FROM BF_CMN_RSC_CODE 
		<if test="rscName != null and rscName != ''">
			WHERE RSC_CD_CODE = #{rscCode}
		</if>
		ORDER BY RSC_CD_CODE
	</select>

</mapper>