@charset "UTF-8";

h1 {
	margin-top : 2%;
	margin-left : 2%;
	margin-bottom : 2%;
}

.form-inline {
	width : 100%;
	margin : auto;
}

.modal .table-responsive{
   height: 43vh;
   overflow : auto;
}

.rightBtn {
	float : right;
	width : 30%;
	text-align : right;
	margin-bottom : 0.3%;
}

.endBtn {
	margin-top: 1rem;
	float : right;
	margin-left: auto;
	margin-right: 0;
}

.fltyListBtn {
	margin-top: 1rem;
}

.nullTd {
	border : 2px solid red !important;
}

.canModifyTbody > tr > td:not(.cantModifyTd) {
	background: rgba(241, 196, 15, 0.1);
}

.curPo {
	cursor:pointer;
}

#fltyPrcsTable thead th:first-child {
	width : 5%;
}

#fltyPrcstbody td {
	height: 2.5rem;
	text-align: center;
	padding : 0px;
	vertical-align :middle;
}

#fltyPrcstbody input[type="date"] {
	height: 100%;
  text-align: center;
  border: 0;
  width: 100%;
  background: rgba(241, 196, 15, 0);
}

#fltyPrcsTable th:nth-of-type(2) { display: none; }
#fltyPrcsTable td:nth-of-type(2) { display: none; }

#findListFltyPrcsTable th:nth-of-type(1) { display: none; }
#findListFltyPrcsTable td:nth-of-type(1) { display: none; }