<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="findLot">
		<div class="modal fade" id="findLotModal" tabindex="-1" role="dialog"
			aria-labelledby="findLotModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="findLotModalLabel">lot별 완제품 재고</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card-body table-border-style">
							<div class="table-responsive">
								<table class="table table-hover" id="findLotTable">
									<thead>
										<tr>
											<th th:text="생산일자" name="sls_in_dtl_date"></th>
											<th th:text="제품코드" name="fin_prd_cd_code"></th>
											<th th:text="제품명" name="fin_prd_cd_name"></th>
											<th th:text="lot번호" name="fns_prd_stk_lot_no"></th>
											<th th:text="재고량" name="fns_prd_stk_vol"></th>
											<th th:text="출고량" name="sls_out_dtl_vol"></th>
										</tr>
									</thead>
									<tbody>

									</tbody>
									<tfoot id="findLotTableTfoot">
										<tr>
											<th colspan="2" th:text="합계"></th>
											<th colspan="4" id="outTotalSum" style="text-align:center"></th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="okBtn" th:text="확인"></button>
						<button type="button" class="btn btn-secondary"	data-dismiss="modal" th:text="취소"></button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>