<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
      <body>
      <th:block th:fragment="changePlanTable">
        <div class="table-responsive" id="planViewDiv">
            <table class="table table-striped" id="planViewTable">
                <thead>
                    <tr>
                      <th th:text="생산계획코드"></th>
                      <th th:text="생산계획명"></th>
                      <th th:text="'생산계획 일자'"></th>
                      <th th:text="'담당자 아이디'"></th>
                      <th th:text="주문코드"></th>
                      <th th:text="거래처명"></th>
                      <th th:text="납기일자"></th>
                      <th th:text="제품코드"></th>
                      <th th:text="제품명"></th>
                      <th th:text="주문량"></th>
                      <th th:text="계획량"></th>
                      <th th:text="'작업계획 시작일자'"></th>
                      <th th:text="'작업계획 종료일자'"></th>
                      <th th:text="비고"></th>
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="plan : ${plans}">
                        <td th:text="${plan.planHdVO.planHdCode}">PLAN001</td>
                        <td th:text="${plan.planHdVO.planHdName}">짜파게티 100개</td>
                        <td th:text="${#strings.arraySplit(plan.planHdVO.planHdDate,' ')[0]}">2022-07-30</td>
                        <td th:text="${plan.planHdVO.empId}">김민서</td>
                        <th:block th:if="${plan.planVO.planPreVol eq null}">
                            <!--planPreVol이 비어있으면 주문코드 거래처명 납기일자 출력X-->
                            <td></td>
                            <td></td>
                            <td></td>
                        </th:block>
                        <th:block th:unless="${plan.planVO.planPreVol eq null}">
                            <td th:text="${#strings.defaultString(plan.colOrdVO.slsOrdHdNo,' ')}">주문코드</td>
                            <td th:text="${#strings.defaultString(plan.colOrdVO.vendCdNm,' ')}">거래처명</td>
                            <td th:text="${#strings.defaultString(plan.colOrdVO.slsOrdDtlDlvDate,' ')}">납기일자</td>
                        </th:block>
                        <td th:text="${plan.planVO.finPrdCdCode}">제품코드</td>
                        <td th:text="${plan.planVO.finPrdCdName}">제품명</td>
                        <th:block th:if="${plan.planVO.planPreVol eq null}">
                            <td></td>
                        </th:block>
                        <th:block th:unless="${plan.planVO.planPreVol eq null}">
                            <td th:text="${#strings.defaultString(plan.colOrdVO.slsOrdDtlVol,' ')}">주문량</td>
                        </th:block>
                        <td th:text="${plan.planVO.planProdVol}">계획량</td>
                        <td th:text="${#strings.arraySplit(plan.planVO.planSdate,' ')[0]}">작업계획 시작일자</td>
                        
                        <td th:text="${#strings.arraySplit(plan.planVO.planEdate,' ')[0]}">작업계획 종료일자</td>
                        <td th:text="${plan.planVO.planRemk}">비고</td>
                    </tr>
                </tbody>
            </table>
            <th:block th:replace="~{fragments/pagination :: pagination-nav}"></th:block>
        </div>
    </th:block>
    
</body>
</html>