<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>불량처리조회</title>
</head>
<body>
  <link th:href="@{/css/prod/FltyPrcs.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/prod/FltyPrcs.js}"></script>
  <script type="text/javascript" th:src="@{/js/modal/prod/findproduct.js}"></script>

  <div class="pcoded-main-container">
    <h1>불량 처리 조회</h1>
    <hr />
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <form class="form-inline">
            <div class="form-group mt-3">
              <label for="fltyPrcsDate" th:text="불량처리일"></label>
              <input type="date" id="fltyPrcsSdate" class="form-control mx-sm-3" /> ~
              <input type="date" id="fltyPrcsEdate" class="form-control mx-sm-3" />
            </div>
            <br />
            <div class="form-group mt-3">
              <label for="productname" th:text="제품명"></label>
              <input type="text" id="productname" class="form-control mx-sm-3" data-toggle="modal" data-target=".bd-example-modal-lg" />
            </div>

            <button type="button" class="btn btn-primary" id="selectBtn">조회</button>
          </form>
        </div>
        <div class="card-body table-border-style">
          <div class="table-responsive">
            <table class="table table-striped" id="fplyPrcsTable">
              <thead>
                <tr>
                  <th th:text="공정실적번호"></th>
                  <th th:text="불량코드"></th>
                  <th th:text="불량명"></th>
                  <th th:text="불량처리수"></th>
                  <th th:text="제품코드"></th>
                  <th th:text="제품명"></th>
                  <th th:text="공정명"></th>
                  <th th:text="설비명"></th>
                  <th th:text="불량처리일"></th>
                  <th th:text="담당자"></th>
                  <th th:text="비고"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="fp : ${fltyPrcs}">
                  <td th:text="${fp.processPerfomNo}"></td>
                  <td th:text="${fp.faultyCdCode}"></td>
                  <td th:text="${fp.faultyName}"></td>
                  <td th:text="${fp.fltyPrcsVol}"></td>
                  <td th:text="${fp.finPrdCdCode}"></td>
                  <td th:text="${fp.finPrdCdName}"></td>
                  <td th:text="${fp.procCdName}"></td>
                  <td th:text="${fp.mchnName}"></td>
                  <td th:text="${fp.fltyPrcsDate}"></td>
                  <td th:text="${fp.empId}"></td>
                  <td th:text="${fp.fltyPrcsRemk}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 제품명 모달 -->
  <th:block th:replace="~{fragments/modal/findproduct :: findproduct}"></th:block>
</body>
</html>