<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<script type="text/javascript" th:src="@{/js/prod/InstManage.js}"></script>
<script type="text/javascript" th:src="@{/js/modal/prod/findemp.js}"></script>
	<link th:href="@{/css/prod/InstManage.css}" rel="stylesheet" />

	<div class="pcoded-main-container">
		<h1>생산 지시 관리</h1>
		<hr>

		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<div class="form-inline flex-end">
					<button type="button" class="btn  btn-primary m-t-0 m-r-10">조회</button>
					<button type="button" class="btn  btn-primary m-t-0" id="instSaveBtn">저장</button>
					</div>
				</div>
				<div class="card-body">
					<form class="form-inline">
						<div class="form-group mt-3">
							<label for="instdate">지시작성일자</label> <input type="date"
								id="instdate" class="form-control mx-sm-3">
						</div>
						<br> <br>
						<div class="form-group mt-3">
							<label for="instremk">특기사항</label>
							 <input type="text" id="instremk" class="form-control mx-sm-3" data-toggle="modal"
								data-target=".bd-example-modal-lg">
								 <label for="instname">생산지시명</label> 
								 <input type="text" id="instname" class="form-control mx-sm-3">
						</div>
						<div class="form-group mt-3">
							<label for="empid">담당자</label>
							 <input type="text" id="empid" class="form-control mx-sm-3">
						</div>
						
					</form>
				
				</div>

			</div>
		</div>
		<hr>

		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h3>생산계획 상세내역</h3>
					<button type="button" class="btn  btn-primary" id="findPlan">미지시 생산계획 조회</button>
					<button type="button" class="btn  btn-primary" id="addRowBtn">추가</button>
					<button type="button" class="btn  btn-primary" id="delRowBtn">삭제</button>
				</div>
				        <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover" id="planDetailTable">
                                <thead>
                                    <tr>
                                        <th th:text="선택"></th>
                                        <th th:text="제품코드"></th>
                                        <th th:text="제품명"></th>
                                        <th th:text="규격"></th>
                                        <th th:text="주문번호"></th>
                                        <th th:text="납기일자"></th>
                                        <th th:text="주문량"></th>
                                        <th th:text="미지시량"></th>
                                        <th th:text="작업량"></th>
                                        <th th:text="지시량"></th>
                                        <th th:text="기존일작업량"></th>
                                        <th th:text="작업라인"></th>
                                        <th th:text="공정작업일자"></th>
                                    </tr>
                                </thead>
                                <tbody>
        <!--                             <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text" th:value="PRODUCT" style=""></td>                                        
                                        <td th:text="짜파게티"> <input type="text" th:value="짜파게티" readonly></td>
                                        <td th:text="120g"></td>
                                        <td><input type="text" readonly></td>
                                        <td><input type="text" readonly></td>
                                        <td><input type="text" readonly></td>
                                        <td><input type="text" readonly></td>
                                        <td th:text="${#numbers.formatInteger(9000, 0, 'COMMA')}"></td>                                     
                                        <td th:text="${#numbers.formatInteger(1000, 0, 'COMMA')}"></td>
                                        <td><input type="text" th:value="0" readonly></td>
                                        <td th:text="1라인"></td>
                                        <td th:text="2022-08-01"></td>                                    
                                    </tr>
                                     -->
                                </tbody>
                            </table>
                        </div>
                    </div>
			</div>
		</div>



    <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>공정 상태</h3>
                       
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table" id="procStatusTable">
                                <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>공정명</th>
                                        <th>설비명</th>
                                        <th>상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                              
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- [ basic-table ] end -->
            <!-- [ inverse-table ] start -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>자재 재고 내역</h3>
                        
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover" id="rscStockTable">
                                <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>자재코드</th>
                                        <th>자재명</th>
                                        <th>재고수량</th>
                                        <th>단위</th>
                                        <th>소요 예상량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                              
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



	</div>
	</div>
	
	
<!-- 담당자검색 Modal -->
<th:block th:replace="~{/fragments/modal/findemp :: findemp}"></th:block>
<!-- Modal -->
<th:block th:replace="~{/fragments/modal/findPlan :: findPlan}"></th:block>

	
	
	
	
</body>
</html>