<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>  
<body>
<script type="text/javascript" th:src="@{/js/prod/Monitoring.js}"></script>
<link th:href="@{/css/prod/Monitoring.css}" rel="stylesheet" /> 
  
  <div class="pcoded-main-container">
  	<h1>공정 모니터링</h1>
  	<hr>
  	
  	<div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                     <h3>진행 공정 현황</h3>
                     <hr>
                     <h4 id="clock"></h4>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped" id="MonitoringTable">
                                <thead>
                                    <tr>
                                        <th th:text="설비명"></th>
                                        <th th:text="공정명"></th>
                                        <th th:text="제품명"></th>
                                        <th th:text="금일계획"></th>
                                        <th th:text="입고량"></th>
                                        <th th:text="현재실적"></th>
                                        <th th:text="현재불량"></th>
                                        <th th:text="달성율"></th>                               
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
  </div>
  	
  	
  </div>
  </body>
</html>