<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production PlanManage</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet" />
    <link th:href="@{/css/cmn/dbUpdate.css}" rel="stylesheet" />
    
</head>
<body>
    <script type="text/javascript" th:src="@{/js/modal/prod/findPlanManageModal.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findIdemp.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdproduct.js}"></script>
    <script type="text/javascript" th:src="@{/js/prod/PlanManage.js}"></script>
    <script type="text/javascript" th:src="@{/js/prod/PlanUpdateDB.js}"></script>

    <div class="pcoded-main-container">
        <h1>생산 계획 관리</h1>
        <hr>
        <div class="col-xl-12">
                  <div class="card">
                      <div class="card-header">
                        <!--해당 사용자가 작성한 생산 계획 조회 버튼-->
                        <div class="rightBtn">
                            <button type="button" class="btn btn-primary" id="myPlanBtn">생산계획 조회</button>
                        </div>
                        <br>
                        <!--새로운 생산계획 만들 때 사용할 정보-->
                          <form class="form-inline" id="form">
                                <input type="hidden" id="planHdCode">
                              <div class="form-group mt-3 leftBtn">
                                  <label for="planDate" th:text="'생산 계획 일자'"></label>
                                  <input type="date" id="planDate" class="form-control mx-sm-3">
                              </div>
                              <br><br>
                              <div class="form-group mt-3 rightBtn">
                                <label for="planName" th:text="생산계획명"></label>
                                <input type="text" id="planName" class="form-control mx-sm-3" name="plan_hd_name">                       
                             </div>
                             <div class="form-group mt-3 leftBtn">
                                <label for="planRemk" th:text="특이사항"></label>
                                <input type="text" id="planRemk" class="form-control mx-sm-3" name="plan_hd_remk">                       
                             </div>
                               <div class="form-group mt-3">
                                  <label for="empid" th:text="담당자아이디"></label>
                                  <input type="text" id="empid" class="form-control mx-sm-3"
                                   data-toggle="modal" data-target=".bd-example-modal-lg" th:value="${session.emp.empId}">
                              </div>
                          </form>
                                
                      </div>
                      <div class="card-body table-border-style">
                        <button type="button" class="btn btn-primary" id="NotDoneOrdBtn">미계획 주문내역 조회</button>
                        <div class="rightBtn">
                            <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
                            <button type="button" class="btn btn-primary" id="addBtn">추가</button>
                            <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
                        </div>
                          <div class="table-responsive">
                              <table class="table table-striped" id="planManageTable">
                                  <thead>
                                      <tr>
                                          <th><input type="checkbox" id="allCheck"></th>
                                          <th th:text="주문코드" name="sls_ord_hd_no"></th>
                                          <th th:text="제품코드" name="fin_prd_cd_code"></th>
                                          <th th:text="제품명"></th>
                                          <th th:text="납기일자"></th>
                                          <th th:text="주문량"></th>
                                          <th th:text="기계획량" name="plan_pre_vol"></th>
                                          <th th:text="미계획량"></th>
                                          <th th:text="계획량" name="plan_prod_vol"></th>
                                          <th th:text="'작업계획 시작일자'" name="plan_sdate"></th>
                                          <th th:text="'작업계획 종료일자'" name="plan_edate"></th>
                                          <th th:text="작업계획비고" name="plan_remk"></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
    </div>
    <!--사용자가 작성한 생산계획 모달창-->
    <th:block th:replace="~{fragments/modal/findMyPlan :: findMyPlan}"></th:block>
    <!--미계획된 주문내역 모달창 -->
    <th:block th:replace="~{fragments/modal/findNotDoneOrd :: findNotDoneOrd}"></th:block>
    <!-- 담당자검색 Modal -->
    <th:block th:replace="~{fragments/modal/cmn/findIdemp :: findIdEmp}"></th:block>
    <!--제품코드 검색 modal-->
    <th:block th:replace="~{fragments/modal/findproduct :: findproduct}"></th:block>
    <script>
        

    </script>
</body>
</html>