<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production PlanView</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet"/>
</head>
<body>
    
    <script type="text/javascript" th:src="@{/js/prod/PlanView.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/prod/findvendor.js}"></script>
    <div class="pcoded-main-container">
        <h1>생산 계획 조회 </h1>
        <hr>
        <div class="col-xl-12">
                  <div class="card">
                      <div class="card-header">
                          <form class="form-inline">
                              <div class="form-group mt-3">
                                  <label for="planSdate" th:text="'생산 계획 일자'"></label>
                                  <input type="date" id="planSdate" class="form-control mx-sm-3"> ~
                                  <input type="date" id="planEdate" class="form-control mx-sm-3">
                              </div>
                              <br>
                               <div class="form-group mt-3">
                                  <label for="vendor" th:text="거래처"></label>
                                  <input type="text" id="vendor" class="form-control mx-sm-3"
                                   data-toggle="modal" data-target=".bd-example-modal-lg">
                                  <label for="vendorName" th:text="거래처명"></label>
                                  <input type="text" id="vendorName" class="form-control mx-sm-3" readonly>
                              </div>
                              
                              <button type="button" class="btn btn-primary" id="planViewBtn">조회</button>
                          </form>
              
                      </div>
                      <div class="card-body table-border-style">
                          <div class="table-responsive" id="planViewDiv">
                              <table class="table table-striped" id="planViewTable">
                                  <thead>
                                      <tr>
                                        <th th:text="생산계획코드"></th>
                                        <th th:text="생산계획명"></th>
                                        <th th:text="'생산계획 일자'"></th>
                                        <th th:text="'담당자 아이디'"></th>
                                        <th th:text="주문코드"></th>
                                        <th th:text="거래처명"></th>
                                        <th th:text="납기일자"></th>
                                        <th th:text="제품코드"></th>
                                        <th th:text="제품명"></th>
                                        <th th:text="주문량"></th>
                                        <th th:text="계획량"></th>
                                        <th th:text="'작업계획 시작일자'"></th>
                                        <th th:text="'작업계획 종료일자'"></th>
                                        <th th:text="비고"></th>
                                      </tr>
                                  </thead>
                                  <tbody> 
                                    <tr th:each="plan : ${plans}">
                                        <td th:text="${plan.planHdVO.planHdCode}">PLAN001</td>
                                        <td th:text="${plan.planHdVO.planHdName}">짜파게티 100개</td>
                                        <td th:text="${plan.planHdVO.planHdDate}">2022-07-30</td>
                                        <td th:text="${plan.planHdVO.empId}">김민서</td>
                                        <th:block th:if="${plan.planVO.planPreVol eq null}">
                                            <!--planPreVol이 비어있으면 주문코드 거래처명 납기일자 출력X-->
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </th:block>
                                        <th:block th:unless="${plan.planVO.planPreVol eq null}">
                                            <td th:text="${#strings.defaultString(plan.colOrdVO.slsOrdHdNo,' ')}">주문코드</td>
                                            <td th:text="${#strings.defaultString(plan.colOrdVO.vendCdNm,' ')}">거래처명</td>
                                            <td th:text="${#strings.defaultString(plan.colOrdVO.slsOrdDtlDlvDate,' ')}">납기일자</td>
                                        </th:block>
                                        <td th:text="${plan.planVO.finPrdCdCode}">제품코드</td>
                                        <td th:text="${plan.planVO.finPrdCdName}">제품명</td>
                                        <th:block th:if="${plan.planVO.planPreVol eq null}">
                                            <td></td>
                                        </th:block>
                                        <th:block th:unless="${plan.planVO.planPreVol eq null}">
                                            <td th:text="${#strings.defaultString(plan.colOrdVO.slsOrdDtlVol,' ')}">주문량</td>
                                        </th:block>
                
                                        <td th:text="${plan.planVO.planProdVol}">계획량</td>
                                        <td th:text="${plan.planVO.planSdate}">작업계획 시작일자</td>
                                        <td th:text="${plan.planVO.planEdate}">작업계획 종료일자</td>
                                        <td th:text="${plan.planVO.planRemk}">비고</td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
    </div>

    
    <th:block th:replace="~{/fragments/modal/findvendor :: findvendor}"></th:block>
</body>
</html>