<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production PlanView</title>
    <link th:href="@{/css/cmn/code.css}" rel="stylesheet"/>
</head>
<body>
    <div class="pcoded-main-container">
        <h1>생산 계획 조회 </h1>
        <hr>
        <div class="col-xl-12">
                  <div class="card">
                      <div class="card-header">
                          
                          <form class="form-inline">
                              <div class="form-group mt-3">
                                  <label for="planSdate" th:text="'생산 계획 일자'"></label>
                                  <input type="date" id="planSdate" class="form-control mx-sm-3"> ~
                                  <input type="date" id="planEdate" class="form-control mx-sm-3">
                              </div>
                              <br>
                               <div class="form-group mt-3">
                                  <label for="vendor" th:text="거래처"></label>
                                  <input type="text" id="vendor" class="form-control mx-sm-3"
                                   data-toggle="modal" data-target=".bd-example-modal-lg">
                                  <label for="vendorName" th:text="거래처명"></label>
                                  <input type="text" id="vendorName" class="form-control mx-sm-3" readonly>
                              </div>
                              
                              <button type="button" class="btn btn-primary" id="planViewBtn">조회</button>
                          </form>
              
                      </div>
                      <div class="card-body table-border-style">
                          <div class="table-responsive">
                              <table class="table table-striped" id="planViewTable">
                                  <thead>
                                      <tr>
                                        <th th:text="생산계획코드"></th>
                                        <th th:text="생산계획명"></th>
                                        <th th:text="'생산계획 일자'"></th>
                                        <th th:text="'담당자 아이디'"></th>
                                        <th th:text="주문코드"></th>
                                        <th th:text="거래처명"></th>
                                        <th th:text="납기일자"></th>
                                        <th th:text="제품코드"></th>
                                        <th th:text="제품명"></th>
                                        <th th:text="주문량"></th>
                                        <th th:text="계획량"></th>
                                        <th th:text="'작업계획 시작일자'"></th>
                                        <th th:text="'작업계획 종료일자'"></th>
                                        <th th:text="비고"></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr th:each="plan : ${plans}">
                                          <td th:text="${plan.planHdVO.planHdCode}">PLAN001</td>
                                          <td th:text="${plan.planHdVO.planHdName}">짜파게티 100개</td>
                                          <td th:text="${#dates.format(plan.planHdVO.planHdDate,'yyyy-MM-dd HH:mm:ss')}">2022-07-30</td>
                                          <td th:text="${plan.planHdVO.empId}">김민서</td>
                                          <!--주문내역 관련-->
                                          <td>주문코드</td>
                                          <td>거래처명</td>
                                          <td>납기일자</td>
                                          <td th:text="${plan.planVO.finPrdCdCode}">제품코드</td>
                                          <td>제품명</td>
                                          <td>주문량</td>
                                          <td th:text="${plan.planVO.planProdVol}">계획량</td>
                                          <td th:text="${#dates.format(plan.planVO.planSdate,'yyyy-MM-dd HH:mm:ss')}">작업계획 시작일자</td>
                                          <td th:text="${#dates.format(plan.planVO.planEdate,'yyyy-MM-dd HH:mm:ss')}">작업계획 종료일자</td>
                                          <td th:if="${plan.planVO.planRemk != null}" th:text="${plan.planVO.planRemk}">비고</td>
                                          
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
    </div>
    <script>
        $("document").ready(function(){
            $("#planViewBtn").click(function(){
                let sdate = $("#planSdate").val();
                let edate = $("#planEdate").val();
                let vendor = $("#vendor").val();
                $.ajax({
                    url : 'planView/'+sdate+'/'+edate,
                    methods : "GET",
                    dataType : "json",
                    success :function(data){
                        console.log(data);
                        $("#planViewTable tbody tr").remove();
                        for(plan of data){
                            planViewMakeRow(plan);
                        }
                        console.log("success");
                    }
                })
            })
            function planViewMakeRow(plan){
                let node = `<tr>
                                <td>${plan.planHdVO.planHdCode}</td>
                                <td>${plan.planHdVO.planHdName}</td>
                                <td>${plan.planHdVO.planHdDate}</td>
                                <td>${plan.planHdVO.empId}</td>
                                <td>주문코드</td>
                                <td>거래처명</td>
                                <td>납기일자</td>
                                <td>${plan.planVO.finPrdCdCode}</td>
                                <td>제품명</td>
                                <td>주문량</td>
                                <td>${plan.planVO.planProdVol}</td>
                                <td>${plan.planVO.planSdate}</td>
                                <td>${plan.planVO.planEdate}</td>
                                <td>${plan.planVO.planRemk}</td>
                            </tr>`
                $("#planViewTable tbody").append(node);
            }
        })
    </script>
</body>
</html>