<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <script type="text/javascript" th:src="@{/js/sales/order.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/prod/findvendor.js}"></script>
    <script type="text/javascript" th:src="@{/js/pages/pagination.js}"></script>
    <link th:href="@{/css/sales/order.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/pages/pagination.js}"></script>
    <link th:href="@{/css/pagination.css}" rel="stylesheet" />
    

    <div class="pcoded-main-container">
        <h1>주문 조회</h1>
        <hr>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <form class="form-inline">
                        <div class="form-group mt-3">
                            <label for="slsOrdHdDate" th:text="주문일자"></label>
                            <input type="date" id="orderSdate" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword}"> ~
                            <input type="date" id="orderEdate" class="form-control mx-sm-3" th:value="${pageMaker.cri.keyword2}">
                        </div>
                        <br>
                        <div class="form-group mt-3">
                            <label for="vendor" th:text="거래처"></label>
                            <input type="text" id="vendor" class="form-control mx-sm-3"
                                   data-toggle="modal" data-target=".bd-example-modal-lg" th:value="${pageMaker.cri.keyword3}">
                            <label for="vendorName" th:text="거래처명"></label>
                            <input type="text" id="vendorName" class="form-control mx-sm-3" disabled>
                        </div>
                        <button type="button" class="btn  btn-primary" id="ordBtn">조회</button>
                    </form>
                    <form name="searchForm" id="searchForm">
                        <input type='hidden' id ='type' name="type" th:value="${pageMaker.cri.type}">
                        <input type='hidden' name='keyword' th:value='${pageMaker.cri.keyword}' />
                        <input type='hidden' name='keyword2' th:value='${pageMaker.cri.keyword2}' />
                        <input type='hidden' name='keyword3' th:value='${pageMaker.cri.keyword3}' />
                        <input type='hidden' name='pageNum' value='1'>
                        <input type='hidden' name='amount' value='${pageMaker.cri.amount}'>
                      </form>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover paginated" id="orderTable">
                            <thead>
                                <tr>
                                    <th th:text="주문일자"></th>
                                    <th th:text="주문번호"></th>
                                    <th th:text="거래처"></th>
                                    <th th:text="제품코드"></th>
                                    <th th:text="제품명"></th>
                                    <th th:text="납기일자"></th>
                                    <th th:text="주문량"></th>
                                    <th th:text="출고량"></th>
                                    <th th:text="미출고량"></th>
                                    <th th:text="담당자"></th>
                                    <th th:text="비고"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="obj : ${list}">
                                    <td th:text="${obj.slsOrdHdVO.slsOrdHdDate}"></td>
                                    <td th:text="${obj.slsOrdHdVO.slsOrdHdNo}"></td>
                                    <td th:text="${obj.slsOrdHdVO.vendCdNm}"></td>
                                    <td th:text="${obj.slsOrdDtlVO.finPrdCdCode}"></td>
                                    <td th:text="${obj.slsOrdDtlVO.finPrdCdName}"></td>
                                    <td th:text="${obj.slsOrdDtlVO.slsOrdDtlDlvDate}"></td>
                                    <td th:text="${obj.slsOrdDtlVO.slsOrdDtlVol}"></td>
                                    <td th:text="${obj.slsOrdDtlVO.slsOrdDtlOutVol}"></td>
                                    <td th:text="${obj.slsOrdDtlVO.slsOrdDtlVol - obj.slsOrdDtlVO.slsOrdDtlOutVol}"></td>
                                    <td th:text="${obj.slsOrdHdVO.empName}"></td>
                                    <td th:text="${obj.slsOrdHdVO.slsOrdHdRemk}"></td>
                                </tr>
                            </tbody>    
                        </table>
                        <th:block th:replace="~{fragments/pagination :: pagination-nav}"></th:block>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 거래처조회 Modal -->
    <th:block th:replace="~{fragments/modal/findvendor :: findvendor}"></th:block>
</body>
</html>