<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <script type="text/javascript" th:src="@{/js/sales/stock.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/prod/findproduct.js}"></script>
    <link th:href="@{/css/sales/stock.css}" rel="stylesheet" />

    <div class="pcoded-main-container">
        <h1>완제품 재고 조회</h1>
        <hr>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <form class="form-inline">
                        <div class="form-group mt-3">
							<label for="productname" th:text="제품명"></label> 
                            <input type="text" id="productname" 
                                    class="form-control mx-sm-3" data-toggle="modal"
                                    data-target=".bd-example-modal-lg">
                        </div>
                        <br>
                        <div class="form-group mt-3">
                            <label for="fnsPrdStkLotNo" th:text="LOT번호"></label>
                            <input type="text" id="fnsPrdStkLotNo" class="form-control mx-sm-3">
                        </div>
                        <button type="button" class="btn  btn-primary" id="stockBtn">조회</button>
                    </form>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-striped" id="stockTable">
                            <thead>
                                <tr>
                                    <th th:text="생산일시"></th>
                                    <th th:text="제품코드"></th>
                                    <th th:text="제품명"></th>
                                    <th th:text="재고량"></th>
                                    <th th:text="LOT번호"></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--제품검색 Modal -->  	
<th:block th:replace="~{/fragments/modal/findproduct :: findproduct}"></th:block>
</body>
</html>