<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
  <th:block th:fragment="paginationForRscOut-nav">
    <nav aria-label="Page navigation">
      
      <ul class="pagination" th:with="start = ${pageMaker.startPage}, end=${pageMaker.endPage}">
        <li class="page-item" th:if="${pageNum} > 1">
          <a th:text="처음" th:attr="data-value=${start}"></a>
        </li>
        <li class="page-item" th:if="${pageNum} > ${pageMaker.startPage}">
          <a th:text="이전" th:attr="data-value=${pageNum-1}"></a>
        </li>

          <li class="page-number mainPage"  th:each="page: ${#numbers.sequence(start, end)}" th:unless="${page eq 0}">
            <a th:text="${page}"></a>
          </li>
        
        <!--th:href="@{/common/mchnList(pageNum=${page})}"-->
        <li class="page-item" th:if="${pageNum} < ${pageMaker.endPage}">
          <a th:text="다음" th:attr="data-value=${pageNum+1}"></a>
        </li>
        
        <li class="page-item" th:if="${pageNum} < ${pageMaker.endPage}">
          <a th:text="끝" th:attr="data-value=${end}"></a>
        </li>
      </ul>
    </nav>
  </th:block>


</body>
</html>