<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>설비 점검 관리</title>
  </head>
  <body>
    <link th:href="@{/css/eqp/inspc.css}" rel="stylesheet" />
    <link th:href="@{/css/cmn/dbUpdate.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/eqp/InspcManage.js}"></script>
    <!-- modal js -->
    <script type="text/javascript" th:src="@{/js/modal/eqp/findInspcList.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/eqp/findInspcNxtDate.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdEmp.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdmchnname.js}"></script>

    <div class="pcoded-main-container">
      <h1>설비 점검 관리</h1>
      <hr />
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary" id="inspcListBtn">점검 내역 조회</button>
            <button type="button" class="btn btn-primary" id="inspcTargetBtn">점검 대상 조회</button>
            <div class="rightBtn">
              <!-- <button type="button" class="btn btn-primary" id="">초기화</button> -->
              <button type="button" class="btn btn-primary" id="addBtn">추가</button>
              <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
              <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
            </div>
            <form class="form-inline">
              <div class="form-group mt-3"></div>
            </form>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped" id="inspcTable">
                <thead>
                  <tr>
                    <th><input type="checkbox" id="allCheck" /></th>
                    <th name="inspc_no" th:text="순번"></th>
                    <th name="mchn_code" th:text="설비코드"></th>
                    <th th:text="설비명"></th>
                    <th name="inspc_sdate" th:text="점검시작일"></th>
                    <th name="inspc_edate" th:text="점검종료일"></th>
                    <th name="inspc_actn_pnt" th:text="조치사항"></th>
                    <th name="inspc_actn_rsn" th:text="조치사유"></th>
                    <th name="emp_id" th:text="담당자"></th>
                    <th name="inspc_remk" th:text="비고"></th>
                  </tr>
                </thead>
                <tbody id="inspctbody" class="canModifyTbody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 점검내역조회 Modal -->
    <th:block th:replace="~{fragments/modal/eqp/findInspcList :: findInspcList}"></th:block>
    <!-- 점검대상조회 Modal -->
    <th:block th:replace="~{fragments/modal/eqp/findInspcNxtDate :: findNxtDate}"></th:block>
    <!-- 담당자 Modal -->
    <th:block th:replace="~{fragments/modal/cmn/findIdemp :: findIdEmp}"></th:block>
    <!-- 설비명 Modal -->
    <th:block th:replace="~{fragments/modal/cmn/findMchnInLine :: findMchnInLine}"></th:block>
  </body>
</html>
