<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <title>설비 조회</title>
  </head>
  <body>
    <link th:href="@{/css/eqp/mchn.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/eqp/mchn.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/pages/pagination.js}"></script>
    <link th:href="@{/css/pagination.css}" rel="stylesheet" />
    <!-- <script type="text/javascript" th:src="@{/js/modal/prod/findmchnname.js}"></script> -->

    <div class="pcoded-main-container">
      <h1>설비 조회</h1>
      <hr />
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <form class="form-inline">
              <div class="form-group mt-3">
                <label for="mchnName" th:text="설비명"></label>
                <input type="text" id="mchnName" class="form-control mx-sm-3" />
              </div>
              <button type="button" class="btn btn-primary" id="mchnListBtn">조회</button>
            </form>
          </div>

          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped paginated" id="mchnTable">
                <thead>
                  <tr>
                    <th th:text="설비코드"></th>
                    <th th:text="설비명"></th>
                    <th th:text="모델명"></th>
                    <th th:text="제작업체"></th>
                    <th th:text="제작일자"></th>
                    <th th:text="'점검주기(일)'"></th>
                    <th th:text="최근점검일"></th>
                    <th th:text="설비상태"></th>
                    <th th:text="비고"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr th:each="mchn : ${mchns}">
                    <td th:text="${mchn.mchnCode}"></td>
                    <td th:text="${mchn.mchnName}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnModel, '')}"></td>
                    <td th:text="${mchn.vendCdNm}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnMnfctDate, '')}"></td>
                    <td th:text="${mchn.mchnInspcCycle}"></td>
                    <td th:text="${mchn.inspcEdate}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnStts, '')}"></td>
                    <td th:text="${#strings.defaultString(mchn.mchnRemk, '')}"></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 설비코드 Modal -->
    <!-- <th:block th:replace="~{/fragments/modal/findMchnName :: findMchnName}"></th:block> -->
  </body>
</html>
