<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <title>설비 관리</title>
  </head>
  <body>
    <link th:href="@{/css/eqp/mchn.css}" rel="stylesheet" />
    <link th:href="@{/css/cmn/dbUpdate.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/eqp/mchnManage.js}"></script>
    <!-- modal js -->
    <script type="text/javascript" th:src="@{/js/modal/cmn/findTdVendor.js}"></script>

    <div class="pcoded-main-container">
      <h1>설비 관리</h1>
      <hr/>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <form class="form-inline">
              <div class="form-group mt-3">
                <label for="mchnName" th:text="설비명"></label>
                <input type="text" id="mchnName" class="form-control mx-sm-3" />
              </div>
              <button type="button" class="btn btn-primary" id="selectBtn">조회</button>
            </form>
            <div class="rightBtn">
              <button type="button" class="btn btn-primary" id="addBtn">추가</button>
              <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
              <button type="button" class="btn btn-primary" id="deleteBtn">선택 삭제</button>
            </div>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped" id="mchnTable">
                <thead>
                  <tr>
                    <th><input type="checkbox" id="allCheck"></th>
                    <th th:text="설비코드" name="mchn_code"></th>
                    <th th:text="설비명" name="mchn_name"></th>
                    <th th:text="모델명" name="mchn_model"></th>
                    <th th:text="거래처코드" name="vend_cd_code"></th>
                    <th th:text="제작업체명"></th>
                    <th th:text="금액" name="mchn_price"></th>
                    <th th:text="구매일자" name="mchn_prchs_date"></th>
                    <th th:text="제작일자" name="mchn_mnfct_date"></th>
                    <th th:text="설비등록일" name="mchn_insert_date"></th>
                    <th th:text="'점검주기(일)'" name="mchn_inspc_cycle"></th>
                    <th th:text="차기점검일" name="mchn_inspc_nxt_date"></th>
                    <th th:text="설비상태" name="mchn_stts"></th>
                    <th th:text="비고" name="mchn_remk"></th>
                  </tr>
                </thead>
                <tbody id="mchntbody" class="canModifyTbody">
                  <!--
                  <tr th:each="mchn : ${mchns}">
                    <td><input type="checkbox" name="chk"></td>
                    <td th:text="${mchn.mchnCode}"></td>
                    <td th:text="${mchn.mchnName}"></td>
                    <td th:text="${mchn.mchnModel}"></td>
                    <td th:text="${mchn.vendCdCode}"></td>
                    <td th:text="${mchn.vendCdNm}"></td>
                    <td th:text="${mchn.mchnPrice}"></td>
                    <td th:text="${mchn.mchnPrchsDate}"></td>
                    <td th:text="${mchn.mchnMnfctDate}"></td>
                    <td th:text="${mchn.mchnInspcDate}"></td>
                    <td th:text="${mchn.mchnInspcCycle}"></td>
                    <td th:text="${mchn.mchnStts}"></td>   디폴값이 '진행전'인데 문자열은 어떻게... 
                    <td th:text="${mchn.mchnRemk}"></td>
                  </tr>
                -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 설비명 Modal -->
    <th:block th:replace="~{fragments/modal/findvendor :: findvendor}"></th:block>
  </body>
</html>
