<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>  
<body>
<script type="text/javascript" th:src="@{/js/eqp/NonOperation.js}"></script>
<script type="text/javascript" th:src="@{/js/modal/eqp/findnonopcode.js}"></script>
<script type="text/javascript" th:src="@{/js/modal/prod/findmchnname.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/pagination.js}"></script>
<link th:href="@{/css/pagination.css}" rel="stylesheet" />
<link th:href="@{/css/eqp/NonOperation.css}" rel="stylesheet" />
  <div class="pcoded-main-container">
  	<h1>설비 비가동 조회</h1>
  	<hr>
  	<div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        
                        <form class="form-inline">
                            <div class="form-group mt-3">
                                <label for="instdate">해당일자</label>
                                <input type="date" id="sdate" class="form-control mx-sm-3"> ~
                                <input type="date" id="edate" class="form-control mx-sm-3">
                            </div>
                            <br><br>
                             <div class="form-group mt-3">
                                <label for="mchnname">설비명</label>
                                <input type="text" id="mchnname" class="form-control mx-sm-3"
                                 data-toggle="modal" data-target=".bd-example-modal-lg">
                                <label for="nonopcode">비가동코드</label>
                                <input type="text" id="nonopcode" class="form-control mx-sm-3">
                            </div>
                            <button type="button" class="btn  btn-primary" id="findnonOpHistoryBtn">조회</button>
                        </form>
            
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover paginated" id="nonOpHistoryTable">
                                <thead>
                                    <tr>
                                        <th th:text="설비코드"></th>
                                        <th th:text="설비명"></th>
                                        <th th:text="해당일자"></th>
                                        <th th:text="비가동명"></th>
                                        <th th:text="작업내용"></th>
                                        <th>비가동시간(MIN)</th>
                                        <th th:text="시작시간"></th>
                                        <th th:text="종료시간"></th>
                                        <th th:text="비고"></th>
                                    </tr>
                                </thead>
                                <tbody>
                         
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
  			</div>
  	
  	
  	
<!-- Modal -->
 <th:block th:replace="~{fragments/modal/findMchnName :: findMchnName}"></th:block>
<!-- Modal -->

 <th:block th:replace="~{fragments/modal/findnonOpCode :: findnonOpCode}"></th:block>
  	
  </div>
  </body>
</html>