<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.prod.mapper.InstManageMapper">

<resultMap type="com.mes.bf.cmn.vo.EmpVO" id="EmpMap">
<id property="deptNo" column="dept_no" />
<id property="empName" column="emp_name" />
<id property="empAuth" column="emp_auth" />
<id property="empEmail" column="emp_email" />
<id property="empId" column="emp_id" />
<id property="empPw" column="emp_pw" />
<id property="phone" column="phone" />
</resultMap>


<resultMap type="com.mes.bf.cmn.vo.DeptVO" id="DeptMap">
<id property="deptNo" column="dept_no" />
<id property="deptName" column="dept_name" />
</resultMap>

<resultMap type="com.mes.bf.prod.vo.FindEmpVO" id="FindEmpVO">
	<collection property="empvo" resultMap="EmpMap" />
	<collection property="deptvo" resultMap="DeptMap" />
	
</resultMap>



<select id="findEmp" resultMap="FindEmpVO">

SELECT *
  FROM BF_CMN_EMP e JOIN bf_cmn_dept d
    ON e.dept_no = d.dept_no
	
</select>






</mapper>