<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.prod.mapper.InstructionMapper">



<select id="getInst" resultType="com.mes.bf.prod.vo.InstructionVO">
	
SELECT * FROM BF_PROD_INSTRUCTION

</select>

<!-- 완제품 전체 조회 -->

<select id="findAllProduct" resultType="prodCode">

SELECT * FROM BF_CMN_FINISH_PRODUCT_CODE
ORDER BY ROWNUM

</select>

<!-- 완제품 단건 조회 -->

<select id="findProduct" resultType="prodCode">

SELECT * FROM BF_CMN_FINISH_PRODUCT_CODE 
where rownum > 0
	<if test="prdCdCode != null and prdCdCode !=''">
	 AND fin_prd_cd_code LIKE #{prdCdCode}
	</if>
	
	<if test="prdCdName != null and prdCdName !=''">
	AND fin_prd_cd_name LIKE #{prdCdName}
	</if>
	


</select>




</mapper>