<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.prod.mapper.InstructionMapper">


	<resultMap type="com.mes.bf.cmn.vo.EmpVO" id="EmpMap">
		<id property="deptNo" column="dept_no" />
		<id property="empName" column="emp_name" />
		<id property="empAuth" column="emp_auth" />
		<id property="empEmail" column="emp_email" />
		<id property="empId" column="emp_id" />
		<id property="empPw" column="emp_pw" />
		<id property="phone" column="phone" />
	</resultMap>


	<resultMap type="com.mes.bf.cmn.vo.DeptVO" id="DeptMap">
		<id property="deptNo" column="dept_no" />
		<id property="deptName" column="dept_name" />
	</resultMap>

	<resultMap type="com.mes.bf.prod.vo.FindEmpVO" id="FindEmpVO">
		<collection property="empvo" resultMap="EmpMap" />
		<collection property="deptvo" resultMap="DeptMap" />

	</resultMap>



	<select id="findEmp" resultMap="FindEmpVO">

		SELECT *
		FROM BF_CMN_EMP e JOIN bf_cmn_dept d
		ON e.dept_no = d.dept_no
		<where>
			<if test="empName != null and empName !=''">
				AND LOWER(e.emp_name) LIKE #{empName}
			</if>
		</where>

	</select>

	<!-- 완제품코드 검색 -->

	<select id="findProdName" resultType="VFindProdANdLineVO">

		SELECT * FROM v_findprodandline
		WHERE fin_prd_cd_code LIKE #{prodCode}

	</select>

	<!-- 완제품 조회 -->

	<select id="findProduct" resultType="prodCode">

		SELECT * FROM BF_CMN_FINISH_PRODUCT_CODE
		WHERE rownum > 0
		<if test="prdCdCode != null and prdCdCode !=''">
			AND fin_prd_cd_code LIKE #{prdCdCode}
		</if>

		<if test="prdCdName != null and prdCdName !=''">
			AND fin_prd_cd_name LIKE #{prdCdName}
		</if>



	</select>

	<!--생산지시조회 -->
	<select id="findVInstruction" resultType="vinst">

		SELECT * FROM v_instruction

		<where>
			<if test="instSdate != null and instSdate !=''">
	<![CDATA[ AND inst_date >= #{instSdate} ]]>
			</if>

			<if test="instEdate != null and instEdate !='' ">
	 <![CDATA[ AND inst_date <= #{instEdate} ]]>
			</if>

			<if test="vendorName != null and vendorName != ''">
				AND vend_cd_nm LIKE #{vendorName}
			</if>
			<if test="productName != null and productName != ''">
				AND fin_prd_cd_name LIKE #{productName}
			</if>
		</where>

	</select>

	<!-- 거래처조회 -->
	<select id="findVendorCode" resultType="vendorCode">
		SELECT * FROM BF_CMN_VENDOR_CODE
		<where>
			<if test="vendorCode != null and vendorCode != ''">
				AND vend_cd_code LIKE #{vendorCode}
			</if>
			<if
				test="vendCdClfy != null and vendCdClfy != '' and vendCdClfy != '전체'">
				AND vend_cd_clfy LIKE #{vendCdClfy}
			</if>

		</where>
	</select>

	<!-- 공정상태조회 -->
	<select id="findProcStatus" resultType="findProcStatusVO">

		SELECT linecode.line_cd_ord AS lineCdOrd,
		proccode.proc_cd_name AS procCdName,
		eqp.mchn_name AS mchnName,
		eqp.mchn_stts AS mchnStts
		FROM
		BF_CMN_LINE_CODE linecode,
		BF_CMN_PROC_CODE proccode,
		BF_EQP_MCHN eqp,
		BF_CMN_LINE_CODE_HD linecodehd
		WHERE linecode.proc_cd_code = proccode.proc_cd_code AND
		linecode.mchn_code = eqp.mchn_code AND linecode.line_cd_hd_code =
		linecodehd.line_cd_hd_code
		AND line_cd_hd_name LIKE #{lineName}
		ORDER BY line_cd_ord

	</select>

	<!-- 라인별 자재 소요 예상량 조회 -->

	<select id="findVRscNeedQty"
		resultType="com.mes.bf.prod.vo.VRscNeedQtyVO">

		SELECT * FROM V_RSC_NEED_QTY WHERE lineCdHdName = #{lineCdHdName}

	</select>


	<!-- 생산지시 헤더 입력 -->

	<insert id="insertInstruction">

		INSERT INTO
		BF_PROD_INSTRUCTION(inst_no,
		emp_id,
		inst_name,
		inst_date,
		inst_remk,
		plan_hd_code)
		VALUES(BF_PROD_INSTRUCTION_SEQ.nextval,
		(SELECT emp_id FROM BF_CMN_EMP WHERE emp_name = #{empId}),
		#{instName},
		#{instDate},
		#{instRemk},
		#{planHdCode}
		)

	</insert>


	<!-- 생산지시 상세 입력 -->
	<insert id="insertInstructionDetail">
		<selectKey keyProperty="instNo" order="BEFORE"
			resultType="int">
			SELECT MAX(inst_no) FROM BF_PROD_INSTRUCTION
		</selectKey>
		INSERT INTO
		BF_PROD_INST_DETAIL(inst_prod_no,
							fin_prd_cd_code,
							inst_no,
							inst_prod_indica_vol,
							work_scope,
							work_date)
		VALUES(
				BF_PROD_INST_DETAIL_SEQ.nextval,
				#{finPrdCdCode},
				#{instNo},
				#{instProdIndicaVol},
				'지시',
				#{workDate}
		)
	</insert>
	
	<!-- 공정테이블 데이터 입력 -->
	
	<insert id="insertProc">
INSERT INTO 
	bf_prod_process (
					process_no,
					inst_prod_no,
					process_order,
					proc_cd_code,
					mchn_code)
SELECT 
		BF_PROD_PROCESS_SEQ.nextval,
        (SELECT MAX(inst_prod_no) FROM BF_PROD_INST_DETAIL),
        linecode.line_cd_ord,
        linecode.proc_cd_code,
        linecode.mchn_code 
FROM 
	BF_CMN_PROC_CODE proccode,
    BF_CMN_LINE_CODE linecode,
    BF_EQP_MCHN eqp,
    BF_CMN_LINE_CODE_HD linecodehd,
    BF_CMN_BOM_CODE bomcode
WHERE 
		proccode.proc_cd_code = linecode.proc_cd_code
	AND
		eqp.mchn_code = linecode.mchn_code 
	AND 
		linecodehd.line_cd_hd_code = linecode.line_cd_hd_code 
	AND
		linecodehd.line_cd_hd_code = bomcode.line_cd_hd_code 
	AND
		bomcode.fin_prd_cd_code = #{finPrdCdCode}
	
	</insert>
	
	
	
	

</mapper>