<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.prod.mapper.PackingMapper">

<select id="findPackingProc" resultType="PackingVO">

SELECT *
FROM 
	BF_PROD_PROCESS proc,
	BF_PROD_INST_DETAIL detail,
	BF_CMN_FINISH_PRODUCT_CODE prodcode
WHERE 
	proc.inst_prod_no = detail.inst_prod_no
AND 
	detail.fin_prd_cd_code = prodcode.fin_prd_cd_code
AND 
	process_order = 5 AND NOT completion_status = 'y'
AND 
	NOT in_dtl_vol = 0
</select>

<!-- 제품코드로 설비명,상태 조회 -->
	<select id="findMchn" resultType="MchnVO">
		SELECT 
			mchn.mchn_name,
			mchn.mchn_stts,
			mchn.mchn_code
		FROM 
			BF_EQP_MCHN mchn,
			BF_CMN_LINE_CODE linecode,
			BF_CMN_LINE_CODE_HD linehd,
			BF_CMN_BOM_CODE bomcode
		WHERE 
			mchn.mchn_code = linecode.mchn_code 
		AND
			linecode.line_cd_hd_code = linehd.line_cd_hd_code 
		AND
			linehd.line_cd_hd_code = bomcode.line_cd_hd_code 
		AND
			fin_prd_cd_code = #{finPrdCdCode}
		AND 
			linecode.line_cd_ord = 5
		order by linecode.line_cd_ord
		
	</select>
	
	
	<insert id="insertInDtl" parameterType="slsInDtlVO">
		INSERT INTO 
		BF_SALES_IN_DTL ( sls_in_dtl_no,
                          process_perfom_no,
                          sls_in_dtl_date,
                          fin_prd_cd_code,
                          sls_in_dtl_vol
                        )
VALUES (    
        'SLS_IN'||LPAD(BF_SALES_IN_DTL_SEQ.nextval,3,0),
        (SELECT 
        	process_perfom_no 
        FROM 
        	BF_PROD_PROCESS_PERFORMANCE 
        WHERE 
        	process_no = #{processNo}),
        #{slsInDtlDate},
        #{finPrdCdCode},
        #{slsInDtlVol}       
        ) 
	
	</insert>
	
	
	
	
	
	
	
	
	
	<!-- 공정테이블 중 포장 조회 -->
	<select id="findProcessPacking"
		resultType="com.mes.bf.prod.vo.ProcessVO">
		SELECT * 
		FROM 
			bf_prod_process
		WHERE 
			inst_prod_no =
			#{instProdNo}
		AND 
			 process_order=5
		order by 2,3
	</select>
	

</mapper>