<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.FindRscCodeMapper">
	<select id="rscCodeList"
		resultType="com.mes.bf.cmn.vo.RscCodeVO">
		SELECT *

		FROM BF_CMN_RSC_CODE
		<where>
			<if test="rscCdName != null and rscCdName != ''">
				AND RSC_CD_NAME LIKE '%'||#{rscCdName}||'%'
			</if>
			<if
				test="rscCdClfy != null and rscCdClfy!= '' and rscCdClfy != '전체'">
				AND RSC_CD_CLFY = #{rscCdClfy}
			</if>
		</where>
		ORDER BY RSC_CD_CODE DESC
	</select>

	<select id="rscLotNoList"
		resultType="com.mes.bf.rsc.vo.RscStockVO">
		SELECT STOCK.RSC_LOT_NO,
		STOCK.RSC_STOCK_ST,
		STOCK.RSC_STOCK,
		STOCK.RSC_CD_CODE,

		CODE.RSC_CD_NAME

		FROM BF_RSC_STOCK STOCK
		LEFT JOIN BF_CMN_RSC_CODE CODE
		ON STOCK.RSC_CD_CODE = CODE.RSC_CD_CODE
		<where>
			<if test="rscCdCode != null and rscCdCode != ''">
				STOCK.RSC_CD_CODE LIKE '%'||#{rscCdCode}||'%'
			</if>
			<if test="rscCdName != null and rscCdName != ''">
				AND CODE.RSC_CD_NAME LIKE '%'||#{rscCdName}||'%'
			</if>
		</where>

		ORDER BY RSC_LOT_NO DESC
	</select>


	<!-- 자재 발주 모달 -->
	<select id="rscOrderList" resultType="com.mes.bf.rsc.vo.RscOrderVO">
		SELECT OD.*, RSC_ORDER_ST
		
		  FROM BF_RSC_ORDER OD
		  JOIN (SELECT RSC_ORDER_CODE, 
		  			   SUM(RSC_ORDER_ST) AS RSC_ORDER_ST
          		  FROM BF_RSC_ORDER_DETAILS
         		 GROUP BY RSC_ORDER_CODE) SM
         	ON OD.RSC_ORDER_CODE = SM.RSC_ORDER_CODE
		<where>
			   RSC_ORDER_ST = 0
			<if test="rscOrderTitle != null and rscOrderTitle != ''">
				AND RSC_ORDER_TITLE LIKE '%'|| #{rscOrderTitle} ||'%'
			</if>
			<if test="rscOrderDate != null and rscOrderDate != ''">
				AND RSC_ORDER_DATE = #{rscOrderDate}
			</if>
		</where>
		ORDER  BY 1
	</select>

	<select id="modalOutList"
		resultType="com.mes.bf.rsc.vo.RscOutVO">
		SELECT RSCOUT.RSC_OUT_CODE,
		RSCOUT.RSC_OUT_DATE,
		NVL(RSCOUT.VEND_CD_CODE,''),
		RSCOUT.RSC_CD_CODE,
		RSCOUT.RSC_OUT_VOL,

		RSCCODE.RSC_CD_NAME,

		VEND.VEND_CD_NM,

		EMP.EMP_NAME

		FROM BF_RSC_OUT RSCOUT
		LEFT JOIN BF_CMN_RSC_CODE RSCCODE
		ON RSCOUT.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		LEFT JOIN BF_CMN_VENDOR_CODE VEND
		ON RSCOUT.VEND_CD_CODE = VEND.VEND_CD_CODE
		LEFT JOIN BF_CMN_EMP EMP
		ON RSCOUT.EMP_ID = EMP.EMP_ID

		WHERE RSCOUT.RSC_OUT_CLS = 2
		<if test="rscOutCode != null and rscOutCode != ''">
			AND RSCOUT.RSC_OUT_CODE LIKE '%'||#{rscOutCode}||'%'
		</if>
		<if test="rscOutDate != null and rscOutDate != ''">
		 		<![CDATA[AND RSCOUT.RSC_OUT_DATE >= TO_DATE(#{rscOutDate}) 
		 			 AND RSCOUT.RSC_OUT_DATE <= TO_DATE(#{rscOutDate}) +1 ]]>
		</if>

		ORDER BY 1 DESC
	</select>
	<select id="modalReturnList"
		resultType="com.mes.bf.rsc.vo.RscReturnVO">
		SELECT RTN.RSC_RETURN_CODE,
		RTN.RSC_RETURN_DATE,
		RTN.RSC_RETURN_VOL,

		NVL(VEND.VEND_CD_NM,' '),

		RSC.RSC_CD_NAME

		FROM BF_RSC_RETURN RTN
		LEFT JOIN BF_CMN_VENDOR_CODE VEND
		ON RTN.VEND_CD_CODE = VEND.VEND_CD_CODE
		LEFT JOIN BF_CMN_RSC_CODE RSC
		ON RTN.RSC_CD_CODE = RSC.RSC_CD_CODE
		<where>
			<if test="rscReturnCode != null and rscReturnCode != ''">
				AND RTN.RSC_RETURN_CODE LIKE '%'||#{rscReturnCode}||'%'
			</if>
			<if test="rscReturnDate != null and rscReturnDate != ''">
		 		<![CDATA[AND RTN.RSC_RETURN_DATE >= TO_DATE(#{rscReturnDate}) 
		 			 AND RTN.RSC_RETURN_DATE <= TO_DATE(#{rscReturnDate}) +1 ]]>
			</if>
		</where>

		ORDER BY 1;
	</select>


</mapper>