<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscInspMapper">
	<select id="inspListLoad" resultType="com.mes.bf.rsc.vo.RscOrderVO">
		SELECT DTS.RSC_ORDER_CODE,
			   DTS.RSC_ORDER_DTL_NO,
			   DTS.RSC_CD_CODE,
			   DTS.RSC_ORDER_VOL,
			   DTS.RSC_ORDER_ARV,
			    
			   RSC.RSC_CD_NAME,
			   RSC.RSC_CD_UNIT
			   
          FROM BF_RSC_ORDER_DETAILS DTS
          LEFT JOIN BF_RSC_ORDER OD
            ON DTS.RSC_ORDER_CODE = OD.RSC_ORDER_CODE
          LEFT JOIN BF_CMN_RSC_CODE RSC
            ON DTS.RSC_CD_CODE = RSC.RSC_CD_CODE
   		<where>
   			RSC_ORDER_VOL != RSC_ORDER_ARV
   			<if test="rscOrderCode != null and rscOrderCode != ''">
   				AND DTS.RSC_ORDER_CODE LIKE '%' || #{rscOrderCode} || '%'
   			</if>
   			<if test="rscOrderTitle != null and rscOrderTitle != ''">
   				AND OD.RSC_ORDER_TITLE LIKE '%' || #{rscOrderTitle} || '%'
   			</if>
   			<if test="rscOrderDate != null and rscOrderDate != ''">
   				AND TO_CHAR(OD.RSC_ORDER_DATE, 'yyyy-MM-dd') = #{rscOrderDate}
   			</if>
   		</where>
   		ORDER BY DTS.RSC_ORDER_DTL_NO
	</select>
	
	<select id="inspVoLoad" resultType="com.mes.bf.rsc.vo.RscInspVO">
		SELECT INSP.RSC_INSP_CODE, 
			   INSP.RSC_INSP_DATE, 
			   INSP.RSC_ORDER_CODE,
			   INSP.RSC_ORDER_DTL_NO,
			   INSP.RSC_CD_CODE, 
			   INSP.RSC_INSP_VOL,
               INSP.RSC_INFER_VOL, 
               INSP.RSC_PASS_VOL,
               INSP.RSC_INSP_ST, 
               INSP.RSC_INSP_REMK,
               INSP.EMP_ID,
               
			   RSCCODE.RSC_CD_NAME, 
               RSCCODE.RSC_CD_UNIT, 
               
               EMP.EMP_NAME,
               
               DT.RSC_ORDER_VOL,
               DT.RSC_ORDER_ARV
		
		  FROM BF_RSC_INSP INSP 
		  LEFT JOIN BF_CMN_RSC_CODE RSCCODE
		    ON INSP.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		  LEFT JOIN BF_CMN_EMP EMP
		    ON INSP.EMP_ID = EMP.EMP_ID
		  LEFT JOIN BF_RSC_ORDER_DETAILS DT
		    ON INSP.RSC_ORDER_DTL_NO = DT.RSC_ORDER_DTL_NO
		  
		 WHERE INSP.RSC_INSP_CODE = #{rscInspCode}
	</select>
	
	<insert id="inspInsert" parameterType="com.mes.bf.rsc.vo.RscInspVO">
		INSERT 
		  INTO BF_RSC_INSP
		  
		VALUES (
		   	   'RSC_INSP' || LPAD(BF_RSC_INSP_SEQ.NEXTVAL,4,0),
			   #{rscOrderCode},
		   	   #{rscOrderDtlNo},
		   	   #{rscCdCode},
		   	   #{rscInspDate},
		   	   #{rscInspVol},
		   	   #{rscInferVol},
		   	   (#{rscInspVol} - #{rscInferVol}),
		   	   0,
		   	   #{rscInspRemk},
		   	   #{empId}
		   	   ) 
	</insert>
	 
	<update id="inspUpdate" parameterType="com.mes.bf.rsc.vo.RscInspVO">
		UPDATE BF_RSC_INSP
		
		   SET RSC_INSP_DATE = #{rscInspDate},
		   	   RSC_INSP_VOL = #{rscInspVol},
		   	   RSC_INFER_VOL = #{rscInferVol},
		   	   RSC_PASS_VOL = (#{rscInspVol} - #{rscInferVol}),
		   	   RSC_INSP_REMK = #{rscInspRemk},
		   	   EMP_ID = #{empId}
		
		 WHERE RSC_INSP_CODE = #{rscInspCode}
	</update>
	
	<!-- 검색조건 SQL -->
	<sql id="criteria">
		<if test="keyword != null and keyword != ''">
			AND INSP.RSC_INSP_CODE LIKE '%'||#{keyword}||'%'
		</if>
		<if test="keyword2 != null and keyword2 != ''">
			AND INSP.RSC_CD_CODE = #{keyword2}
		</if>
		<if test="keyword3 != null and keyword3 != '' and keyword4 != null and keyword4 != ''">
			<![CDATA[AND TO_CHAR(INSP.RSC_INSP_DATE, 'yyyy-MM-dd') >= #{keyword3} 
					AND TO_CHAR(INSP.RSC_INSP_DATE, 'yyyy-MM-dd') <= #{keyword4} ]]>
		</if>
	</sql>
	
	<select id="inspListCount" resultType="int">
		SELECT COUNT(*)
		 FROM  BF_RSC_INSP INSP 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  INSP.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_CMN_EMP EMP
		   ON  INSP.EMP_ID = EMP.EMP_ID
		 LEFT  JOIN BF_RSC_ORDER_DETAILS DT
		   ON  INSP.RSC_ORDER_DTL_NO = DT.RSC_ORDER_DTL_NO
		<where>
		 	<include refid="criteria" />
		 </where>
		ORDER BY 1 DESC
	</select>
	<select id="inspList" resultType="com.mes.bf.rsc.vo.RscInspVO">
		SELECT X.* FROM (
				SELECT Y.*, ROWNUM AS RNUM
				FROM (SELECT INSP.RSC_INSP_CODE, 
				   INSP.RSC_INSP_DATE, 
				   INSP.RSC_ORDER_CODE,
				   INSP.RSC_ORDER_DTL_NO,
				   INSP.RSC_CD_CODE, 
				   INSP.RSC_INSP_VOL,
	               INSP.RSC_INFER_VOL, 
	               INSP.RSC_PASS_VOL,
	               INSP.RSC_INSP_ST, 
	               INSP.RSC_INSP_REMK,
	               INSP.EMP_ID,
	               
				   RSCCODE.RSC_CD_NAME, 
	               RSCCODE.RSC_CD_UNIT, 
	               
	               EMP.EMP_NAME,
	               
	               DT.RSC_ORDER_VOL,
	               DT.RSC_ORDER_ARV
	            
			 FROM  BF_RSC_INSP INSP 
			 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
			   ON  INSP.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
			 LEFT  JOIN BF_CMN_EMP EMP
			   ON  INSP.EMP_ID = EMP.EMP_ID
			 LEFT  JOIN BF_RSC_ORDER_DETAILS DT
			   ON  INSP.RSC_ORDER_DTL_NO = DT.RSC_ORDER_DTL_NO
			<where>
			 	<include refid="criteria" />
			 </where>
			ORDER BY 1 DESC ) Y
		<where>
			<![CDATA[ AND ROWNUM <= #{pageNum}*#{amount}   ]]>
		</where> 
		) X
		WHERE X.RNUM > (#{pageNum}-1)*#{amount}
	</select>

</mapper>