<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscInMapper">
	
	<!-- 검색조건 SQL -->
	<sql id="criteria">
		<if test="keyword != null and keyword != ''">
			AND RSCIN.RSC_IN_CODE LIKE '%'||#{keyword}||'%'
		</if>
		<if test="keyword3 != null and keyword3 != '' and keyword4 != null and keyword4 != ''">
			AND <![CDATA[RSCIN.RSC_IN_DATE >= #{keyword3} 
		 			 AND RSCIN.RSC_IN_DATE <= #{keyword4}]]>
		</if>
		<if test="keyword2 != null and keyword2 != ''">
			AND RSCIN.RSC_CD_CODE = #{keyword2}
		</if>
	</sql>
	
	<select id="inListCount" resultType="int">
		SELECT Count(*)            	
		 FROM  BF_RSC_IN RSCIN 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RSCIN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_RSC_STOCK STOCK
		   ON  RSCIN.RSC_IN_CODE = STOCK.RSC_IN_CODE
		 LEFT  JOIN BF_RSC_INSP RSCINSP
		   ON  RSCIN.RSC_INSP_CODE = RSCINSP.RSC_INSP_CODE
		 <where>
		 	<include refid="criteria" />
		 </where>
		ORDER  BY RSCIN.RSC_IN_DATE DESC, RSCIN.RSC_IN_CODE DESC
	</select>
	<select id="inList" resultType="com.mes.bf.rsc.vo.RscInVO">
		SELECT X.* FROM (
			SELECT Y.*, ROWNUM AS RNUM FROM (
						SELECT RSCIN.RSC_IN_CODE, 
						   RSCIN.RSC_IN_DATE, 
			               RSCIN.RSC_IN_VOL, 
			            	
						   RSCCODE.RSC_CD_CODE, 
						   RSCCODE.RSC_CD_NAME,
						    
			               STOCK.RSC_LOT_NO,
			            	
						   RSCINSP.RSC_INSP_DATE, 
			               RSCINSP.RSC_INSP_ST
			            	
					 FROM  BF_RSC_IN RSCIN 
					 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
					   ON  RSCIN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
					 LEFT  JOIN BF_RSC_STOCK STOCK
					   ON  RSCIN.RSC_IN_CODE = STOCK.RSC_IN_CODE
					 LEFT  JOIN BF_RSC_INSP RSCINSP
					   ON  RSCIN.RSC_INSP_CODE = RSCINSP.RSC_INSP_CODE
					 <where>
					 	<include refid="criteria" />
					 </where>
					ORDER  BY RSCIN.RSC_IN_DATE DESC, RSCIN.RSC_IN_CODE DESC) Y
		<where>
			<![CDATA[ AND ROWNUM <= #{pageNum}*#{amount}   ]]>
		</where>
		) X
	WHERE X.RNUM > (#{pageNum}-1)*#{amount}
	</select>
	
	<select id="inspCompList" resultType="com.mes.bf.rsc.vo.RscInspVO">
		SELECT INSP.RSC_INSP_CODE, 
			   INSP.RSC_INSP_DATE, 
			   INSP.RSC_CD_CODE, 
			   INSP.RSC_PASS_VOL, 
			   INSP.RSC_INSP_ST,
			   INSP.RSC_INSP_REMK,
			
			   RSCCODE.RSC_CD_NAME
		
		 FROM  BF_RSC_INSP INSP
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		 ON    INSP.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		
		 WHERE INSP.RSC_INSP_ST = 0
		 	<if test="rscCdCode != null and rscCdCode != ''">
		 		AND INSP.RSC_CD_CODE = #{rscCdCode}
		 	</if>
		 	<if test="inspDate != null and inspDate != ''">
		 		AND TO_CHAR(INSP.RSC_INSP_DATE,'yyyy-mm-dd') = #{inspDate}
		 	</if>
		
		 ORDER BY 1 DESC
	</select>
	
	
	
	
	<insert id="inInsert" parameterType="com.mes.bf.rsc.vo.RscInVO">
		INSERT INTO BF_RSC_IN 
		
		VALUES(
			   'RSC_IN'||LPAD(BF_RSC_IN_SEQ.nextval,4,0),
			   #{rscInspCode},
			   #{rscCdCode},
			   CURRENT_TIMESTAMP,
			   #{rscPassVol}
			  )
	</insert>
</mapper>