<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscInMapper">
	<select id="inList" resultType="com.mes.bf.rsc.vo.RscInVO">
		SELECT RSCIN.RSC_IN_CODE, 
			   RSCIN.RSC_IN_DATE, 
               RSCIN.RSC_IN_VOL, 
            	
			   RSCCODE.RSC_CD_CODE, 
			   RSCCODE.RSC_CD_NAME,
			    
               STOCK.RSC_LOT_NO,
            	
			   RSCINSP.RSC_INSP_DATE, 
               RSCINSP.RSC_INSP_ST
            	
		 FROM  BF_RSC_IN RSCIN 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RSCIN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_RSC_STOCK STOCK
		   ON  RSCIN.RSC_IN_CODE = STOCK.RSC_IN_CODE
		 LEFT  JOIN BF_RSC_INSP RSCINSP
		   ON  RSCIN.RSC_INSP_CODE = RSCINSP.RSC_INSP_CODE
		 <where>
		 	<if test="rscInCode != null and rscInCode != ''">
		 		RSCIN.RSC_IN_CODE = '%'||#{rscInCode}||'%'
		 	</if>
		 	<if test="rscCdCode != null and rscCdCode != ''">
		 		RSCIN.RSC_CD_CODE = #{rscCdCode}
		 	</if>
		 	<if test="rscInSDate != null and rscInSDate != ''">
		 		<![CDATA[RSCIN.RSC_IN_DATE >= #{rscInSDate} 
		 			 AND RSCIN.RSC_IN_DATE <= #{rscInEDate}]]>
		 	</if>
		 </where>
		        
		ORDER  BY RSCIN.RSC_CD_CODE DESC
	</select>
	
	<select id="inspCompList" resultType="com.mes.bf.rsc.vo.RscInspVO">
		SELECT INSP.RSC_INSP_CODE, 
			   INSP.RSC_INSP_DATE, 
			   INSP.RSC_CD_CODE, 
			   INSP.RSC_PASS_VOL, 
			   INSP.RSC_INSP_ST,
			   INSP.RSC_INSP_REMK,
			
			   RSCCODE.RSC_CD_NAME
		
		 FROM  BF_RSC_INSP INSP
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		 ON    INSP.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		
		 WHERE INSP.RSC_INSP_ST = 0
		 	<if test="rscCdCode != null and rscCdCode != ''">
		 		AND INSP.RSC_CD_CODE = #{rscCdCode}
		 	</if>
		 	<if test="inspDate != null and inspDate != ''">
		 		AND INSP.RSC_INSP_DATE = #{inspDate}
		 	</if>
		
		 ORDER BY 1 DESC
	</select>
	
	<insert id="inInsert" parameterType="com.mes.bf.rsc.vo.RscInVO">
		INSERT INTO BF_RSC_IN 
		
		VALUES(
			   'RSC_IN'||LPAD(BF_RSC_IN_SEQ.nextval,4,0),
			   #{rscInspCode},
			   #{rscCdCode},
			   CURRENT_TIMESTAMP,
			   #{rscPassVol}
			  )
	</insert>
</mapper>