<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscOutMapper">

	<select id="normalOutList" resultType="com.mes.bf.rsc.vo.RscOutVO">
		SELECT RSCOUT.RSC_OUT_CODE, 
		   	   RSCOUT.RSC_OUT_DATE, 
			   RSCOUT.PROCESS_PERFOM_NO, 
			   RSCOUT.RSC_CD_CODE, 
               RSCOUT.RSC_LOT_NO, 
               RSCOUT.RSC_OUT_VOL, 
               RSCOUT.RSC_OUT_CLS,
               
			   RSCCODE.RSC_CD_NAME
            
		 FROM  BF_RSC_OUT RSCOUT 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RSCOUT.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		        
		WHERE  RSCOUT.RSC_OUT_CLS = 1
			<if test="rscOutCode != null and rscOutCode != ''">
		 		AND RSCOUT.RSC_OUT_CODE = '%'||#{rscOutCode}||'%'
		 	</if>
		 	<if test="rscCdCode != null and rscCdCode != ''">
		 		AND RSCOUT.RSC_CD_CODE = #{rscCdCode}
		 	</if>
		 	<if test="rscOutSDate != null and rscOutSDate != ''">
		 		<![CDATA[AND RSCOUT.RSC_OUT_DATE >= #{rscOutSDate} 
		 			 AND RSCOUT.RSC_OUT_DATE <= #{rscOutEDate}]]>
		 	</if>
		
		ORDER  BY 1 DESC
	</select>
	
	<select id="exceptOutList" resultType="com.mes.bf.rsc.vo.RscOutVO">
		SELECT RSCOUT.RSC_OUT_CODE, 
			   RSCOUT.RSC_OUT_DATE, 
			   NVL(RSCOUT.VEND_CD_CODE,''), 
               RSCOUT.RSC_CD_CODE,
               RSCOUT.RSC_LOT_NO,
               RSCOUT.RSC_OUT_VOL,
               RSCOUT.RSC_OUT_CLS,
               RSCOUT.RSC_OUT_RESN,
               
               RSCCODE.RSC_CD_NAME, 
			   
			   VEND.VEND_CD_NM, 
               
               EMP.EMP_NAME
            
		 FROM  BF_RSC_OUT RSCOUT 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RSCOUT.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_CMN_VENDOR_CODE VEND
		   ON  RSCOUT.VEND_CD_CODE = VEND.VEND_CD_CODE
		 LEFT  JOIN BF_CMN_EMP EMP
		   ON  RSCOUT.EMP_ID = EMP.EMP_ID
		        
		WHERE  RSCOUT.RSC_OUT_CLS = 2
			<if test="rscOutCode != null and rscOutCode != ''">
		 		AND RSCOUT.RSC_OUT_CODE LIKE '%'||#{rscOutCode}||'%'
		 	</if>
		 	<if test="rscCdCode != null and rscCdCode != ''">
		 		AND RSCOUT.RSC_CD_CODE = #{rscCdCode}
		 	</if>
		 	<if test="rscOutSDate != null and rscOutSDate != ''">
		 		<![CDATA[AND RSCOUT.RSC_OUT_DATE >= #{rscOutSDate} 
		 			 AND RSCOUT.RSC_OUT_DATE <= #{rscOutEDate}]]>
		 	</if>
		
		ORDER  BY 1 DESC
	</select>
	
		<select id="exceptOut" resultType="com.mes.bf.rsc.vo.RscOutVO">
		SELECT RSCOUT.RSC_OUT_CODE, 
			   RSCOUT.RSC_OUT_DATE, 
			   RSCOUT.VEND_CD_CODE, 
               RSCOUT.RSC_CD_CODE,
               RSCOUT.RSC_LOT_NO,
               RSCOUT.RSC_OUT_VOL,
               RSCOUT.RSC_OUT_CLS,
               RSCOUT.RSC_OUT_RESN,
               
               RSCCODE.RSC_CD_NAME, 
			   
			   VEND.VEND_CD_NM, 
               
               EMP.EMP_ID,
               
               STOCK.RSC_STOCK
            
		 FROM  BF_RSC_OUT RSCOUT 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RSCOUT.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_CMN_VENDOR_CODE VEND
		   ON  RSCOUT.VEND_CD_CODE = VEND.VEND_CD_CODE
		 LEFT  JOIN BF_CMN_EMP EMP
		   ON  RSCOUT.EMP_ID = EMP.EMP_ID
		 LEFT  JOIN BF_RSC_STOCK STOCK
		   ON  RSCOUT.RSC_LOT_NO = STOCK.RSC_LOT_NO
		        
		WHERE  RSCOUT.RSC_OUT_CLS = 2
		 		AND RSCOUT.RSC_OUT_CODE = #{rscOutCode}
	</select>
	
	
	<insert id="OutInsert" parameterType="com.mes.bf.rsc.vo.RscOutVO">
		INSERT INTO BF_RSC_OUT
		VALUES ('RSC_OUT'||LPAD(BF_RSC_OUT_CODE_SEQ.NEXTVAL,4,0),
				NULL,
				#{rscCdCode},
				#{rscLotNo},
				#{rscOutDate},
				#{rscOutVol},
				2,
				#{rscOutResn},
				#{empId},
				#{vendCdCode})
				
	</insert>
	
	<update id="OutUpdate">
		UPDATE BF_RSC_OUT 
		<set>
				VEND_CD_CODE = #{vendCdCode}
			<if test="rscOutDate != null">
				,RSC_OUT_DATE = #{rscOutDate}
			</if>
			<if test="rscCdCode != null and rscCdCode != ''">
				,RSC_CD_CODE = #{rscCdCode}
			</if>
			<if test="rscLotNo != null and rscLotNo != ''">
				,RSC_LOT_NO = #{rscLotNo}
			</if>
			<if test="rscOutVol != null and rscOutVol != '' and rscOutVol >= 0">
				,RSC_OUT_VOL = #{rscOutVol}
			</if>
			<if test="empId != null and empId != ''">
				,EMP_ID = #{empId}
			</if>
		</set>
		WHERE RSC_OUT_CODE = #{rscOutCode}
	</update>
	
	
</mapper>