<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscOrderMapper">
	<select id="orderDetailList" resultType="com.mes.bf.rsc.vo.RscOrderVO">
		SELECT DTS.RSC_ORDER_CODE,
			   DTS.RSC_ORDER_DTL_NO,
			   DTS.RSC_CD_CODE,
			   DTS.RSC_ORDER_VOL,
			   DTS.RSC_ORDER_PRC,
			   NVL(DTS.RSC_ORDER_DTL_REMK,' ') AS RSC_ORDER_DTL_REMK,
			   DTS.VEND_CD_CODE,
			    
			   VEND.VEND_CD_NM, 
			   
			   RSC.RSC_CD_NAME,
			   RSC.RSC_CD_UNIT
			   
          FROM BF_RSC_ORDER_DETAILS DTS
          LEFT JOIN BF_CMN_VENDOR_CODE VEND
            ON DTS.VEND_CD_CODE = VEND.VEND_CD_CODE
          LEFT JOIN BF_CMN_RSC_CODE RSC
            ON DTS.RSC_CD_CODE = RSC.RSC_CD_CODE
            
         WHERE RSC_ORDER_CODE = #{rscOrderCode}
           AND RSC_ORDER_ST = 0
	</select>
	
	<insert id="orderInsert" parameterType="com.mes.bf.rsc.vo.RscOrderVO">
		INSERT INTO BF_RSC_ORDER
		
		VALUES (
			   'RSC_OD' || LPAD(BF_RSC_ORDER_CODE_SEQ.NEXTVAL,3,0), 
			   #{rscOrderTitle}, 
			   #{rscOrderDate}, 
			   null , 
			   #{empId}
			   )
	</insert>
	<insert id="orderDtInsert" parameterType="com.mes.bf.rsc.vo.RscOrderVO">
		<selectKey keyProperty="rscOrderCode" resultType="String" order="BEFORE">
			SELECT MAX(RSC_ORDER_CODE)
			  FROM BF_RSC_ORDER
		</selectKey>
		INSERT INTO BF_RSC_ORDER_DETAILS
		
		VALUES (
			   'RSC_DTCD' || LPAD(BF_RSC_ORDER_DETAILS_CODE_SEQ.NEXTVAL,4,0),
			   #{rscOrderCode},
			   #{rscCdCode},
			   #{vendCdCode},
			   #{rscOrderVol},
			   0,
			   #{rscOrderPrc},
			   0
			   ,#{rscOrderDtlRemk}
			   )
			   
	</insert>
	
	<update id="orderHdUpdate">
		UPDATE BF_RSC_ORDER
		
		   SET RSC_ORDER_DATE = #{rscOrderDate},
		       RSC_ORDER_TITLE = #{rscOrderTitle},
		       EMP_ID = #{empId}
		
		WHERE RSC_ORDER_CODE = #{rscOrderCode}
	
	</update>
	
	<delete id="orderDtDelete">
		DELETE 
		
		  FROM BF_RSC_ORDER_DETAILS
		
		 WHERE RSC_ORDER_CODE = #{rscOrderCode}
	
	</delete>
	
	<insert id="orderDtReInsert">
		INSERT INTO BF_RSC_ORDER_DETAILS
		
		VALUES (
			   'RSC_DTCD' || LPAD(BF_RSC_ORDER_DETAILS_CODE_SEQ.NEXTVAL,4,0),
			   #{rscOrderCode},
			   #{rscCdCode},
			   #{vendCdCode},
			   #{rscOrderVol},
			   0,
			   #{rscOrderPrc},
			   0
			   ,#{rscOrderDtlRemk}
			   )
	</insert>
	
	<select id="orderList" resultType="com.mes.bf.rsc.vo.RscOrderVO">
		SELECT OD.*, 
			   DT.*, 
			   RSC.RSC_CD_NAME, 
			   RSC.RSC_CD_UNIT,
			   VEND.VEND_CD_NM
		
		  FROM BF_RSC_ORDER OD
		  JOIN BF_RSC_ORDER_DETAILS DT
		    ON OD.RSC_ORDER_CODE = DT.RSC_ORDER_CODE
		  JOIN BF_CMN_RSC_CODE RSC
		    ON RSC.RSC_CD_CODE = DT.RSC_CD_CODE
		  JOIN BF_CMN_VENDOR_CODE VEND
		    ON VEND.VEND_CD_CODE = DT.VEND_CD_CODE
		<where>
			<if test="rscOrderCode != null and rscOrderCode != ''">
				AND OD.RSC_ORDER_CODE LIKE '%' || #{rscOrderCode} || '%'
			</if>
			<if test="rscCdCode != null and rscCdCode != ''">
				AND DT.RSC_CD_CODE = #{rscCdCode}
			</if>
			<if test="vendCdCode != null and vendCdCode != ''">
				AND DT.VEND_CD_CODE = #{vendCdCode}
			</if>
			<if test="(rscOrderSDate!= null and rscOrderSDate!= '') and (rscOrderEDate!= null and rscOrderEDate!= '')">
				AND OD.RSC_ORDER_DATE BETWEEN #{rscOrderSDate} AND TO_DATE(#{rscOrderEDate})+1
			</if>
			AND <![CDATA[ROWNUM < 10]]>
		</where>
		ORDER BY 1 DESC
	</select>
</mapper>