<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscReturnMapper">
	<!-- 검색조건 SQL -->
	<sql id="criteria">
		<if test="keyword != null and keyword != ''">
			AND RTN.RSC_RETURN_CODE = '%'||#{keyword}||'%'
		</if>
		<if test="keyword2 != null and keyword2 != ''">
			AND RTN.VEND_CD_CODE = #{keyword2}
		</if>
		<if test="keyword3 != null and keyword3 != '' and keyword4 != null and keyword4 != ''">
			AND TRUNC(RTN.RSC_RETURN_DATE) BETWEEN #{keyword3} AND #{keyword4}
		</if>
		
	</sql>
	
	<select id="returnListCount" resultType="int">
		SELECT COUNT(*)
               
		 FROM  BF_RSC_RETURN RTN 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RTN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_CMN_EMP EMP
		   ON  RTN.EMP_ID = EMP.EMP_ID
		 LEFT  JOIN BF_CMN_VENDOR_CODE VEND
		   ON  RTN.VEND_CD_CODE = VEND.VEND_CD_CODE
		 <where>
		 	<include refid="criteria" />
		 </where>
		ORDER  BY 1 DESC
	</select>
	
	<select id="returnList" resultType="com.mes.bf.rsc.vo.RscReturnVO">
		SELECT X.* FROM (
			SELECT Y.*, ROWNUM AS RNUM FROM (
							SELECT RTN.RSC_RETURN_CODE, 
							       RTN.RSC_RETURN_DATE, 
							       RTN.RSC_CD_CODE, 
					               RTN.RSC_RETURN_VOL, 
					               RTN.RSC_RETURN_PRC, 
					               RTN.RSC_RETURN_RESN, 
					               RTN.RSC_RETURN_REMK,
					               
							       RSCCODE.RSC_CD_NAME, 
							       RSCCODE.RSC_CD_UNIT,
							       
					               EMP.EMP_NAME,
					
					               VEND.VEND_CD_NM
					               
							 FROM  BF_RSC_RETURN RTN 
							 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
							   ON  RTN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
							 LEFT  JOIN BF_CMN_EMP EMP
							   ON  RTN.EMP_ID = EMP.EMP_ID
							 LEFT  JOIN BF_CMN_VENDOR_CODE VEND
							   ON  RTN.VEND_CD_CODE = VEND.VEND_CD_CODE
							 <where>
							 	<include refid="criteria" />
							 </where>
							ORDER  BY 1 DESC ) Y
		<where>
			<![CDATA[ AND ROWNUM <= #{pageNum}*#{amount}   ]]>
		</where>
		) X
	WHERE X.RNUM > (#{pageNum}-1)*#{amount}
	</select>
	
	<select id="loadReturn" resultType="com.mes.bf.rsc.vo.RscReturnVO">
		SELECT RTN.RSC_RETURN_CODE, 
		       RTN.RSC_RETURN_DATE, 
		       RTN.RSC_CD_CODE, 
               RTN.RSC_RETURN_VOL, 
               RTN.RSC_RETURN_PRC, 
               RTN.RSC_RETURN_RESN, 
               RTN.RSC_RETURN_REMK,
               RTN.RSC_LOT_NO,
               RTN.VEND_CD_CODE,
               RTN.EMP_ID,
               
		       RSCCODE.RSC_CD_NAME, 
		       RSCCODE.RSC_CD_UNIT,
		       
               EMP.EMP_NAME,
			   
               VEND.VEND_CD_NM,
               
               STK.RSC_STOCK
               
		 FROM  BF_RSC_RETURN RTN 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RTN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_CMN_EMP EMP
		   ON  RTN.EMP_ID = EMP.EMP_ID
		 LEFT  JOIN BF_CMN_VENDOR_CODE VEND
		   ON  RTN.VEND_CD_CODE = VEND.VEND_CD_CODE
		 LEFT  JOIN BF_RSC_STOCK STK
		   ON  RTN.RSC_LOT_NO = STK.RSC_LOT_NO
		   
		WHERE RTN.RSC_RETURN_CODE = #{rscReturnCode}
	</select>
	
	<insert id="returnInsert" parameterType="com.mes.bf.rsc.vo.RscReturnVO">
		INSERT INTO BF_RSC_RETURN
		
		VALUES (
				'RSC_RTN' || LPAD(BF_RSC_RETURN_SEQ.nextval,3,0),
				#{rscCdCode},
				#{rscLotNo},
				#{rscReturnDate},
				#{rscReturnVol},
				'처리고민',
				#{rscReturnPrc},
				#{rscReturnRemk},
				#{empId},
				#{vendCdCode}
				)
	</insert>
	
	<update id="returnUpdate" parameterType="com.mes.bf.rsc.vo.RscReturnVO">
		UPDATE BF_RSC_RETURN
		<set>
			RSC_RETURN_DATE = #{rscReturnDate}
			,VEND_CD_CODE = #{vendCdCode}
			,RSC_CD_CODE = #{rscCdCode}
			,RSC_LOT_NO = #{rscLotNo}
			,RSC_RETURN_VOL = #{rscReturnVol}
			,RSC_RETURN_PRC = #{rscReturnPrc}
			,EMP_ID = #{empId}
			,RSC_RETURN_REMK = #{rscReturnRemk}
		</set>
		WHERE RSC_RETURN_CODE = #{rscReturnCode}
	</update>
	
</mapper>