<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscReturnMapper">

	<select id="returnList" resultType="com.mes.bf.rsc.vo.RscReturnVO">
		SELECT rtn.rsc_return_code, rtn.rsc_return_date, rtn.rsc_cd_code, rsccode.rsc_cd_name, rsccode.rsc_cd_unit,
            rtn.rsc_return_vol, rtn.rsc_return_prc, rtn.rsc_return_resn, emp.emp_name,rtn.rsc_return_remk
		FROM BF_RSC_RETURN rtn LEFT JOIN BF_CMN_RSC_CODE rsccode
		        ON rtn.rsc_cd_code = rsccode.rsc_cd_code
		        LEFT JOIN BF_CMN_EMP emp
		        ON rtn.emp_id = emp.emp_id
		ORDER BY 1
	</select>
</mapper>