<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscReturnMapper">

	<select id="returnList" resultType="com.mes.bf.rsc.vo.RscReturnVO">
		SELECT RTN.RSC_RETURN_CODE, 
		       RTN.RSC_RETURN_DATE, 
		       RTN.RSC_CD_CODE, 
               RTN.RSC_RETURN_VOL, 
               RTN.RSC_RETURN_PRC, 
               RTN.RSC_RETURN_RESN, 
               RTN.RSC_RETURN_REMK,
               
		       RSCCODE.RSC_CD_NAME, 
		       RSCCODE.RSC_CD_UNIT,
		       
               EMP.EMP_NAME
               
		 FROM  BF_RSC_RETURN RTN 
		 LEFT  JOIN BF_CMN_RSC_CODE RSCCODE
		   ON  RTN.RSC_CD_CODE = RSCCODE.RSC_CD_CODE
		 LEFT  JOIN BF_CMN_EMP EMP
		   ON  RTN.EMP_ID = EMP.EMP_ID
		   
		ORDER  BY 1 DESC
	</select>
</mapper>