<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.rsc.mapper.RscStockMapper">

	<select id="StockList" resultType="com.mes.bf.rsc.vo.RscStockVO">
		SELECT ST.RSC_LOT_NO, 
			   ST.RSC_IN_VOL, 
			   ST.RSC_STOCK,
			   ST.RSC_STOCK_ST,
			   
		   	   CD.RSC_CD_CODE, 
			   CD.RSC_CD_NAME, 
			   CD.RSC_CD_CLFY, 
			   CD.RSC_CD_UNIT, 
			   
			   NVL(RSCOUT.VOL,0) AS RSC_OUT_VOL
				
		 FROM  BF_RSC_STOCK ST 
		 LEFT  JOIN BF_CMN_RSC_CODE CD 
           ON  CD.RSC_CD_CODE = ST.RSC_CD_CODE
         LEFT  JOIN (SELECT NVL(SUM(RSC_OUT_VOL),0) AS VOL, 
         					RSC_LOT_NO
                      FROM  BF_RSC_OUT
                      GROUP BY RSC_LOT_NO) RSCOUT
           ON  ST.RSC_LOT_NO = RSCOUT.RSC_LOT_NO
        <where>
        	<if test="rscCdCode != null and rscCdCode != ''">
        		ST.RSC_CD_CODE = #{rscCdCode}
        	</if>
        	<if test="rscLotNo != null and rscLotNo != ''">
        		AND ST.RSC_LOT_NO = #{rscLotNo}
        	</if>
        </where>
        ORDER  BY RSC_LOT_NO DESC
	</select>

</mapper>