<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="findPlan">

		<div class="form-inline">
			<div class="form-group mt-3">
				<label for="planDate" th:text="계획일자"></label> 
				<input type="date" id="plansdate" name="plansdate" class="form-control mx-sm-3">
				 <input type="date"id="planedate" name="planedate" class="form-control mx-sm-3">
				<button type="button" class="btn  btn-primary" id="findPlanbtn"
					th:text="조회"></button>
			</div>

		</div>
		<hr>
		<div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover" id="findPlanTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th th:text="생산계획일자"></th>
                                        <th th:text="생산계획번호"></th>
                                        <th th:text="생산계획명"></th>
                                        <th th:text="미지시량"></th>
                                    </tr>
                                </thead>
                                <tbody id="findPlantbody">
                                	
                                </tbody>
                            </table>
                        </div>
                    </div>
		
		
		
		
</body>
</html>