<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<th:block th:fragment="workInsert">
	<script type="text/javascript" th:src="@{/js/modal/prod/findemp.js}"></script>
		<div class="modal fade" id="workInsertModal" tabindex="-1"
			role="dialog" aria-labelledby="workInsertModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-fullsize" role="document">
				<div class="modal-content modal-fullsize">
					<div class="modal-header">
						<h3 class="modal-title" id="workInsertModalLabel" th:text="작업등록"></h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row headerbtn">
							<button type="submit" class="btn  btn-primary m-r-10"
								th:text="저장"></button>
							<button type="submit" class="btn  btn-primary m-r-10"
								th:text="닫기"></button>
						</div>

						<hr>
						<div class="col-xl-12">
							<div class="card">
								<div class="card-header">

									<div class="form-inline">
										<div class="form-group mt-3">
											<label for="instDate" th:text="작업일자"></label>
											 <input type="date" id="instDate" class="form-control mx-sm-3">
											<label for="procCdName" th:text="공정명"></label>
											 <input type="text" id="procCdName" class="form-control mx-sm-3" data-toggle="modal"
												data-target=".bd-example-modal-lg" readonly> 
												<label for="empid" th:text="작업자"></label>
												 <input type="text" id="empid" class="form-control mx-sm-3">
										</div>


									</div>
									<div class="form-inline">
										<div class="form-group mt-3">
											<label for="instNo" th:text="지시번호"></label> <input
												type="text" id="instNo" class="form-control mx-sm-3" readonly>
											<label for="instProdNo" th:text="작업번호"></label> <input
												type="text" id="instProdNo" class="form-control mx-sm-3" readonly>
											<label for="mchnName" th:text="설비"></label> <input
												type="text" id="mchnName" class="form-control mx-sm-3" readonly>
										</div>

									</div>

								</div>

								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="card">

											<div class="card-header">
												<h3 class="text-center" th:text="설비상태"></h3>
											</div>
											<div class="card-body">
												<div class="form-inline content-center" id="mchnStatus">
													
												</div>


											</div>
										</div>

									</div>

									<div class="col-md-8">
										<div class="card">

											<div class="card-header">
												<div class="form-inline content-center">

													<input type="text" class="form-control mx-sm-3 time"
														id="sHours">
													<h4 class="f-20">시</h4>
													<input type="text" class="form-control mx-sm-3 time"
														id="sMinutes">
													<h4 class="f-20">분</h4>
													<button type="button"
														class="btn  btn-primary m-l-20 m-r-20 m-b-5"
														id="workStartBtn">시작</button>
													<input type="text" class="form-control mx-sm-3 time"
														id="eHours">
													<h4 class="f-20">시</h4>
													<input type="text" class="form-control mx-sm-3 time"
														id="eMinutes">
													<h4 class="f-20">분</h4>
													<button type="button" class="btn  btn-primary m-l-20 m-b-5"
														id="workEndBtn">종료</button>
												</div>
												<hr>
											</div>
											<div class="card-body">

												<div class="table-responsive">
													<table class="table table-inverse" id="workStateTable">
														
														<tbody>
															<tr>
																<th th:text="제품명"></th>
															
															</tr>
															<tr>
																<th th:text="입고량"></th>
																
															</tr>
															<tr>
																<th th:text="기실적량"></th>
																
															</tr>
															<tr>
																<th th:text="실적량"></th>
																
															</tr>
															<tr>
																<th th:text="불량량"></th>
																
															</tr>
															<tr>
																<th th:text="달성률"></th>
																
															</tr>
														</tbody>
													</table>
												</div>
												<div class="form-inline content-center">
													<button type="submit"
														class="btn  btn-primary m-l-20 m-r-20 m-b-5" id="addFlty"
														th:text="불량등록"></button>
													<input type="number" class="form-control mx-sm-3 time"
														id="fltyCnt">
													<button type="submit" class="btn  btn-primary m-l-20 m-b-5"
														id="fltyUp">불량(+)</button>
													<button type="submit"
														class="btn  btn-primary m-l-10 m-r-20 m-b-5" id="fltyDown">불량(-)</button>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>


<!-- 담당자검색 Modal -->
<th:block th:replace="~{/fragments/modal/findemp :: findemp}"></th:block>

	</th:block>


</body>
</html>