<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.eqp.mapper.InspcMapper">

	<insert id="inspcInsert" parameterType="inspc">
		insert into bf_eqp_inspc
		values(BF_EQP_INSPC_SEQ.NEXTVAL,
				#{mchnCode},
				#{inspcSdate},
				#{inspcEdate},
				(select to_date(#{inspcEdate} + mchn_inspc_cycle,'yy/MM/dd') from BF_EQP_MCHN where mchn_code = #{mchnCode}),
				#{inspcActnPnt},
				#{inspcActnRsn},
				#{inspcRemk},
				#{empId}) 
	</insert>
	
	
	<update id="inspcUpdate">
		update bf_eqp_inspc
		SET ${updCol} = #{updCont}
		WHERE INSPC_NO = #{prikey}
	</update>

	<!-- 설비점검내역(모달창) -->
	<select id="findInspcList" resultType="inspc">
		SELECT I.INSPC_NO, 
				M.MCHN_CODE, 
				M.MCHN_NAME, 
				I.INSPC_SDATE, 
				I.INSPC_EDATE, 
				I.INSPC_ACTN_PNT, 
				NVL(I.INSPC_ACTN_RSN, ' ') AS  INSPC_ACTN_RSN,
				E.EMP_ID, 
				NVL(I.INSPC_REMK, ' ') AS INSPC_REMK
			FROM BF_EQP_INSPC I
			JOIN BF_EQP_MCHN M
			    ON I.MCHN_CODE = M.MCHN_CODE
			JOIN BF_CMN_EMP E
			    ON E.EMP_ID = I.EMP_ID
		<if test="(inspcSdate != null and inspcSdate != '') and (inspcEdate != null and inspcEdate != '')">
			AND I.INSPC_EDATE BETWEEN TO_DATE(#{inspcSdate}, 'YY/MM/DD') AND TO_DATE(#{inspcEdate}, 'YY/MM/DD')
		</if>
	</select>
	
	<!-- 설비점검대상조회(모달창) -->
	<select id="findNxtDate" resultType="inspc">
		SELECT MCHN_CODE, MCHN_NAME, MCHN_INSPC_NXT_DATE
		FROM BF_EQP_MCHN
		WHERE MCHN_INSPC_NXT_DATE BETWEEN TO_DATE(SYSDATE) AND TO_DATE(SYSDATE+7)
    	ORDER BY MCHN_INSPC_NXT_DATE
	</select>

	<select id="listInspc" resultType="inspc">
		SELECT INP.MCHN_CODE, 
            	MC.MCHN_NAME, 
            	INP.INSPC_SDATE, 
            	INP.INSPC_EDATE,
            	MC.MCHN_INSPC_CYCLE, 
            	INP.INSPC_NXT_DATE, 
            	INP.INSPC_ACTN_PNT, 
            	NVL(INP.INSPC_ACTN_RSN, ' ') AS INSPC_ACTN_RSN, 
            	EMP.EMP_NAME,
            	NVL(INP.INSPC_REMK, ' ') AS INSPC_REMK
		FROM BF_EQP_INSPC INP JOIN BF_EQP_MCHN MC
			ON INP.MCHN_CODE = MC.MCHN_CODE
		JOIN BF_CMN_EMP EMP
			ON INP.EMP_ID = EMP.EMP_ID
		ORDER BY INP.INSPC_EDATE
	</select>
	
	<!-- 검색조건 SQL -->
	<sql id="criteria">
		<if test="keyword != null and keyword != '' and keyword2 != null and keyword2 != ''">
			AND INP.INSPC_EDATE BETWEEN #{inspcSdate} AND #{inspcEdate}
		</if>
		<if test="keyword3 != null and keyword3 != ''">
			AND INP.MCHN_CODE = #{keyword3}
		</if>
	</sql>
	
	<select id="findListInspcCount" resultType="int">
		SELECT COUNT(*)
		FROM BF_EQP_INSPC INP JOIN BF_EQP_MCHN MC
			ON INP.MCHN_CODE = MC.MCHN_CODE
		JOIN BF_CMN_EMP EMP
			ON INP.EMP_ID = EMP.EMP_ID
		<where>
			<include refid="criteria" />
		</where>
	</select>
	
	<select id="findListInspc" resultType="inspc">
		SELECT X.* FROM(
			SELECT Y.*, ROWNUM AS RNUM FROM (
						SELECT INP.MCHN_CODE, 
			            	MC.MCHN_NAME, 
			            	INP.INSPC_SDATE, 
			            	INP.INSPC_EDATE,
			            	MC.MCHN_INSPC_CYCLE, 
			            	INP.INSPC_NXT_DATE, 
			            	INP.INSPC_ACTN_PNT, 
			            	NVL(INP.INSPC_ACTN_RSN, ' ') AS INSPC_ACTN_RSN, 
			            	EMP.EMP_NAME,
			            	NVL(INP.INSPC_REMK, ' ') AS INSPC_REMK
					FROM BF_EQP_INSPC INP JOIN BF_EQP_MCHN MC
						ON INP.MCHN_CODE = MC.MCHN_CODE
					JOIN BF_CMN_EMP EMP
						ON INP.EMP_ID = EMP.EMP_ID
					<where>
						<include refid="criteria" />
					</where> ) Y
				<where>
					<![CDATA[ AND ROWNUM <= #{pageNum}*#{amount}   ]]>
				</where>
			) X
		WHERE X.RNUM > (#{pageNum}-1)*#{amount}
		
	</select>
	
	
</mapper>