<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.eqp.mapper.NonOperationMapper">

	<select id="findMchn" resultType="vmchn">

		SELECT * FROM v_findmchn
		<where>
			<if test="procCdName != '전체'">
				AND proc_cd_name LIKE '%'||#{procCdName}||'%'
			</if>
		</where>


	</select>


	<!-- 비가동코드 검색 -->

	<select id="findNonOp" resultType="nonOpVO">
		SELECT * FROM BF_CMN_NON_OP
		<where>
			<if test="nonOpCode != null and nonOpCode != ''">
				AND non_op_code LIKE #{nonOpCode}
			</if>
			<if test="nonOpName != null and nonOpName != ''">
				AND non_op_name LIKE #{nonOpName}
			</if>

		</where>

	</select>

	<!-- 설비 비가동 조회 -->
	<select id="findAllNonOpHistory" resultType="NonOpHistoryVO">
		SELECT eqp.mchn_code
		AS mchnCode,
		eqp.mchn_name AS mchnName,
		nonophistory.input_date AS
		inputDate,
		nonop.non_op_name AS nonOpName,
		nonophistory.non_op_rsn AS
		nonOpRsn,
		nonophistory.non_op_min AS nonOpMin,
		nonophistory.non_op_start_time AS nonOpStartTime,
		nonophistory.non_op_end_time AS nonOpEndTime
		FROM BF_EQP_MCHN eqp,
		BF_EQP_NON_OP_HISTORY nonophistory,
		BF_CMN_NON_OP nonop
		WHERE
		eqp.mchn_code = nonophistory.mchn_code AND
		nonophistory.non_op_code =
		nonop.non_op_code

	</select>


	<!-- 시작설비상태 업데이트 -->

	<update id="startMchnStatusUpdate">

		UPDATE BF_EQP_MCHN
		SET mchn_stts = '비가동'
		WHERE mchn_code=#{mchnCode}
	</update>
	
	<!-- 종료 설비 상태 업데이트 -->
	<update id="endMchnStatusUpdate">
		UPDATE BF_EQP_MCHN
		SET mchn_stts = '진행전'
		WHERE mchn_code=#{mchnCode}
	</update>
	
	
	<!--입력번호 찾기 -->
	
	<select id="findInputNo" resultType="int">
		SELECT NVL(MAX(input_no),0)+1 FROM BF_EQP_NON_OP_HISTORY
	</select>
	

</mapper>