<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.bf.eqp.mapper.NonOperationMapper">

<select id="findMchn" resultType="vmchn">

SELECT * FROM v_findmchn WHERE proc_cd_name LIKE '%'||#{procCdName}||'%'

</select>

<!-- 비가동코드 전체 조 -->
<select id="findAllNonOp" resultType="nonOpVO">

SELECT * FROM BF_CMN_NON_OP

</select>

<!-- 비가동코드 단건 검색 -->

<select id="findNonOp" resultType="nonOpVO">
SELECT * FROM BF_CMN_NON_OP
<where>
	<if test="nonOpCode != null and nonOpCode != ''">
		AND WHERE non_op_code LIKE #{nonOpCOde}
	</if>
	<if test="nonOpName != null and nonOpName != ''">
		AND WHERE non_op_name LIKE #{nonOpName}
	</if>

</where>

</select>


</mapper>